# Pandas Basics

In [5]:
children = ["Andrew","Laura","Joe"]
lol_children = [[c, len(c)]  for c in children]
lol_children

[['Andrew', 6], ['Laura', 5], ['Joe', 3]]

In [ ]:
# may need to run on download from python.org
!pip install pandas

In [6]:
# 1. DataFrame from List Of Lists - row
import pandas as pd
df_lol_children = pd.DataFrame(lol_children,columns = ["child","charlen"])
df_lol_children

    child  charlen
0  Andrew        6
1   Laura        5
2     Joe        3

In [7]:

len_char = [len(c) for c in children]
print(len_char)
d_children = {"child": children, "charlen": len_char}
print(d_children)

[6, 5, 3]
{'child': ['Andrew', 'Laura', 'Joe'], 'charlen': [6, 5, 3]}

In [8]:
#2. DataFrame from dictionary of lists - column
df_d_children = pd.DataFrame(d_children)
df_d_children

    child  charlen
0  Andrew        6
1   Laura        5
2     Joe        3

In [9]:
d_children_v2 =[ {"child": c, "charlen":  len(c)} for c in children ]
d_children_v2

[{'child': 'Andrew', 'charlen': 6},
 {'child': 'Laura', 'charlen': 5},
 {'child': 'Joe', 'charlen': 3}]

In [10]:
# 3. DataFrame from List Of Dictionaries - row
df_d_children_2 = pd.DataFrame(d_children_v2)
df_d_children_2

    child  charlen
0  Andrew        6
1   Laura        5
2     Joe        3

In [11]:
type(df_d_children)

pandas.core.frame.DataFrame

In [12]:
df_d_children?

Type:        DataFrame
String form:
    child  charlen
0  Andrew        6
1   Laura        5
2     Joe        3
Length:      3
File:        c:\users\andre\appdata\local\programs\python\python311\lib\site-packages\pandas\core\frame.py
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, dataclass or list-like objects. If
    data is a dict, column order follows insertion-order. If a dict contains Series
    which have an index defined, it is aligned by its index.

    .. versionchanged:: 0.25.0
       If data is a list of dicts, column order follows insertion-order.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame when data does not have them,
    defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
    will perform column selection instead.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool or None, default None
    Copy data from inputs.
    For dict data, the default of None behaves like ``copy=True``.  For DataFrame
    or 2d ndarray input, the default of None behaves like ``copy=False``.
    If data is a dict containing one or more Series (possibly of different dtypes),
    ``copy=False`` will ensure that these inputs are not copied.

    .. versionchanged:: 1.3.0

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_table : Read general delimited file into DataFrame.
read_clipboard : Read text from clipboard into DataFrame.

Notes
-----
Please reference the :ref:`User Guide <basics.dataframe>` for more information.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from a dictionary including Series:

>>> d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
>>> pd.DataFrame(data=d, index=[0, 1, 2, 3])
   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Constructing DataFrame from a numpy ndarray that has labeled columns:

>>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
>>> df3 = pd.DataFrame(data, columns=['c', 'a'])
...
>>> df3
   c  a
0  3  1
1  6  4
2  9  7

Constructing DataFrame from dataclass:

>>> from dataclasses import make_dataclass
>>> Point = make_dataclass("Point", [("x", int), ("y", int)])
>>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
   x  y
0  0  0
1  0  3
2  2  3

In [14]:
list(df_d_children.columns)

['child', 'charlen']

In [15]:
df_d_children.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   child    3 non-null      object
 1   charlen  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

## Get the data

In [23]:
#poll_url = 'http://projects.fivethirtyeight.com/general-model/president_general_polls_2016.csv'
poll_url = 'H:\president_general_polls_2016.csv'

polls = pd.read_csv(poll_url)

In [20]:
type(polls)

pandas.core.frame.DataFrame

In [24]:
len(list(polls.columns))

27

In [25]:
list(polls.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12624 entries, 0 to 12623
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cycle             12624 non-null  int64
 1   branch            12624 non-null  object
 2   type              12624 non-null  object
 3   matchup           12624 non-null  object
 4   forecastdate      12624 non-null  object
 5   state             12624 non-null  object
 6   startdate         12624 non-null  object
 7   enddate           12624 non-null  object
 8   pollster          12624 non-null  object
 9   grade             11337 non-null  object
 10  samplesize        12621 non-null  float64
 11  population        12624 non-null  object
 12  poll_wt           12624 non-null  float64
 13  rawpoll_clinton   12624 non-null  float64
 14  rawpoll_trump     12624 non-null  float64
 15  rawpoll_johnson   8397 non-null   float64
 16  rawpoll_mcmullin  90 non-null     float64
 17  adjpoll_clinton   12624 non-null  float64
 18  adjpoll_trump     12624 non-null  float64
 19  adjpoll_johnson   8397 non-null   float64
 20  adjpoll_mcmullin  90 non-null     float64
 21  multiversions     36 non-null     object
 22  url               12621 non-null  object
 23  poll_id           12624 non-null  int64
 24  question_id       12624 non-null  int64
 25  createddate       12624 non-null  object
 26  timestamp         12624 non-null  object
dtypes: float64(10), int64(3), object(14)
memory usage: 2.6+ MB

TypeError: 'NoneType' object is not iterable

In [27]:
df_d_children

    child  charlen
0  Andrew        6
1   Laura        5
2     Joe        3

In [28]:
df_d_children.T

              0      1    2
child    Andrew  Laura  Joe
charlen       6      5    3

In [30]:
polls.describe().T

,count,mean,std,min,25%,50%,75%,max
cycle,12624.0,2016.000000,0.000000,2016.000000,2016.000000,2016.000000,2016.000000,2016.000000
samplesize,12621.0,1148.216068,2630.647790,35.000000,447.000000,772.000000,1237.000000,84292.000000
poll_wt,12624.0,0.255431,0.669326,0.000000,0.000358,0.008172,0.086735,8.720654
rawpoll_clinton,12624.0,41.990860,7.727792,11.040000,38.000000,43.000000,46.200000,88.000000
rawpoll_trump,12624.0,39.828710,7.877327,4.000000,35.000000,40.000000,45.000000,68.000000
rawpoll_johnson,8397.0,7.381740,2.959274,0.000000,5.400000,7.000000,9.000000,25.000000
rawpoll_mcmullin,90.0,24.004000,5.638641,9.000000,22.000000,25.000000,28.000000,31.000000
adjpoll_clinton,12624.0,43.323005,7.095235,17.064950,40.210697,44.148045,46.908830,86.772180
adjpoll_trump,12624.0,42.667719,6.948256,4.372936,38.445588,42.716265,46.313520,72.437390
adjpoll_johnson,8397.0,4.655091,2.472636,-3.677883,3.136837,4.375392,5.761469,20.366840
adjpoll_mcmullin,90.0,24.511497,5.174286,11.028320,22.814548,25.136030,28.067610,31.583810
poll_id,12624.0,45910.899477,2864.536271,35362.000000,45151.750000,46384.500000,47741.250000,48922.000000
question_id,12624.0,71591.326046,4699.401001,47244.000000,69548.500000,72516.500000,74724.250000,76636.000000

In [ ]:
polls.describe(datetime_is_numeric=True).T

In [ ]:
polls.describe(include="datetime").T

In [ ]:
polls.describe(include="O").T

In [ ]:
#SELECT startdate, count(*) from polls group by startdate
polls.samplesize.value_counts()

In [ ]:
polls["startdate"] = pd.to_datetime(polls["startdate"])

In [ ]:
polls["enddate"] = pd.to_datetime(polls["enddate"])

In [ ]:
polls.head(5).T

In [ ]:
polls["forecastdate"] = pd.to_datetime(polls["forecastdate"])

In [ ]:
polls.info()

In [ ]:
polls.columns

In [ ]:
polls.dtypes

In [ ]:
polls.tail()

## Sort the data

In [ ]:
polls.enddate.max()

In [ ]:
polls.sort_values('enddate', ascending=False, inplace=True)
polls.head()

## Use lists, slices, tuples, and dictionary objects

### A list

In [ ]:
# columns=['cycle','branch','matchup','forecastdate'], inplace=True
dict_input = {"columns":['cycle','branch','matchup','forecastdate'], "inplace":True}
polls.drop(**dict_input)
polls.head(2)

### A dictionary, ranges and comprehension

In [ ]:
polls = polls.rename(columns={'adjpoll_clinton':'Clinton',
                      'adjpoll_trump':'Trump'})
polls.info()

In [ ]:
len(polls)

In [ ]:
num = [f for f in range(0,12624)]
num

In [ ]:
num[0:100]

### Two slices

In [ ]:
foo = polls.loc[0:100:10,'state':'grade'].index
foo

In [ ]:
",".join([str(f) for f in foo])