###  Create dataframe and perform calculations/operations.

https://pandas.pydata.org/docs/reference/api/pandas.Series.html


# Options with dataframe index:
df.indx #  print index 
df.set("DATE") # changing index to date column but it will not override the original.
df.set("DATE", inplace=True)  # this will override the orginal index.
df.loc["1/1/2023"]  # accessing index by DATE.
df.reset_index(inplace=True) # reset index back to original.
df.set_index["DATE", inplace=True] # reset the index column name back to DATE.



# Options with dataframe:
df.head(2) # print the first two rows
df.tail(2)
df.shape  # print rows and columns in tuple.
rows, columns = df.shape
df[2:5]  # print row 2 - 4.
df.columns # will print all the column names.
df.DATE # will print the entire column but it will not print the column name. 
df[["DATE", "FUEL_COST_PER_GAL" ]]  # print multliple columns.

### How to transpone the column to rows 
New_Sales_Goal = df.T  # Transpose = transfer columns to rows.

In [ ]:
import pandas as pd

In [49]:

# Creating table from dictionaries. 
# The keys will be the name of the name of the columns.
# The values are from the list [].


import pandas as pd

ABC_Sales_Goal = {
"Year_2023": ["January, 2023", "Febuary, 2023", "March, 2023", "April, 2023", "May, 2023", "June, 2023", "July, 2023" ],
"Earning": [1000, 1500, 1000, 1200, 1500, 1300, 2000, ],
"Year_2024": ["January, 2024", "Febuary, 2024", "March, 2024", "April, 2024", "May, 2024", "June, 2024", "July, 2024" ],  
"Goal": [4000, 5000, 6000, 7000, 8000, 9000, 10000 ]
}

# Create dataframe.
df = pd.DataFrame(ABC_Sales_Goal)
df
#New_Sales_Goal = df.T  # Transpose = transfer columns to rows.
print(df)
print ()
#print(New_Sales_Goal)
Quick_View = df.describe()
M1= df["Earning"].mean()
M2= df["Earning"].max()
M3= df["Earning"].min()
M4= df["Earning"].sum()

print(Quick_View)
print()
print("Avg_Value ", M1)
print("Max_Value ", M2)
print("Mini ", M3)
print("Total ", M4)

       Year_2023  Earning      Year_2024   Goal
0  January, 2023     1000  January, 2024   4000
1  Febuary, 2023     1500  Febuary, 2024   5000
2    March, 2023     1000    March, 2024   6000
3    April, 2023     1200    April, 2024   7000
4      May, 2023     1500      May, 2024   8000
5     June, 2023     1300     June, 2024   9000
6     July, 2023     2000     July, 2024  10000

           Earning          Goal
count     7.000000      7.000000
mean   1357.142857   7000.000000
std     350.509833   2160.246899
min    1000.000000   4000.000000
25%    1100.000000   5500.000000
50%    1300.000000   7000.000000
75%    1500.000000   8500.000000
max    2000.000000  10000.000000

Avg_Value  1357.142857142857
Max_Value  2000
Mini  1000
Total  9500

In [31]:
df[df.Earning >= 1500 ]

       Year_2023  Earning      Year_2024   Goal
1  Febuary, 2023     1500  Febuary, 2024   5000
4      May, 2023     1500      May, 2024   8000
6     July, 2023     2000     July, 2024  10000

In [57]:
# print only these 3 columns with the result.
df[["Year_2023", "Earning", "Goal"]][df.Earning==df.Earning.max()]

    Year_2023  Earning   Goal
6  July, 2023     2000  10000

In [48]:
New_Goal = df[["Year_2023", "Earning", "Goal"]]
print(New_Goal)

       Year_2023  Earning   Goal
0  January, 2023     1000   4000
1  Febuary, 2023     1500   5000
2    March, 2023     1000   6000
3    April, 2023     1200   7000
4      May, 2023     1500   8000
5     June, 2023     1300   9000
6     July, 2023     2000  10000