## Exercise
Use code to create all of the following to accomplish one or more tasks:
1. list
1. set
1. tuple
1. dictionary
1. function

Extra credit using index of variables and comprehensions

In [ ]:
'''
Four basic data structures in Python
Lists - writable, iterable, numeric indexed/subscriptable
Sets - read-only, iterable, not index
Tuples - read-only, iterable, numeric indexed/subscriptable
Dictionaries - writable, iterable key indexed/subscriptable
'''

How to use set()


" SETs cannot have value of duplicate. It must be unique."
" It uses {}"
" The order can changed with each execution"
"print(Courses_01.difference(Courses_02)) - Science and English not listed in Courses_02"
"print(Courses_01.difference(Courses_02)) - Math and Physics are listed in Courses_01 and Courses_02"
"print(Courses_01.union(Courses_02))- will print both sets but not duplicate value "

In [1]:
Courses_01 = {"Math", "Science", "English", "Physics"}
Courses_02 = {"Math", "Data Science", "Spanish", "Physics"}
print(Courses_01.difference(Courses_02))  # The difference between courses_01 and courses_02 are English and Science.
print(Courses_01.intersection(Courses_02))  #  Math and Physic are in both courses_01 and courses_02
print(Courses_01.union(Courses_02))  # combine with courses together.

{'English', 'Science'}
{'Math', 'Physics'}
{'English', 'Science', 'Data Science', 'Spanish', 'Math', 'Physics'}

How to work with Tuple().

" TUPLE is similar to LIST "mutable" but it cannot be CHANGED or MODIFIED or called immutable"
" You cannot use append or remove functions"

In [ ]:
tup1 = ("Apple", "Berry", "Carrot", "Dates", "Eggplant")
print(tup1)
print(type(tup1))

In [ ]:
"Single element will not consider as tuple, it's consider as string"
tup2 = ("Apple")
print(tup2)
print(type(tup2))

"Single element will not consider as tuple, it's consider as string"
" If adding a comma, python will see it as tuple"
tup2 = ("Apple", )
print(tup2)
print(type(tup2))

In [2]:
" To access element in the tuple"
tup1 = ("Apple", "Berry", "Carrot", "Dates", "Eggplant")
print(tup1[0])

Apple

In [ ]:
"Accessing the last element"
tup1 = ("Apple", "Berry", "Carrot", "Dates", "Eggplant")
print(tup1[-1])

tup1 = ("Apple", "Berry", "Carrot", "Dates", "Eggplant")
print(tup1[1:3])

"It counts 2 apples in the tuple"
tup1 = ("Apple", "Berry", "Carrot", "Dates", "Eggplant", "Apple")
print(tup1.count("Apple"))

" It count but cannot found, the result is 0"
tup1 = ("Apple", "Berry", "Carrot", "Dates", "Eggplant", "Apple")
print(tup1.count("Papaya"))


"If you want to add element to tuple, follow this step"
"First: convert tuple to a list"
"Second: add element to the list"
"Third: change the list back to tuple"
tup1 = ("Apple", "Berry", "Carrot", "Dates", "Eggplant", "Apple")
y=list(tup1)
y.append("Guava")
tup1=tuple(y)
print(tup1)


"Adding 2 tuple together"
tup1 = ("Apple", "Berry", "Carrot", "Dates", "Eggplant", "Apple")
tup2 = ("Guava", "Carrot")
tup1+=tup2
print(tup1)
"Accessing the last element"
tup1 = ("Apple", "Berry", "Carrot", "Dates", "Eggplant")
print(tup1[-1])

tup1 = ("Apple", "Berry", "Carrot", "Dates", "Eggplant")
print(tup1[1:3])

"It counts 2 apples in the tuple"
tup1 = ("Apple", "Berry", "Carrot", "Dates", "Eggplant", "Apple")
print(tup1.count("Apple"))

" It count but cannot found, the result is 0"
tup1 = ("Apple", "Berry", "Carrot", "Dates", "Eggplant", "Apple")
print(tup1.count("Papaya"))


"If you want to add element to tuple, follow this step"
"First: convert tuple to a list"
"Second: add element to the list"
"Third: change the list back to tuple"
tup1 = ("Apple", "Berry", "Carrot", "Dates", "Eggplant", "Apple")
y=list(tup1)
y.append("Guava")
tup1=tuple(y)
print(tup1)


"Adding 2 tuple together"
tup1 = ("Apple", "Berry", "Carrot", "Dates", "Eggplant", "Apple")
tup2 = ("Guava", "Carrot")
tup1+=tup2
print(tup1)


"Using for loop to print"
tup1 = ("Apple", "Berry", "Carrot", "Dates", "Eggplant", "Apple")
tup2 = ("Guava", "Carrot")
tup1+=tup2
for x in tup1:
    print(x)


"Using for loop to print"
tup1 = ("Apple", "Berry", "Carrot", "Dates", "Eggplant", "Apple")
tup2 = ("Guava", "Carrot")
tup1+=tup2
for x in tup1:
    print(x)

Creating a list called siblings.

In [42]:
siblings =["Jim","Janet","Laura","Joe"]
type(siblings)
print(siblings)

['Jim', 'Janet', 'Laura', 'Joe']

Adding Andrew to the list using append().

In [56]:
siblings.append('Andrew')
siblings

['Jim', 'Janet', 'Joe', 'Andrew', 'Andrew']

Count number of elements in the list using len().

In [57]:
len(siblings)

5

Accessing element in the list by index[] position.
Jim is in the first[0] index position.

In [58]:
#Python is 0 indexed, R and SQL are 1 indexed
siblings[0]

'Jim'

In [59]:
#append is list as a queue FIFO - First On First Out
siblings.append("Elizabeth")
siblings

['Jim', 'Janet', 'Joe', 'Andrew', 'Andrew', 'Elizabeth']

By default pop() removes the last element in the list.

In [60]:
#pop is list as a stack LIFO - Last In First Out
kid = siblings.pop()
print(kid)
siblings

Elizabeth

['Jim', 'Janet', 'Joe', 'Andrew', 'Andrew']

Removing element #2 "Joe" in the list.

In [61]:
kid = siblings.pop(2)
print(kid)
siblings

Joe

['Jim', 'Janet', 'Andrew', 'Andrew']

In [62]:
#example of iterating through a list.
# Using for loop to print siblings.
for person in siblings: print(person)

Jim
Janet
Andrew
Andrew

Using for loop to print 'Name'. Each pass it prints a character.

In [63]:
for n in 'Name': print(n)

N
a
m
e

In [64]:
kid[3]

IndexError: string index out of range

TUPLE is the same as list, except elements cannot be changed(IMMUTABLE) but allows duplicate values.
The list is encloded by square () and separated by commas (,).

type() will display data type.

In [65]:
siblings_tuple = ("Jim","Janet","Laura","Joe")
type(siblings_tuple)

tuple

In [66]:
siblings_tuple

('Jim', 'Janet', 'Laura', 'Joe')

Accessing siblings_tuple position 2.

In [67]:
siblings_tuple[2]

'Laura'

Tuple cannot be changed, removed or add new element to the list.

In [68]:
siblings_tuple.append('Andrew')

AttributeError: 'tuple' object has no attribute 'append'

" SETs cannot have value of duplicate. It must be unique."
" It uses {}"
" The order can changed with each execution"

In [ ]:
siblings_set ={"Jim","Janet","Laura","Joe","Andrew"}
type(siblings_set)

set

In [ ]:
people = {"Temi", "Brian", "Brandon","Jaquellous","Rebecca","Darian", "Andrew"}

In [ ]:
people & siblings_set

{'Andrew'}

In [ ]:
people[1]

TypeError: 'set' object is not subscriptable

In [ ]:
people | siblings_set

{'Andrew',
 'Brandon',
 'Brian',
 'Darian',
 'Janet',
 'Jaquellous',
 'Jim',
 'Joe',
 'Laura',
 'Rebecca',
 'Temi'}

In [ ]:
blist = [1,2,3,4,5,4,3,4,5,6]
set(blist)

{1, 2, 3, 4, 5, 6}

DICTIONARIES is a collection of objects, values or items of different types stored in key-value pair
format.  These multiple key-value pairs created are enclosed within the curly braces{}, and each
key is separated form its value by the colon : 

example: 
Dict1 = {"a":1, "b":2, "c":3}

In this example:
"a" is the key.
1 is the corsponding value.

Charteristic of dictionary: 
* elements are order and it cannot be changed.
* elements cannot be access by index.
* it can be stored various types of elements.
* dictionaries are mutable.
* it does not allow duplicate elements with the same key.

List of methods for dictionaries:
dict1.clear()
dict1.get(keyname)
dict1.keys()
dict1.pop(keyname)
dict1.popitem()
len(dictionariesname)
dict1.copy()

"a" is the key.
1 is the corresponding value of "a".

In [ ]:
#dictionary  a key-value pair
d_sample = {"a":1 , "b":2}
type(d_sample)

dict

List Comprehension is shorter way to write code.

In [69]:
#Python comprehension for dictionary
d_people ={k:len(k) for k in people}

NameError: name 'people' is not defined

Creating dictionaries contain keys and its corresponding values.

In [ ]:
A_student = {"name": "Dolly Siharath", "age": "18", "courses": ["Math", "CompSci"] }
print(A_student)
print(A_student["courses"])
print(A_student.keys()) # print key values only.
print(A_student.values()) # print values only.

Using get method to access value in the key.
If the key does not exist, than print "not found".

In [ ]:
A_student = {"name": "Dolly Siharath", "age": "18", "courses": ["Math", "CompSci"] }
print(A_student.get("name", " not found"))
print(A_student.get("name01", " not found"))

Adding telephone number to the dictionaries.

In [80]:
A_student = {"name": "Dolly Siharath", "age": "18", "courses": ["Math", "CompSci"] }
A_student["phone"] = "469-555-1212"
print(A_student.get("phone", " not found"))

469-555-1212

In [81]:
d_people

NameError: name 'd_people' is not defined

Define dictionaries - keys

In [ ]:
#dictionary built-in attributes
d_people.keys()

dict_keys(['Temi', 'Darian', 'Andrew', 'Brandon', 'Jaquellous', 'Brian', 'Rebecca'])

In [ ]:
#dictionary built-in attributes
type(d_people.keys())

dict_keys

In [ ]:
# list comprehension from dictionary
[d for d in d_people.keys()]

['Temi',
 'Darian',
 'Andrew',
 'Brandon',
 'Jaquellous',
 'Brian',
 'Rebecca',
 'Jason']

In [ ]:
type([d for d in d_people.keys()])

list

In [ ]:
d_people.values()

dict_values([4, 6, 6, 7, 10, 5, 7])

In [ ]:
# list comprehension from dictionary
[v for v in d_people.values()]

[4, 6, 6, 7, 10, 5, 7]

In [ ]:
# subscriptable/indexed assignment for update/insert
d_people["Jason"] = 9
d_people

{'Temi': 4,
 'Darian': 6,
 'Andrew': 6,
 'Brandon': 7,
 'Jaquellous': 10,
 'Brian': 5,
 'Rebecca': 7,
 'Jason': 9}

Adding new key and value to the dictionaris.

In [ ]:
d_people["newKid"] = 9
d_people

{'Temi': 4,
 'Darian': 6,
 'Andrew': 6,
 'Brandon': 7,
 'Jaquellous': 10,
 'Brian': 5,
 'Rebecca': 7,
 'Jason': 9,
 'newKid': 9}

Using functions()

In [ ]:
#sample function
def count_char(name):
    '''counts number of characters in input'''
    return len(name)

In [ ]:
# example of trying to use glocal variable as global
name

NameError: name 'name' is not defined

In [ ]:
count_char?

Signature: count_char(name)
Docstring: counts number of characters in input
File:      c:\users\andre\appdata\local\temp\ipykernel_91712\3769221190.py
Type:      function

In [ ]:
count_char('Python')

# name = 'Python'

6

In [ ]:
int_strlen = count_char("how long is this sentence?")
int_strlen

26

In [ ]:
count_char('Python')

6

In [ ]:
# function with conditional code block
def fun_longerword(word1,word2):
    '''compares length of words and shows longer one'''
    len_w1 = len(word1)
    len_w2 = len(word2)
    if len_w1 < len_w2:
        print("{} is longer".format(word2))
    else:
        print("{} is longer".format(word1))

In [ ]:
fun_longerword(word2="eggs",word1="bacon")

bacon is longer

In [ ]:
# **kwargs
# pointer
d_param = {"name":"Python"}

In [ ]:
type(d_param)

dict

In [ ]:
count_char(**d_param)
#count_char(name='Python')

6

In [ ]:
print("hello "+kid)

hello Laura

In [ ]:
print(f"Hello {siblings}")

Hello ['Jim', 'Janet', 'Joe', 'Andrew']

In [ ]:
print("Hello {0} {3} {2}".format(*siblings))

Hello Jim Andrew Joe

In [ ]:
def count_char2(name):
    return name, len(name)

In [ ]:
a = count_char2(**d_param)
a[0]

'Python'

In [ ]:
type(a)

tuple

In [ ]:
var_out = count_char2(**d_param)
type(var_out)

tuple

In [ ]:
var_out

('Python', 6)

In [ ]:
var_out[1]

6

In [ ]:
nm, num = count_char2(**d_param)
print(nm)
print(num)

Python
6

How to use function().
def = define function.
greeting = function name.
Everytime the function is called, it runs or performs everying inside the body the function.

Next step to to call function and pass name "Drew" to teh argument(name).

greeting("Drew")

In [2]:
def greeting(name):
    print("Hello", name)
    print("How are you doing today?")
    
greeting("Drew")

Hello Drew
How are you doing today?

How to pass 2 arguments in the function.

In [11]:
def add_numbers(n1, n2):
   x = n1 + n2
   return x  # return the results of X to the called function.


number01 = 50
number02 = 100
results = add_numbers(number01, number02) # assigned the results of X to a variable.
print("the sum is = ", results)

the sum is =  150

In [33]:
add_numbers("Hello","World")

'HelloWorld'

In [15]:
# another example of def.
def add(n1, n2):
    return(n1 + n2)
    

sum = add(50, 100)
print(sum)

150

Key Word Argument - **kwargs
** will collect the entire address.

In [ ]:
def my_info(my_name, **address):
    print(my_name)
    # print(address)
    for i, items in address.items():
        print(i, items )
    
    
my_info("Dolly Siharath", age=21, city="Irving", state="TX", Zip=75038 )

Another Example of using args.
*args is used to collect arugents that are passing in. 
key=None will not collect key value pairs.
    exaple: key=123

In [45]:
def Grocery(*args, key=None): ## the order of the args is important.
    print("My grocery list ", args)


Grocery("fruits,", "cat food", "eggs", "milk", key=444)

My grocery list  ('fruits,', 'cat food', 'eggs', 'milk')

How to use **kwargs to collect multiple key-word arguments in pair.
       cash=300, key=113

In [43]:
def Grocery(*args, **kwargs ): 
    print("My grocery list ", args, kwargs)


Grocery("dog food","cat food", cash=300, key=113 )

My grocery list  ('dog food', 'cat food') {'cash': 300, 'key': 113}