### Exercise
1. Create a complex data type
    1. Use a combination of at least two of these data structure in one variable
        1. list
        1. dictionary
        1. tuple
        1. set

1. Write two functions
    1. Requirements
        1. Use exception handling
    1. one function that reads a file from the complex data type
    1. one function that writes a file from the complex data type

### Working with LISTS/inner_list in a LIST. 

Buiding lists with append(). 
Append() is a basic way to add  an element to a list.
It takes the element and add to the end of existing list.
Append only add one element to the list at a time. 

1. create a list. 
2. call append() to the list: 
3. add the elements inside of the () to add to the list.

In [4]:
# Append/ adding grades to the list.
student_grades = [ [50, 55, 60], [70], [80, 85, 90, 95]]
student_grades[0].append(65)
student_grades[1].append(75)
student_grades[2].append(100)
print(student_grades[0])
print(student_grades[0][2])
print(student_grades[1])
print(student_grades[2])

[50, 55, 60, 65]
60
[70, 75]
[80, 85, 90, 95, 100]

### Using for loop to print the list.

In [227]:
for inner_list in student_grades:
    print(inner_list)

[50, 55, 60, 65]
[70, 75]
[80, 85, 90, 95, 100]

In [221]:
# Using for loop to print the inner lists.
for inner_list in student_grades:
    for grades in inner_list:
       print(grades, end=" ")

50 55 60 65 70 75 80 85 90 95 100

In [242]:
# Another optoin to print by index.
for i in range(len(student_grades)):
    for grades in range(len(student_grades[i])):
        print(student_grades[i][grades], end=" ")
    print() # print next line.

50 55 60 65
70 75
80 85 90 95 100

### Using fuction to print.

In [252]:
def print_student_grades(p1):
    for inner_list in student_grades:
        for grades in inner_list:
            print(grades, end=" ")

print_student_grades(student_grades) # must pass the(argument) values/results of something to p1(parameter).

50 55 60 65 70 75 80 85 90 95 100


Another option to add element to the list using expression
** nums[len(nums):] = [5]
Because append add one element to the end of the list at a time.
Using a slice method to add multiple elements to the list.

In [ ]:
nums = [ 1, 2, 3, 4]
nums[len(nums):] = ["END OF LIST"]
print(nums)

In [7]:
nums = [ 1, 2, 3, 4]
nums[len(nums):] = [5, 6, 7,]
print(nums)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# see the difference with using append.
nums = [ 1, 2, 3, 4]
nums.append( [5, 6, 7,])
print(nums)

In [14]:
# Adding tuple to the list using append as a single element.
x = [1, 2, 3, 4]
y = (5, 6, 7)
x.append(y)
print(x)

[1, 2, 3, 4, (5, 6, 7)]

In [11]:
# If you want to add as the 5th element to the existing list 
# use the extend.
x = [1, 2, 3, 4]
x.extend([5, 6, 7])
print(x)

[1, 2, 3, 4, 5, 6, 7]

Adding tuple to list  using extend as the 5th element in the list. So use the extend when you want to add multiple elements to the list, and not using append.

In [13]:
x = [1, 2, 3, 4]
t = (5, 6, 7)
x.extend(t)
print(x)

[1, 2, 3, 4, 5, 6, 7]

In [15]:
import math

In [19]:
# Populate a list using def.
def sq_root(numbers):
    sq_list = []
    for i in numbers:
        sq_list.append(math.sqrt(i))  # compute the sq root number and append to existing list.
    return sq_list                    # repeat the process for every number provided in the augument.
                                    # the return is outside of the loop and returns the entire results back to the print.
numbers = [9, 27, 16, 25]
print(sq_root(numbers))

[3.0, 5.196152422706632, 4.0, 5.0]

### How to use set.
Set is the same as a list but it cannot have duplicates.
Set is used to compare if there are differences of elements in the two sets. 
Set is also used find the intersection(the same elements) in the multiple lists.

" SET uses {}
example: Courses_01 = {"Math", "Science", "English", "Physics"}

Another option to create a set, taking a list and pass it into set().
Courses_01 = set(["Math", "Science", "English"]) 

notes:
** The order can changed with each execution.
** {} empty curly braces will create dictions.
** set() to create empty set.

Methods and example of using set:
Courses_01 = {"Math", "Science", "English", "Physics"}
Courses_02 = {"Math", "Data Science", "Spanish", "Physics"}
print(Courses_01.difference(Courses_02))  # The difference between courses_01 and courses_02 are English and Science.
print(Courses_01.intersection(Courses_02))  #  Math and Physic are in both courses_01 and courses_02

In [50]:
Courses_01 = set(["Math", "Science", "English"]) 
print(Courses_01)

# convert or casted a list to set and remove any duplicates
# than convert the set back to a list as seen below:

s1 = [ 1, 2, 3, 4, 5, 5, 5, 4]
s2 = set(s1)  #transfer the list to set and remove any duplicates.
s2 = list(set(s1)) # convert the set back in a list without the duplicates by wraping the results back to a list.
print(s2)

{'Math', 'Science', 'English'}
[1, 2, 3, 4, 5]

In [28]:
# Adding elements to a set.
Courses_01 = {"Math", "Science", "English", "Physics"}
Course_nums = {100, 200, 300}
Courses_01.add("Biology") # adding an element.
Course_nums.update([101, 202, 303]) # using update to passing on a list of multiple items to  both sets.
# Course_nums.remove(404) # the remove will diplay an error if element is not in the set.
Course_nums.discard(404) # use discard to remove course number not in the list and avoid getting an error. 
print(Courses_01)
print(Course_nums)

{'Math', 'Science', 'Biology', 'Physics', 'English'}
{100, 101, 200, 202, 300, 303}

In [44]:
Courses_01 = {"Math", "Science", "English", "Physics"}
Courses_02 = {"Art", "Computer", "Cyber Security", "Physics"}
Courses_03 = {"Art", "Writing", "Reding", "Physics"}
Overlap_Courses = Courses_01.intersection(Courses_02, Courses_03 ) # checking for elements in multiple set.
Diff_Courses = Courses_01.difference(Courses_02, Courses_03) 
Diff_Courses = Courses_01.difference(Courses_02, Courses_03)
Diff_All_Courses = Courses_01.symmetric_difference(Courses_02)
print("Overlap in Courses01, Courses02 and Courses03= ", Overlap_Courses)
print("Difference between all 3 Courses= ",  Diff_Courses)
print("Difference between Courses01 and Courses02= ",  Diff_All_Courses)

Overlap in Courses01, Courses02 and Courses03=  {'Physics'}
Difference between all 3 Courses=  {'Math', 'Science', 'English'}
Difference between Courses01 and Courses02=  {'Art', 'Math', 'Computer', 'Cyber Security', 'Science', 'English'}

# List of students who enrolled in Math and DataSci classes.

Student_name = ["Dolly", "Alex", "Cory", "Jay" ]
Enrolled_In_Math_Class = ["Dolly", "James", "Drew", "Hector" ]
Enrolled_In_DataSci_Class = ["Dolly", "Jose", "Drew", "Emms" ]

In [58]:
# pass the results into a set.
Student_name = ["Dolly", "Alex", "Cory", "Jay", "john", "Eric" ]
Enrolled_In_Math_Class = ["Dolly", "James", "Drew", "Hector" ]
Enrolled_In_DataSci_Class = ["Dolly", "Jose", "Drew", "Emms" ]

Students_Enrolled_In_Both_Classes = set(Enrolled_In_Math_Class).intersection(Enrolled_In_DataSci_Class) 
Students_Not_In_Both_Classes = set(Enrolled_In_Math_Class).difference(Enrolled_In_DataSci_Class)
Student_Not_Enrolled_In_Any_Classes = set(Student_name).difference(Enrolled_In_Math_Class, Enrolled_In_DataSci_Class)

print("Students enrolled in both class = ", Students_Enrolled_In_Both_Classes)
print("Students enrolled in one of the classes but not both = ", Students_Not_In_Both_Classes)
print("Students not enrolled in any classes = ", Student_Not_Enrolled_In_Any_Classes)

Students enrolled in both class =  {'Dolly', 'Drew'}
Students enrolled in one of the classes but not both =  {'Hector', 'James'}
Students not enrolled in any classes =  {'Eric', 'Cory', 'Alex', 'Jay', 'john'}

### How to use EXCEPTION to handle error to prevent system crashing when something goes wrong. 
Errors detected during execution are called exceptions and are not unconditionally fatal:

In [77]:
# the 0 will cause an error.
Numbers_For_Cal = [100, 200, 300, 400, 0] 
for i in Numbers_For_Cal:
        try: 
            print(10 / i )
        except: 
            pass

0.1
0.05
0.03333333333333333
0.025

In [78]:
# Another example how to handle exception.
# the 0 will cause an error.
Numbers_For_Cal = [100, 200, 300, 400, 0] 
for i in Numbers_For_Cal:
        try: 
            print( 10 / i)
        except ZeroDivisionError as z:   
            print(z)

0.1
0.05
0.03333333333333333
0.025
division by zero

In [135]:
# Another example how to handle exception.
# the 0 will cause an error.
Numbers_For_Cal = [100, 200, 300, 400, "0"] 
for i in Numbers_For_Cal:
        try: 
            #print(float("10") / i)
            print(float("Hello") / i)
        except ValueError as v:
            print(v)
            pass

could not convert string to float: 'Hello'
could not convert string to float: 'Hello'
could not convert string to float: 'Hello'
could not convert string to float: 'Hello'
could not convert string to float: 'Hello'

In [ ]:
def age(dad, vira, vann, seng):
    try:
        dad = (2023 - dad)
        vira = (2023 - vira)
        vann = (2023 - vann)
        seng = (2023 - seng)
        
        print ("Dad's age is ", dad)
        print("Vira's age is ", vira)
        print("Vann's age is ", vann) 
        print("Seng's age is ", seng )
        
    except (ValueError) as v:
        print(v)
        

dad = 1927
vira = 1966
vann = 1969
seng = 1970
age(dad, vira, vann, seng)

In [ ]:
def age(dad, vira, vann, seng):
    try:
        if age < 10:
            print("Wrong Age", age )
        
    except (ValueError) as v:
        print(v)
    pass
        
    dad = (2023 - dad)
    vira = (2023 - vira)
    vann = (2023 - vann)
    seng = (2023 - seng)
        
    print ("Dad's age is ", dad)
    print("Vira's age is ", vira)
    print("Vann's age is ", vann) 
        

dad = 1927
vira = 1966
vann = 1969
seng = 0
age(dad, vira, vann, seng)

### Complex Data with dictionaries.
A dictionarie is a key value pairs seperate by colon -  kind of look-up table the contains keys and correspondent values.
The key is mapping to the value.  The key must be unique for identification.

{key:value}
example_1: person_dict_1= {"name": "Vanna", "Age":40}
example_2: person_dict_2= {101: "Vanna", ("Age"):40}  

Note: in second example, change the name to int -> 101  and "Age" to tuple.

To access the value in the dictionaries.

person_dict_1= {"name": "Vanna", "Age":40}
print(person_dict_1["name"])

In [ ]:
# Beware that it is casensitive.
person_dict_1= {"name": "Vanna", "Age":40}
print(person_dict_1["name"])
print(person_dict_1["Age"])
# print(person_dict_1["xxxx"]) #  this method will results in error when the key does not exist.
print(person_dict_1.get("xxxx")) # the get method will results in NONE object that indicate NULL.

Using pop to remove the key.  The oop method will returned the removed item.

In [158]:
person_dict_1= {"name": "Vanna", "Age":40, "telephone": 2145551212}
person_dict_1.pop("name")
person_dict_1.pop("Age")
person_dict_1.pop("telephone")
print(person_dict_1)

{}

How to create dictionaries from different collections of data.
1. lists
2. tuples
3. dataframes

In [139]:
# Combine both lists to dictionaries using zip.
# in for loop, create a new dictionies. 
# Each key in the [Student_name] is assigned to the value[classes_name]

Student_name = ["Dolly", "Alex", "Cory", "Jay", "john", "Eric" ]
Classes_name = ["Math", "Math", "English", "Science", "Art", "Biology"]
School_dict = {}

for (key, value) in zip(Student_name, Classes_name):
    School_dict[key] = value
print(School_dict)

{'Dolly': 'Math', 'Alex': 'Math', 'Cory': 'English', 'Jay': 'Science', 'john': 'Art', 'Eric': 'Biology'}

Another option using iteration:
# Combine both lists to dictionaries using range(6).
This is the length of the dictionaries.

In [138]:
Student_name = ["Dolly", "Alex", "Cory", "Jay", "john", "Eric" ]
Classes_name = ["Math", "Math", "English", "Science", "Art", "Biology"]
School_dict = {}

for i in range(6):
    School_dict[Student_name[i]] = Classes_name[i]
print(School_dict)

{'Dolly': 'Math', 'Alex': 'Math', 'Cory': 'English', 'Jay': 'Science', 'john': 'Art', 'Eric': 'Biology'}

This same process but using tuple by changing the [] to ().

In [140]:
Student_name = ("Dolly", "Alex", "Cory", "Jay", "john", "Eric" )
Classes_name = ("Math", "Math", "English", "Science", "Art", "Biology")
School_dict = {}

for (key, value) in zip(Student_name, Classes_name):
    School_dict[key] = value
print(School_dict)

{'Dolly': 'Math', 'Alex': 'Math', 'Cory': 'English', 'Jay': 'Science', 'john': 'Art', 'Eric': 'Biology'}

This same process but using dataframe.

In [141]:
import pandas as pd

In [143]:
Student_name = pd.DataFrame(["Dolly", "Alex", "Cory", "Jay", "john", "Eric"] )
Classes_name = pd.DataFrame(["Math", "Math", "English", "Science", "Art", "Biology"])
School_dict = {}

for (key, value) in zip(Student_name[0], Classes_name[0]):
    School_dict[key] = value
print(School_dict)

{'Dolly': 'Math', 'Alex': 'Math', 'Cory': 'English', 'Jay': 'Science', 'john': 'Art', 'Eric': 'Biology'}

# BELOW ARE CLASS CODES.

In [198]:
children =["Andrew","Laura","Joe"]

In [199]:
print (children)
children.pop()
print (children)

['Andrew', 'Laura', 'Joe']
['Andrew', 'Laura']

In [200]:
print (children)
children.remove('Andrew')
print (children)

['Andrew', 'Laura']
['Laura']

In [201]:
#checking that input is an integer
'Loura' in children

False

In [202]:
'7' in '1234567890'

True

In [203]:
# With 3 rows and 4 columns
students = [["Joel", 85, 95, 70],
            ["Anne", 95, 100, 100],
            ["Mike", 77, 70, 80, 85]]
# With 3 rows and 3 columns
movies = [["The Holy Grail", 1975, 9.99],
          ["Life of Brian", 1979, 12.30],
          ["The Meaning of Life", 1983, 7.50]]

In [204]:
students[0]

['Joel', 85, 95, 70]

In [205]:
movies[1]

['Life of Brian', 1979, 12.3]

In [206]:
type(students)

list

In [207]:
type(movies[1][0])

str

In [208]:
movies[1][0]

'Life of Brian'

In [209]:
# str to list
lob_list = movies[1][0].split(" ")
lob_list

['Life', 'of', 'Brian']

In [210]:
#list to str
" ".join(lob_list)

'Life of Brian'

In [211]:
students[1][3]

100

In [212]:
flick = []
#build a list
flick.append('Kundun')
flick.append(1997)
flick.append(4.7)
print(flick)
#adding list as child list to parent list
movies.append(flick)
movies

['Kundun', 1997, 4.7]

[['The Holy Grail', 1975, 9.99],
 ['Life of Brian', 1979, 12.3],
 ['The Meaning of Life', 1983, 7.5],
 ['Kundun', 1997, 4.7]]

In [213]:
lssimple =[1,2,7,3,2,2,2,2,None]
len(lssimple)

9

In [214]:
foo = lssimple[8]
type(foo)

NoneType

In [215]:
for r in range(0,9): print (lssimple[r])

1
2
7
3
2
2
2
2
None

In [216]:
lssimple.index(None)

8

In [217]:
lssimple[8]*3

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [ ]:
lssimple.count(None)

1

In [ ]:
None == None

True

In [ ]:
lssimple

[1, 2, 7, 3, 2, 2, 2, 2, None]

In [ ]:
lssimple.reverse()
lssimple

[None, 2, 2, 2, 2, 3, 7, 2, 1]

In [ ]:
children

['Laura']

In [ ]:
children =["Andrew","Laura","Joe"]
children.sort(key=str.lower)
children

['Andrew', 'Joe', 'Laura']

In [ ]:
children =["Andrew","Laura","Joe"]
#default order ascending
children.sort(key=str.__len__,reverse = True)
children

['Andrew', 'Laura', 'Joe']

In [ ]:
lssimple.remove(None)
print(sum(lssimple))

21

In [ ]:
lssimple

[2, 2, 2, 2, 3, 7, 2, 1]

In [ ]:
# slicer syntax
#list[start_index:end_index:step]
fancy = [52,54,56,58,60,62]
print(fancy[0:2])
print(fancy[::-1])

[52, 54]
[62, 60, 58, 56, 54, 52]

In [ ]:
print(fancy[0:4:2])
print(fancy[:2])

[52, 56]
[52, 54]

In [ ]:
inv = ["staff","robe"]
chest = ["scroll","pestle"]

print(chest + inv)
print(inv + chest)

['scroll', 'pestle', 'staff', 'robe']
['staff', 'robe', 'scroll', 'pestle']

In [ ]:
#inv = inv + chest
inv += chest
inv

['staff', 'robe', 'scroll', 'pestle']

In [ ]:
chest

['scroll', 'pestle']

In [ ]:
chest[2]

IndexError: list index out of range

In [ ]:
foobar

NameError: name 'foobar' is not defined

In [ ]:
my_dict2 = {'e': [1,3], 'b': "2", 'c': 3, 'a':[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]}

In [ ]:
my_dict2.keys()

dict_keys(['e', 'b', 'c', 'a'])

In [ ]:
my_dict2.values()

dict_values([[1, 3], '2', 3, [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]])

In [ ]:
my_dict2.items()

dict_items([('e', [1, 3]), ('b', '2'), ('c', 3), ('a', [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]), ('g', 'foo')])

In [ ]:
my_dict2['g'] = "foo"

In [ ]:
my_dict2['t']

KeyError: 't'

In [ ]:
def sillytry(d_input=my_dict2, keyname='e'):
    #exception handling
    #try block
    try:
        #what we think might blow up
        value = d_input[keyname]
    except TypeError:
        #how we think might blow up
        value = 'error!!!: Bad TYPE'
    except KeyError:
        #how we think might blow up
        value = 'error!!!: invalid key'
    except : value = 'error!!! generic error'        
    finally:
        print('end')
    if type(value) == str:
        print("string")
    elif type(value) == int:
        print("int")
    else:
        print("unknown")
    return value
kwargs = {"d_input":my_dict2, "keyname":'e'}

In [ ]:
"{},{}".format(*kwargs)

'd_input,keyname'

In [ ]:
#sillytry(d_input=my_dict2, keyname='e')
sillytry(**kwargs)

end
unknown

[1, 3]

In [ ]:
kwargs = {"d_input":my_dict2, "keyname":'7+f'}
print(sillytry(**kwargs))

end
string
error!!!: invalid key

In [ ]:
print(sillytry(keyname='x'))

end
string
error!!!: invalid key

In [ ]:
print(sillytry(keyname='b'))

end
string
2

In [ ]:
print(sillytry(keyname='c'))

end
int
3

In [ ]:
children[4]

IndexError: list index out of range

In [ ]:
my_dict2

{'e': [1, 3],
 'b': '2',
 'c': 3,
 'a': [(1, True),
  (1, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (3, False)],
 'g': 'foo'}

In [ ]:
my_dict2.pop('a')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3, 'g': 'foo'}

In [ ]:
my_dict2.pop()
my_dict2

TypeError: pop expected at least 1 argument, got 0

In [ ]:
#my_dict2["h"]= 'newerdata'
my_dict2.setdefault('h','newerdata')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3, 'g': 'foo', 'h': 'newerdata'}

In [ ]:
my_dict2["f"]

KeyError: 'f'

In [ ]:
value = my_dict2.get('f')
print(value is None)

True

In [ ]:
type(my_dict2.get('f'))

NoneType

In [ ]:
my_dict2.values()

dict_values([[1, 3], '2', 3, 'foo', 'newerdata'])

In [ ]:
my_dict2.keys()

dict_keys(['e', 'b', 'c', 'g', 'h'])

In [ ]:
my_dict2.items()

dict_items([('e', [1, 3]), ('b', '2'), ('c', 3), ('g', 'foo'), ('h', 'newerdata')])

In [ ]:
my_dict2['e']

In [ ]:
for k,v in my_dict2.items():
    print('key: {} value {}'.format(k,v))

key: e value [1, 3]
key: b value 2
key: c value 3
key: g value foo
key: h value newerdata

In [ ]:
# for k,v in my_dict2.items():
#     print('key: {} value {}'.format(k,v))
    
d_sample = {'key: '+str(k)+' value '+str(v) for k,v in my_dict2.items()}
d_sample

{'key: b value 2',
 'key: c value 3',
 'key: e value [1, 3]',
 'key: g value foo',
 'key: h value newerdata'}

In [ ]:
for d in d_sample:print(d)

key: e value [1, 3]
key: b value 2
key: c value 3
key: g value foo
key: h value newerdata

In [ ]:
print(list(my_dict2))

['e', 'b', 'c', 'g', 'h']

In [ ]:
contacts = {
    "Joel":{"address": "1500 Anystreet", "city": "San Francisco",
         "state": "California", "postalCode": "94110", 
         "phone": "555-555-1111"},
    "Anne":{"address": "1000 Somestreet", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-2222"},
    "Ben": {"address": "1400 Another Street", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-4444"}
}

In [ ]:
print(contacts.keys())
print(contacts.items())
print(contacts.values())

dict_keys(['Joel', 'Anne', 'Ben'])
dict_items([('Joel', {'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}), ('Anne', {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}), ('Ben', {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'})])
dict_values([{'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}, {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}, {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'}])

In [ ]:
contacts['Ben']['address']

'1400 Another Street'

In [ ]:
contacts.get('Ben').get('address')

'1400 Another Street'

In [ ]:
contacts.get('Anne').get('email')

In [ ]:
#writing data
members = ["John Cleese", "Eric Idle","Terry Jones"]
# "w"= overwite, "a" = append, "r" = read = "a" ASCII or "b"
with open("members.txt", "w") as file:
    file.write("members"+ "\n")
    for m in members:
        file.write(m + "\n")          # adds new line

In [ ]:
!head members.txt

members
John Cleese
Eric Idle
Terry Jones

In [ ]:
#reading data - overparse
lst = []
with open("members.txt", "r") as file:
    for r in file.read():
        lst.append(r)
lst

['m',
 'e',
 'm',
 'b',
 'e',
 'r',
 's',
 '\n',
 'J',
 'o',
 'h',
 'n',
 ' ',
 'C',
 'l',
 'e',
 'e',
 's',
 'e',
 '\n',
 'E',
 'r',
 'i',
 'c',
 ' ',
 'I',
 'd',
 'l',
 'e',
 '\n',
 'T',
 'e',
 'r',
 'r',
 'y',
 ' ',
 'J',
 'o',
 'n',
 'e',
 's',
 '\n']

In [ ]:
lst = []
with open("members.txt", "r") as file:
    lst = file.read().split("\n")
lst

['members', 'John Cleese', 'Eric Idle', 'Terry Jones', '']

In [ ]:
lst = []
with open("members.txt", "r") as file:
    for r in file.readlines():
        lst.append(r)
lst

['members\n', 'John Cleese\n', 'Eric Idle\n', 'Terry Jones\n']

In [ ]:
!head members.txt

members
John Cleese
Eric Idle
Terry Jones

In [ ]:
list(my_dict2)

['e', 'b', 'c', 'g', 'h']

In [ ]:
with open("my_dict2_items.tsv", "w") as file:
    for x in list(my_dict2):
        file.write(x+'\t'+str(my_dict2[x])+"\n")

In [ ]:
!head my_dict2_items.tsv

e	[1, 3]
b	2
c	3
g	foo
h	newerdata

In [ ]:
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3, 'g': 'foo', 'h': 'newerdata'}

In [ ]:
import csv
with open("my_dict2_items.csv", "w",  newline="") as file:
    writer = csv.writer(file)
    for x in list(my_dict2):
#        file.write(x+'\t'+str(my_dict2[x])+"\n")        
        writer.writerow([str(x),str(my_dict2[x])])

In [ ]:
!head my_dict2_items.csv

e,"[1, 3]"
b,2
c,3
g,foo
h,newerdata