What states have more than $1,000 of sales?

In [1]:
/*
Show me the states with total invoices above $1,000
*/
SELECT 
    V.VendorState [State]
    --aggregate function SUM,COUNT,MIN,MAX,STDEV
    ,SUM(I.InvoiceTotal)
FROM Vendors V
JOIN Invoices I
    ON V.VendorID = I.VendorID
GROUP BY V.VendorState
--filter of aggregate
HAVING SUM(I.InvoiceTotal) > 1000

State,(No column name)
CA,37453.35
MA,1367.50
MI,141819.72
NV,25362.46
TN,4378.02
TX,2154.42