##### PROCESS OF ANALYZING DATASET:

In [74]:
# import all the required library.  Make you have install before importing the library for use. 

import pandas as pd
import numpy as np 
import matplotlib.pylab as plt 
import seaborn as sns 
plt.style.use('ggplot')
# pd.set_option('max_columns', 50) # this code is not working.



# reading the csv file and load into the dataframe called -> df. 
Stroke_Dataset_2016 = "C:/Diff/STROKEDatasets/2016_Mortality_Age35_Plus.csv"
Stroke_Dataset_2016 = pd.read_csv(Stroke_Dataset_2016)
df = pd.DataFrame(Stroke_Dataset_2016)
#for df in pd.read_csv("C:/Diff/STROKEDatasets/2016_Mortality_Age35_Plus.csv", chunksize=500):
    #print(df)

In [75]:
# There are 59094 in rows and 9 columns.
df.shape

(59094, 9)

In [76]:
# To see all the available columns. 

df.columns

Index(['Year', 'States', 'County', 'StrokeDeath_Per100k', 'Gender',
       'Ethnicity', 'LocationID', 'States_ID', 'Counties_ID'],
      dtype='object')

In [85]:
# Next step is to drop unwanted columns.
# axis=1 means to drop the column and not the row.
df.drop(['Counties_ID'], axis=1)

,Year,States,County,StrokeDeath_Per100k,Gender,Ethnicity,LocationID,States_ID
0,2016,NV,Nevada,98.5,Female,Black,32,10.0
1,2016,NY,New York,51.0,Male,White,36,47.0
2,2016,IL,Richland County,NaN,Male,Asian and Pacific Islander,17159,34.0
3,2016,AR,Fulton County,77.2,Female,White,5049,15.0
5,2016,AL,Lauderdale County,89.1,Male,Overall,1077,29.0
...,...,...,...,...,...,...,...,...
56752,2016,TX,Bexar County,17.3,Overall,American Indian and Alaskan Native,48029,23.0
56896,2016,WA,Okanogan County,210.3,Male,Hispanic,53047,6.0
56899,2016,VA,Martinsville City,162.0,Male,Overall,51690,40.0
57077,2016,WI,Shawano County,237.5,Male,Asian and Pacific Islander,55115,41.0
58626,2016,WI,Calumet County,228.7,Male,Asian and Pacific Islander,55015,41.0

In [78]:
# To see the data types. 
df.dtypes

Year                     int64
States                  object
County                  object
StrokeDeath_Per100k    float64
Gender                  object
Ethnicity               object
LocationID               int64
States_ID              float64
Counties_ID            float64
dtype: object

In [79]:
# This is the time to change data type if needed.
# call pandas to change the data type.
# For example:  pd.to_datetime(df['Year'])

In [80]:
# After changing the data type, the next step is the rename the columns.
# Remove spaces, change the name with proper upper for lower case.
# example: using dictionaries method.
# df.rename(columns={'old_column_name':'new_column_name})

In [81]:
# checking for missing value.
# using sum to add number of NaN in the columns
# print(df.isna)
df.isna().sum()

Year                       0
States                     0
County                     0
StrokeDeath_Per100k    31098
Gender                     0
Ethnicity                  0
LocationID                 0
States_ID               1800
Counties_ID              234
dtype: int64

In [82]:
# Checking for duplicate rows of data.
# df.loc is to locate which row is dup.
df.duplicated()
#df.loc[df.duplicated()]
#df.loc[df.duplicated(subset=['StrokeDeath_Per100k'])]

0        False
1        False
2        False
3        False
4        False
         ...
59089    False
59090    False
59091    False
59092    False
59093    False
Length: 59094, dtype: bool

In [83]:
# Some of the rows should not have duplicates.
# example:
# States_ID   with 3 dup. 
# Counties_ID  with  2 dup.
# To investigate further.
# df.loc[df.duplicated(subset=['States_ID'])]
#Dup_Value = df.query('States_ID == "40.0"') #  this code is not diplaying dup values.
#print(Dup_Value)

In [86]:
# ~ taking inverse and dropping duplicate rows.
# .reset the index()
# The last row containing the NaN value will not be dropped.
df = df.loc[~df.duplicated(subset=['StrokeDeath_Per100k'])].reset_index()
#.reset_index() # Run it only one time, if run the second time, erro will occurred.
#print(df.shape)
df

,index,Year,States,County,StrokeDeath_Per100k,Gender,Ethnicity,LocationID,States_ID,Counties_ID
0,0,2016,NV,Nevada,98.5,Female,Black,32,10.0,481.0
1,1,2016,NY,New York,51.0,Male,White,36,47.0,625.0
2,2,2016,IL,Richland County,NaN,Male,Asian and Pacific Islander,17159,34.0,134.0
3,3,2016,AR,Fulton County,77.2,Female,White,5049,15.0,1021.0
4,5,2016,AL,Lauderdale County,89.1,Male,Overall,1077,29.0,1584.0
...,...,...,...,...,...,...,...,...,...,...
1712,56752,2016,TX,Bexar County,17.3,Overall,American Indian and Alaskan Native,48029,23.0,3027.0
1713,56896,2016,WA,Okanogan County,210.3,Male,Hispanic,53047,6.0,3198.0
1714,56899,2016,VA,Martinsville City,162.0,Male,Overall,51690,40.0,934.0
1715,57077,2016,WI,Shawano County,237.5,Male,Asian and Pacific Islander,55115,41.0,3069.0
1716,58626,2016,WI,Calumet County,228.7,Male,Asian and Pacific Islander,55015,41.0,865.0

In [89]:
df['States'].value_counts()

GA    276
AL    145
AR    127
FL    121
CA     98
IL     97
IN     89
IA     82
KS     70
CO     63
NC     57
MS     53
LA     52
TX     50
AK     38
AZ     27
TN     27
ID     26
CT     25
VA     21
MO     17
NY     17
SC     15
KY     15
MD     13
MI     12
OK     12
MN     10
NE      8
HI      7
WI      6
PA      6
DE      6
DC      6
OH      5
AS      3
MP      3
MA      3
OR      3
WY      1
NV      1
NJ      1
MT      1
GU      1
WA      1
Name: States, dtype: int64