## What is dataframe?
It is the main object of Pandas. It is used to represent rows and columns like Excel spreadsheets.

How to create dataframe using dictionairs.
The keys are the columns.
The values are the rows.

This project is to keep track of milage driving for work daily. 
The car MPG ( mile per gallon) is 15 miles per/gallon.
The company pays .33 per mile on traveling for work.

In [44]:
# Step:1
# Create a dictionaries.
# The keys will be the column names.
Milage_Tracker = {
"DATE": [ "1/1/2023","1/2/2023","1/3/2023","1/4/2023","1/5/2023" ], 
"FUEL_COST_PER_GAL": [3.00, 3.00, 3.00, 3.00, 3.00 ],
"TRIP_METTERS": [200,220,250,300,315 ],
"MILES_TRAVELED": [20,30,50,50,15 ],
"GALLONS_USED": [1.33, 2, 3.33, 3.33, 1 ],
"FUEL_COST": [3.99,6.00, 9.99, 9.99,3.00 ],
"CO_PAYS_PER_MILE": [ .33, .33, .33, .33, .33  ]  
}

# Step:2
Char_length = [[c, len(c)]  for c in Milage_Tracker]
print(Char_length)

[['DATE', 4], ['FUEL_COST_PER_GAL', 17], ['TRIP_METTERS', 12], ['MILES_TRAVELED', 14], ['GALLONS_USED', 12], ['FUEL_COST', 9], ['CO_PAYS_PER_MILE', 16]]

In [ ]:
!pip install pandas

In [42]:
import pandas as pd

In [45]:
#Step 3
# Assign Char_length to dataframe to create the columns.
df = pd.DataFrame(Char_length)
print(df)

                   0   1
0               DATE   4
1  FUEL_COST_PER_GAL  17
2       TRIP_METTERS  12
3     MILES_TRAVELED  14
4       GALLONS_USED  12
5          FUEL_COST   9
6   CO_PAYS_PER_MILE  16

In [6]:
Milage_Tracker = {
"DATE": [ "1/1/2023","1/2/2023","1/3/2023","1/4/2023","1/5/2023" ], 
"FUEL_COST_PER_GAL": [3.00, 3.00, 3.00, 3.00, 3.00 ],
"TRIP_METTERS": [200,220,250,300,315 ],
"MILES_TRAVELED": [20,30,50,50,15 ],
"GALLONS_USED": [1.33, 2, 3.33, 3.33, 1 ],
"FUEL_COST": [3.99,6.00, 9.99, 9.99,3.00 ],
"CO_PAYS_PER_MILE": [ .33, .33, .33, .33, .33  ]  
}
import pandas as pd
df=pd.DataFrame(Milage_Tracker )
df

,DATE,FUEL_COST_PER_GAL,TRIP_METTERS,MILES_TRAVELED,GALLONS_USED,FUEL_COST,CO_PAYS_PER_MILE
0,1/1/2023,3.0,200,20,1.33,3.99,0.33
1,1/2/2023,3.0,220,30,2.00,6.00,0.33
2,1/3/2023,3.0,250,50,3.33,9.99,0.33
3,1/4/2023,3.0,300,50,3.33,9.99,0.33
4,1/5/2023,3.0,315,15,1.00,3.00,0.33

## Below are coding from the class lessons.

# Pandas Basics

In [ ]:
children = ["Andrew","Laura","Joe"]
lol_children = [[c, len(c)]  for c in children]
lol_children

[['Andrew', 6], ['Laura', 5], ['Joe', 3]]

In [ ]:
# may need to run on download from python.org
!pip install pandas

In [ ]:
# 1. DataFrame from List Of Lists - row
import pandas as pd
df_lol_children = pd.DataFrame(lol_children,columns = ["child","charlen"])
df_lol_children

In [ ]:

len_char = [len(c) for c in children]
print(len_char)
d_children = {"child": children, "charlen": len_char}
print(d_children)

In [ ]:
#2. DataFrame from dictionary of lists - column
df_d_children = pd.DataFrame(d_children)
df_d_children

    child  charlen
0  Andrew        6
1   Laura        5
2     Joe        3

In [ ]:
d_children_v2 =[ {"child": c, "charlen":  len(c)} for c in children ]
d_children_v2

[{'child': 'Andrew', 'charlen': 6},
 {'child': 'Laura', 'charlen': 5},
 {'child': 'Joe', 'charlen': 3}]

In [ ]:
# 3. DataFrame from List Of Dictionaries - row
df_d_children_2 = pd.DataFrame(d_children_v2)
df_d_children_2

    child  charlen
0  Andrew        6
1   Laura        5
2     Joe        3

In [ ]:
type(df_d_children)

pandas.core.frame.DataFrame

In [ ]:
df_d_children?

In [ ]:
list(df_d_children.columns)

['child', 'charlen']

In [ ]:
df_d_children.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   child    3 non-null      object
 1   charlen  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

## Get the data

In [ ]:
#poll_url = 'http://projects.fivethirtyeight.com/general-model/president_general_polls_2016.csv'
poll_url = 'H:\president_general_polls_2016.csv'

polls = pd.read_csv(poll_url)

In [ ]:
type(polls)

pandas.core.frame.DataFrame

In [ ]:
len(list(polls.columns))

27

In [ ]:
list(polls.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12624 entries, 0 to 12623
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cycle             12624 non-null  int64
 1   branch            12624 non-null  object
 2   type              12624 non-null  object
 3   matchup           12624 non-null  object
 4   forecastdate      12624 non-null  object
 5   state             12624 non-null  object
 6   startdate         12624 non-null  object
 7   enddate           12624 non-null  object
 8   pollster          12624 non-null  object
 9   grade             11337 non-null  object
 10  samplesize        12621 non-null  float64
 11  population        12624 non-null  object
 12  poll_wt           12624 non-null  float64
 13  rawpoll_clinton   12624 non-null  float64
 14  rawpoll_trump     12624 non-null  float64
 15  rawpoll_johnson   8397 non-null   float64
 16  rawpoll_mcmullin  90 non-null     float64
 17  adjpoll_clinton   12624 non-null  float64
 18  adjpoll_trump     12624 non-null  float64
 19  adjpoll_johnson   8397 non-null   float64
 20  adjpoll_mcmullin  90 non-null     float64
 21  multiversions     36 non-null     object
 22  url               12621 non-null  object
 23  poll_id           12624 non-null  int64
 24  question_id       12624 non-null  int64
 25  createddate       12624 non-null  object
 26  timestamp         12624 non-null  object
dtypes: float64(10), int64(3), object(14)
memory usage: 2.6+ MB

TypeError: 'NoneType' object is not iterable

In [ ]:
df_d_children

    child  charlen
0  Andrew        6
1   Laura        5
2     Joe        3

In [ ]:
df_d_children.T

              0      1    2
child    Andrew  Laura  Joe
charlen       6      5    3

In [ ]:
polls.describe().T

,count,mean,std,min,25%,50%,75%,max
cycle,12624.0,2016.000000,0.000000,2016.000000,2016.000000,2016.000000,2016.000000,2016.000000
samplesize,12621.0,1148.216068,2630.647790,35.000000,447.000000,772.000000,1237.000000,84292.000000
poll_wt,12624.0,0.255431,0.669326,0.000000,0.000358,0.008172,0.086735,8.720654
rawpoll_clinton,12624.0,41.990860,7.727792,11.040000,38.000000,43.000000,46.200000,88.000000
rawpoll_trump,12624.0,39.828710,7.877327,4.000000,35.000000,40.000000,45.000000,68.000000
rawpoll_johnson,8397.0,7.381740,2.959274,0.000000,5.400000,7.000000,9.000000,25.000000
rawpoll_mcmullin,90.0,24.004000,5.638641,9.000000,22.000000,25.000000,28.000000,31.000000
adjpoll_clinton,12624.0,43.323005,7.095235,17.064950,40.210697,44.148045,46.908830,86.772180
adjpoll_trump,12624.0,42.667719,6.948256,4.372936,38.445588,42.716265,46.313520,72.437390
adjpoll_johnson,8397.0,4.655091,2.472636,-3.677883,3.136837,4.375392,5.761469,20.366840
adjpoll_mcmullin,90.0,24.511497,5.174286,11.028320,22.814548,25.136030,28.067610,31.583810
poll_id,12624.0,45910.899477,2864.536271,35362.000000,45151.750000,46384.500000,47741.250000,48922.000000
question_id,12624.0,71591.326046,4699.401001,47244.000000,69548.500000,72516.500000,74724.250000,76636.000000

In [ ]:
polls.describe(datetime_is_numeric=True).T

In [ ]:
polls.describe(include="datetime").T

In [ ]:
polls.describe(include="O").T

In [ ]:
#SELECT startdate, count(*) from polls group by startdate
polls.samplesize.value_counts()

In [ ]:
polls["startdate"] = pd.to_datetime(polls["startdate"])

In [ ]:
polls["enddate"] = pd.to_datetime(polls["enddate"])

In [ ]:
polls.head(5).T

In [ ]:
polls["forecastdate"] = pd.to_datetime(polls["forecastdate"])

In [ ]:
polls.info()

In [ ]:
polls.columns

In [ ]:
polls.dtypes

In [ ]:
polls.tail()

## Sort the data

In [ ]:
polls.enddate.max()

In [ ]:
polls.sort_values('enddate', ascending=False, inplace=True)
polls.head()

## Use lists, slices, tuples, and dictionary objects

### A list

In [ ]:
# columns=['cycle','branch','matchup','forecastdate'], inplace=True
dict_input = {"columns":['cycle','branch','matchup','forecastdate'], "inplace":True}
polls.drop(**dict_input)
polls.head(2)

### A dictionary, ranges and comprehension

In [ ]:
polls = polls.rename(columns={'adjpoll_clinton':'Clinton',
                      'adjpoll_trump':'Trump'})
polls.info()

In [ ]:
len(polls)

In [ ]:
num = [f for f in range(0,12624)]
num

In [ ]:
num[0:100]

### Two slices

In [ ]:
foo = polls.loc[0:100:10,'state':'grade'].index
foo

In [ ]:
",".join([str(f) for f in foo])