#### Data Science Project - Machine Leaning.

Capstone: 
Y = (Predicted) Stroke. 
X = (Multiple Factors) Diabetes, Heart Dissease, High Blood Pressure, High Cholesterol, and Obesity 

ML Algorithms = Will be focusing on supervised (multiple linear regression) numeric values.

####### Data provided by https://data.cdc.gov/
Dataset Files:  Diabetes.cvs
Data Measure: 500 Cities: Diagnosed diabetes among adults aged >=18 years

First feature:  Number of diabetes population.

In [1]:

# importing the libraies
import numpy as np
import matplotlib.pyplot as plt
 
import pandas as pd
import seaborn as sns
import math 
#%metplotlib inline #

In [2]:
# Reading, loading  datasets. 

df = pd.read_csv("500_Cities_Diagnosed_diabetes.csv" )

In [3]:
df.shape

(29006, 24)

In [4]:
df.head().T

,0,1,2,3,4
Year,2017,2017,2017,2017,2017
StateAbbr,TX,TX,TX,TX,TX
StateDesc,Texas,Texas,Texas,Texas,Texas
CityName,Abilene,Abilene,Abilene,Abilene,Abilene
GeographicLevel,Census Tract,Census Tract,Census Tract,Census Tract,Census Tract
DataSource,BRFSS,BRFSS,BRFSS,BRFSS,BRFSS
Category,Health Outcomes,Health Outcomes,Health Outcomes,Health Outcomes,Health Outcomes
UniqueID,4801000-48441012200,4801000-48441012700,4801000-48441011600,4801000-48441011000,4801000-48441012802
Measure,Diagnosed diabetes among adults aged >=18 Years,Diagnosed diabetes among adults aged >=18 Years,Diagnosed diabetes among adults aged >=18 Years,Diagnosed diabetes among adults aged >=18 Years,Diagnosed diabetes among adults aged >=18 Years
Data_Value_Unit,%,%,%,%,%
DataValueTypeID,CrdPrv,CrdPrv,CrdPrv,CrdPrv,CrdPrv
Data_Value_Type,Crude prevalence,Crude prevalence,Crude prevalence,Crude prevalence,Crude prevalence
Data_Value,12.2,10.8,9.9,14.7,8.1
Low_Confidence_Limit,11.5,9.8,9.4,14.0,7.7
High_Confidence_Limit,12.9,11.7,10.5,15.4,8.4
Data_Value_Footnote_Symbol,NaN,NaN,NaN,NaN,NaN
Data_Value_Footnote,NaN,NaN,NaN,NaN,NaN
PopulationCount,"2,229","7,647","2,684","1,209","3,924"
GeoLocation,"(32.4105843984, -99.733829214)","(32.3841887669, -99.7598313124)","(32.4377429049, -99.7511841566)","(32.4546584336, -99.731980542)","(32.408067799, -99.7876762098)"
CategoryID,HLTHOUT,HLTHOUT,HLTHOUT,HLTHOUT,HLTHOUT
MeasureId,DIABETES,DIABETES,DIABETES,DIABETES,DIABETES
CityFIPS,4801000.0,4801000.0,4801000.0,4801000.0,4801000.0
TractFIPS,48441012200.0,48441012700.0,48441011600.0,48441011000.0,48441012802.0
Short_Question_Text,Diabetes,Diabetes,Diabetes,Diabetes,Diabetes

In [5]:
New_df = df.drop(columns=["Year", "StateDesc",  "GeoLocation", "GeographicLevel" ,"DataSource", "Category", "UniqueID", "Measure", "Data_Value_Unit", "DataValueTypeID", \
"Low_Confidence_Limit", "High_Confidence_Limit", "Data_Value_Footnote", "Data_Value_Footnote_Symbol", "Data_Value_Footnote_Symbol","CategoryID", "TractFIPS", "Short_Question_Text", "DataSource", \
"Category", "UniqueID", "Measure", "Data_Value_Unit","Data_Value",  "DataValueTypeID", "Data_Value_Footnote_Symbol", "MeasureId", "Data_Value_Footnote_Symbol", \
"CategoryID", "TractFIPS","CityFIPS" ,"Short_Question_Text"])

In [6]:
New_df.shape

(29006, 4)

In [7]:
New_df.head()

  StateAbbr CityName   Data_Value_Type PopulationCount
0        TX  Abilene  Crude prevalence           2,229
1        TX  Abilene  Crude prevalence           7,647
2        TX  Abilene  Crude prevalence           2,684
3        TX  Abilene  Crude prevalence           1,209
4        TX  Abilene  Crude prevalence           3,924

In [8]:
New_df = New_df.rename(columns={'StateAbbr':'States', 'CityName':'City', 'Data_Value_Type':'Age-adj_preval','PopulationCount':'PopCountByMM' })

In [9]:
New_df.head()

  States     City    Age-adj_preval PopCountByMM
0     TX  Abilene  Crude prevalence        2,229
1     TX  Abilene  Crude prevalence        7,647
2     TX  Abilene  Crude prevalence        2,684
3     TX  Abilene  Crude prevalence        1,209
4     TX  Abilene  Crude prevalence        3,924

In [17]:
# write to a new file.
df_diab = New_df.query('`Age-adj_preval` == "Age-adjusted prevalence"') 
df_diab.to_csv("NewDataDiabetes.csv")

In [11]:
# Check for NULL/Missing values
print(df_diab.isna().sum())

States            0
City              1
Age-adj_preval    0
PopCountByMM      0
dtype: int64

In [12]:
# Verify for NULL and dup. values
# No NULL values are found.
df_diab.loc[df_diab.duplicated()]

Empty DataFrame
Columns: [States, City, Age-adj_preval, PopCountByMM]
Index: []

In [13]:
#count number of records by each state.
df_diab['States'].value_counts()

CA    121
TX     47
FL     33
IL     18
MI     16
CO     14
NC     14
WA     14
MA     13
AZ     12
GA     11
VA     11
IN     11
NY      9
UT      9
NJ      9
OH      9
MO      8
CT      8
OR      8
PA      7
MN      7
WI      7
IA      6
LA      6
KS      6
AL      6
OK      6
TN      6
SC      5
AR      5
NV      5
NM      4
RI      4
ID      3
KY      2
NH      2
SD      2
NE      2
MT      2
MS      2
HI      1
ND      1
WY      1
WV      1
AK      1
VT      1
ME      1
MD      1
DC      1
DE      1
US      1
Name: States, dtype: int64

In [14]:

#df_diabetes["Texa"] =
df_diab.query('`States` == "CA"')

      States          City           Age-adj_preval PopCountByMM
118       CA       Alameda  Age-adjusted prevalence       73,812
382       CA      Alhambra  Age-adjusted prevalence       83,089
507       CA       Anaheim  Age-adjusted prevalence      336,265
666       CA       Antioch  Age-adjusted prevalence      102,372
682       CA  Apple Valley  Age-adjusted prevalence       69,135
...      ...           ...                      ...          ...
27812     CA       Visalia  Age-adjusted prevalence      124,442
27859     CA         Vista  Age-adjusted prevalence       93,834
28294     CA   West Covina  Age-adjusted prevalence      106,098
28441     CA   Westminster  Age-adjusted prevalence       89,701
28499     CA      Whittier  Age-adjusted prevalence       85,331

[121 rows x 4 columns]

In [15]:
df_diab.index

Int64Index([    5,    72,   118,   131,   174,   208,   326,   382,   395,
              413,
            ...
            28668, 28713, 28752, 28815, 28858, 28862, 28883, 28944, 28972,
            29005],
           dtype='int64', length=501)