#### Data Science Project - Machine Leaning.
Predicating Stroke Population based on 5 different factors.

Factors:
Diabetes, Heart Dissease, High Blood Pressure, High Cholesterol, and Obesity.

####### Data provided by https://data.cdc.gov/
Dataset Files:  Diabetes.cvs
Data Measure: 500 Cities: Diagnosed diabetes among adults aged >=18 years

Capstone: 
Y = (Predicted) Stroke. 
X = (Multiple Factors) Diabetes, Heart Dissease, High Blood Pressure, High Cholesterol, and Obesity 

ML Algorithms = Will be focusing on supervised (multiple linear regression) numeric values.

Data type/Metrix:
Quantitative/Nemerical Data (Continuous)
Discrete data - Data with final set of vlaues which can be categorized.
Continuous - take any numerical value within a range. 



Data Wranging Process:
*** Determine the issue or problems to be resolved.
0. Getting your data from internal or external sources.
*** Collecting range of data.
   *** verifying and due dilligence to make sure the data is valid( check and recheck
       not to miss anything).
   *** Detacting fairness
   *** Elimating and look for bias or outliers because it will effects the outcome.
1. inatalling and importing the required libraies.
2. Reading the datasets.
3. Examing the datasets.
4. Cleaning, formating and documenting the process.
 - shaping the data to answer specific questions:
    Removing unwanted data.
    Renaming data - columns
    Verifying and changing the data type.
    Combing data or creating new data - rows or columns or combine dataframe.
5. Take a look or snap-shoot of your data (Summary) using histogram().
6. Run Statistic of the data.
7. Using clean data to create your model - test, validate ..ect.
   *** verifying and examing the behavior of the outcome.
   *** re-adjust if needed.
8. Create visualizations and telling a story.
9. Sharing data with your team, other groups or stakeholders.

In [106]:

# importing the libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import math 
#%metplotlib inline #

In [ ]:
%pip install scikit-learn  --upgrade --force
#from sklearn.linear_model import LinearRegression
#from sklearn.model_selection import train_test_split

In [108]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [109]:
# Reading, loading  datasets. 

df = pd.read_csv("500_Cities_Diagnosed_diabetes.csv" )

In [110]:
df.shape

(29006, 24)

In [111]:
df.head().T

,0,1,2,3,4
Year,2017,2017,2017,2017,2017
StateAbbr,TX,TX,TX,TX,TX
StateDesc,Texas,Texas,Texas,Texas,Texas
CityName,Abilene,Abilene,Abilene,Abilene,Abilene
GeographicLevel,Census Tract,Census Tract,Census Tract,Census Tract,Census Tract
DataSource,BRFSS,BRFSS,BRFSS,BRFSS,BRFSS
Category,Health Outcomes,Health Outcomes,Health Outcomes,Health Outcomes,Health Outcomes
UniqueID,4801000-48441012200,4801000-48441012700,4801000-48441011600,4801000-48441011000,4801000-48441012802
Measure,Diagnosed diabetes among adults aged >=18 Years,Diagnosed diabetes among adults aged >=18 Years,Diagnosed diabetes among adults aged >=18 Years,Diagnosed diabetes among adults aged >=18 Years,Diagnosed diabetes among adults aged >=18 Years
Data_Value_Unit,%,%,%,%,%
DataValueTypeID,CrdPrv,CrdPrv,CrdPrv,CrdPrv,CrdPrv
Data_Value_Type,Crude prevalence,Crude prevalence,Crude prevalence,Crude prevalence,Crude prevalence
Data_Value,12.2,10.8,9.9,14.7,8.1
Low_Confidence_Limit,11.5,9.8,9.4,14.0,7.7
High_Confidence_Limit,12.9,11.7,10.5,15.4,8.4
Data_Value_Footnote_Symbol,NaN,NaN,NaN,NaN,NaN
Data_Value_Footnote,NaN,NaN,NaN,NaN,NaN
PopulationCount,"2,229","7,647","2,684","1,209","3,924"
GeoLocation,"(32.4105843984, -99.733829214)","(32.3841887669, -99.7598313124)","(32.4377429049, -99.7511841566)","(32.4546584336, -99.731980542)","(32.408067799, -99.7876762098)"
CategoryID,HLTHOUT,HLTHOUT,HLTHOUT,HLTHOUT,HLTHOUT
MeasureId,DIABETES,DIABETES,DIABETES,DIABETES,DIABETES
CityFIPS,4801000.0,4801000.0,4801000.0,4801000.0,4801000.0
TractFIPS,48441012200.0,48441012700.0,48441011600.0,48441011000.0,48441012802.0
Short_Question_Text,Diabetes,Diabetes,Diabetes,Diabetes,Diabetes

In [112]:
df.columns

Index(['Year', 'StateAbbr', 'StateDesc', 'CityName', 'GeographicLevel',
       'DataSource', 'Category', 'UniqueID', 'Measure', 'Data_Value_Unit',
       'DataValueTypeID', 'Data_Value_Type', 'Data_Value',
       'Low_Confidence_Limit', 'High_Confidence_Limit',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'PopulationCount',
       'GeoLocation', 'CategoryID', 'MeasureId', 'CityFIPS', 'TractFIPS',
       'Short_Question_Text'],
      dtype='object')

In [113]:
New_df = df.drop(columns=['Year','StateDesc', 'GeographicLevel','DataSource', 'Category', 'UniqueID', \
    'Data_Value_Unit','DataValueTypeID',  'Measure', 'Data_Value_Footnote_Symbol','Data_Value_Footnote', \
    'GeoLocation', 'CategoryID', 'MeasureId', 'CityFIPS', 'TractFIPS','Short_Question_Text'])

In [114]:
# New df after dropping unwanted data.
New_df

,StateAbbr,CityName,Data_Value_Type,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,PopulationCount
0,TX,Abilene,Crude prevalence,12.2,11.5,12.9,"2,229"
1,TX,Abilene,Crude prevalence,10.8,9.8,11.7,"7,647"
2,TX,Abilene,Crude prevalence,9.9,9.4,10.5,"2,684"
3,TX,Abilene,Crude prevalence,14.7,14.0,15.4,"1,209"
4,TX,Abilene,Crude prevalence,8.1,7.7,8.4,"3,924"
...,...,...,...,...,...,...,...
29001,AZ,Yuma,Crude prevalence,16.4,15.6,17.1,"1,108"
29002,AZ,Yuma,Crude prevalence,NaN,NaN,NaN,6
29003,AZ,Yuma,Crude prevalence,12.2,11.5,12.9,"2,502"
29004,US,NaN,Crude prevalence,10.8,10.6,11.0,"308,745,538"
29005,US,NaN,Age-adjusted prevalence,9.6,9.4,9.8,"308,745,538"

In [115]:
# Verifying data/columns.
New_df.columns

Index(['StateAbbr', 'CityName', 'Data_Value_Type', 'Data_Value',
       'Low_Confidence_Limit', 'High_Confidence_Limit', 'PopulationCount'],
      dtype='object')

In [117]:
New_df = New_df.rename(columns={'StateAbbr':'States', 'CityName':'City', 'Data_Value_Type':'AgeAdj_Prevalence',  'Data_Value':'Diabetic', 'High_Confidence_Limit':'Pre_Diabetic','Low_Confidence_Limit':'Low_Risk', 'PopulationCount':'Pop_Count' })

In [118]:
New_df

,States,City,AgeAdj_Prevalence,Diabetic,Low_Risk,Pre_Diabetic,Pop_Count
0,TX,Abilene,Crude prevalence,12.2,11.5,12.9,"2,229"
1,TX,Abilene,Crude prevalence,10.8,9.8,11.7,"7,647"
2,TX,Abilene,Crude prevalence,9.9,9.4,10.5,"2,684"
3,TX,Abilene,Crude prevalence,14.7,14.0,15.4,"1,209"
4,TX,Abilene,Crude prevalence,8.1,7.7,8.4,"3,924"
...,...,...,...,...,...,...,...
29001,AZ,Yuma,Crude prevalence,16.4,15.6,17.1,"1,108"
29002,AZ,Yuma,Crude prevalence,NaN,NaN,NaN,6
29003,AZ,Yuma,Crude prevalence,12.2,11.5,12.9,"2,502"
29004,US,NaN,Crude prevalence,10.8,10.6,11.0,"308,745,538"
29005,US,NaN,Age-adjusted prevalence,9.6,9.4,9.8,"308,745,538"

In [119]:
New_df.columns

Index(['States', 'City', 'AgeAdj_Prevalence', 'Diabetic', 'Low_Risk',
       'Pre_Diabetic', 'Pop_Count'],
      dtype='object')

In [ ]:
New_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29006 entries, 0 to 29005
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   States             29006 non-null  object
 1   City               29004 non-null  object
 2   AgeAdj_Prevalence  29006 non-null  object
 3   Diabetic           28212 non-null  float64
 4   Pre_Diabetic       28212 non-null  float64
 5   Pop_Count          29006 non-null  object
dtypes: float64(2), object(4)
memory usage: 1.3+ MB

In [120]:
# Checking for NaN/NULL and count them.
New_df.isna().sum()

States                 0
City                   2
AgeAdj_Prevalence      0
Diabetic             794
Low_Risk             794
Pre_Diabetic         794
Pop_Count              0
dtype: int64

In [121]:
# Checking for NULL, NaN values

New_df.query("Pre_Diabetic.isna()")

,States,City,AgeAdj_Prevalence,Diabetic,Low_Risk,Pre_Diabetic,Pop_Count
9,TX,Abilene,Crude prevalence,NaN,NaN,NaN,6
68,OH,Akron,Crude prevalence,NaN,NaN,NaN,2
99,OH,Akron,Crude prevalence,NaN,NaN,NaN,4
191,NM,Albuquerque,Crude prevalence,NaN,NaN,NaN,4
214,NM,Albuquerque,Crude prevalence,NaN,NaN,NaN,46
...,...,...,...,...,...,...,...
28878,WA,Yakima,Crude prevalence,NaN,NaN,NaN,14
28952,OH,Youngstown,Crude prevalence,NaN,NaN,NaN,11
28996,AZ,Yuma,Crude prevalence,NaN,NaN,NaN,24
29000,AZ,Yuma,Crude prevalence,NaN,NaN,NaN,8
29002,AZ,Yuma,Crude prevalence,NaN,NaN,NaN,6

In [122]:
New_df.columns

Index(['States', 'City', 'AgeAdj_Prevalence', 'Diabetic', 'Low_Risk',
       'Pre_Diabetic', 'Pop_Count'],
      dtype='object')

In [123]:
#Dropping NaN values. Make sure to select every columns in the dataframe.
New_df[[ 'States', 'City', 'AgeAdj_Prevalence', 'Diabetic', 'Low_Risk', 'Pre_Diabetic',
'Pop_Count' ]].dropna()

,States,City,AgeAdj_Prevalence,Diabetic,Low_Risk,Pre_Diabetic,Pop_Count
0,TX,Abilene,Crude prevalence,12.2,11.5,12.9,"2,229"
1,TX,Abilene,Crude prevalence,10.8,9.8,11.7,"7,647"
2,TX,Abilene,Crude prevalence,9.9,9.4,10.5,"2,684"
3,TX,Abilene,Crude prevalence,14.7,14.0,15.4,"1,209"
4,TX,Abilene,Crude prevalence,8.1,7.7,8.4,"3,924"
...,...,...,...,...,...,...,...
28997,AZ,Yuma,Crude prevalence,11.9,11.2,12.6,"5,158"
28998,AZ,Yuma,Crude prevalence,7.4,7.0,7.9,"5,891"
28999,AZ,Yuma,Crude prevalence,10.3,9.7,10.8,"2,922"
29001,AZ,Yuma,Crude prevalence,16.4,15.6,17.1,"1,108"
29003,AZ,Yuma,Crude prevalence,12.2,11.5,12.9,"2,502"

In [124]:
# Double check on the NaN
New_df.query("Diabetic.isna()")
New_df

,States,City,AgeAdj_Prevalence,Diabetic,Low_Risk,Pre_Diabetic,Pop_Count
0,TX,Abilene,Crude prevalence,12.2,11.5,12.9,"2,229"
1,TX,Abilene,Crude prevalence,10.8,9.8,11.7,"7,647"
2,TX,Abilene,Crude prevalence,9.9,9.4,10.5,"2,684"
3,TX,Abilene,Crude prevalence,14.7,14.0,15.4,"1,209"
4,TX,Abilene,Crude prevalence,8.1,7.7,8.4,"3,924"
...,...,...,...,...,...,...,...
29001,AZ,Yuma,Crude prevalence,16.4,15.6,17.1,"1,108"
29002,AZ,Yuma,Crude prevalence,NaN,NaN,NaN,6
29003,AZ,Yuma,Crude prevalence,12.2,11.5,12.9,"2,502"
29004,US,NaN,Crude prevalence,10.8,10.6,11.0,"308,745,538"
29005,US,NaN,Age-adjusted prevalence,9.6,9.4,9.8,"308,745,538"

In [125]:
#Double check on the NaN NULL
New_df.isna().sum()

States                 0
City                   2
AgeAdj_Prevalence      0
Diabetic             794
Low_Risk             794
Pre_Diabetic         794
Pop_Count              0
dtype: int64

In [126]:
#Verify data type. Need to change pop_count to int.
New_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29006 entries, 0 to 29005
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   States             29006 non-null  object
 1   City               29004 non-null  object
 2   AgeAdj_Prevalence  29006 non-null  object
 3   Diabetic           28212 non-null  float64
 4   Low_Risk           28212 non-null  float64
 5   Pre_Diabetic       28212 non-null  float64
 6   Pop_Count          29006 non-null  object
dtypes: float64(3), object(4)
memory usage: 1.5+ MB

In [127]:
#Change data type:
# removing the "," from the PopCountByMM values and replace it with nothing than change it from object type to int. 
New_df["Pop_Count"] = New_df["Pop_Count"].str.replace(',','').astype(int)

In [ ]:
#Verify data type again.
New_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29006 entries, 0 to 29005
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   States             29006 non-null  object
 1   City               29004 non-null  object
 2   AgeAdj_Prevalence  29006 non-null  object
 3   Diabetic           28212 non-null  float64
 4   Pre_Diabetic       28212 non-null  float64
 5   Pop_Count          29006 non-null  int32
dtypes: float64(2), int32(1), object(3)
memory usage: 1.2+ MB

In [128]:
#New_df.sort_values(["States"])
New_df.sort_values(["States", "City"], ascending=[1,0])

,States,City,AgeAdj_Prevalence,Diabetic,Low_Risk,Pre_Diabetic,Pop_Count
565,AK,Anchorage,Crude prevalence,7.4,6.9,7.8,4993
566,AK,Anchorage,Crude prevalence,8.9,8.3,9.6,940
567,AK,Anchorage,Crude prevalence,8.2,7.8,8.6,1988
568,AK,Anchorage,Crude prevalence,6.1,5.4,6.8,3381
569,AK,Anchorage,Crude prevalence,7.3,6.7,7.9,4579
...,...,...,...,...,...,...,...
3782,WY,Cheyenne,Age-adjusted prevalence,8.2,8.1,8.4,59466
3783,WY,Cheyenne,Crude prevalence,7.4,6.9,7.9,8090
3784,WY,Cheyenne,Crude prevalence,8.9,8.1,9.7,6260
3785,WY,Cheyenne,Crude prevalence,9.1,8.3,9.9,1835
3786,WY,Cheyenne,Crude prevalence,8.3,7.8,8.9,415

In [129]:
# write to a new file.
df_diab_01 = New_df.query('`AgeAdj_Prevalence` == "Age-adjusted prevalence"')
df_diab_01

# This code will do the same
#df_diab_01.loc[df_diab_01.duplicated(subset=['States'])]

,States,City,AgeAdj_Prevalence,Diabetic,Low_Risk,Pre_Diabetic,Pop_Count
5,TX,Abilene,Age-adjusted prevalence,11.5,11.4,11.7,117063
72,OH,Akron,Age-adjusted prevalence,13.7,13.6,13.8,199110
118,CA,Alameda,Age-adjusted prevalence,7.5,7.4,7.7,73812
131,GA,Albany,Age-adjusted prevalence,15.5,15.3,15.7,77434
174,NY,Albany,Age-adjusted prevalence,11.2,11.0,11.3,97856
...,...,...,...,...,...,...,...
28862,WA,Yakima,Age-adjusted prevalence,11.7,11.6,11.9,91067
28883,NY,Yonkers,Age-adjusted prevalence,10.5,10.4,10.6,195976
28944,OH,Youngstown,Age-adjusted prevalence,16.8,16.7,17.0,66982
28972,AZ,Yuma,Age-adjusted prevalence,11.4,11.2,11.5,93064
29005,US,NaN,Age-adjusted prevalence,9.6,9.4,9.8,308745538

In [131]:
# Count dup values.
# df_diab_01.loc[df_diab_01.duplicated(subset=['States'])]
df_diab_01.loc[df_diab_01.duplicated(subset=['States'])].count()

States               449
City                 449
AgeAdj_Prevalence    449
Diabetic             449
Low_Risk             449
Pre_Diabetic         449
Pop_Count            449
dtype: int64

In [132]:
# Verify vales for TX/city based on "Age-adjusted prevalence"
df_diab_01 = df_diab_01.query('`States` == "TX"')
df_diab_01

,States,City,AgeAdj_Prevalence,Diabetic,Low_Risk,Pre_Diabetic,Pop_Count
5,TX,Abilene,Age-adjusted prevalence,11.5,11.4,11.7,117063
395,TX,Allen,Age-adjusted prevalence,8.5,8.3,8.7,84246
470,TX,Amarillo,Age-adjusted prevalence,11.5,11.4,11.6,190695
747,TX,Arlington,Age-adjusted prevalence,11.4,11.3,11.4,365438
1269,TX,Austin,Age-adjusted prevalence,9.7,9.7,9.8,790390
1871,TX,Baytown,Age-adjusted prevalence,12.3,12.1,12.4,71802
1925,TX,Beaumont,Age-adjusted prevalence,13.8,13.7,14.0,118296
2752,TX,Brownsville,Age-adjusted prevalence,18.3,18.0,18.4,175023
2822,TX,Bryan,Age-adjusted prevalence,12.8,12.6,13.0,76201
3123,TX,Carrollton,Age-adjusted prevalence,10.4,10.3,10.5,119097
5156,TX,College Station,Age-adjusted prevalence,10.0,9.8,10.2,93857
5835,TX,Corpus Christi,Age-adjusted prevalence,13.5,13.5,13.6,305215
6106,TX,Dallas,Age-adjusted prevalence,13.5,13.4,13.5,1197816
6566,TX,Denton,Age-adjusted prevalence,10.4,10.2,10.6,113383
7208,TX,Edinburg,Age-adjusted prevalence,16.6,16.3,16.9,77100
7340,TX,El Paso,Age-adjusted prevalence,15.0,14.9,15.1,649121
8421,TX,Fort Worth,Age-adjusted prevalence,12.8,12.7,12.8,741206
8627,TX,Frisco,Age-adjusted prevalence,8.0,7.9,8.2,116989
8790,TX,Garland,Age-adjusted prevalence,12.1,12.0,12.2,226876
9087,TX,Grand Prairie,Age-adjusted prevalence,12.1,12.0,12.2,175396
10649,TX,Houston,Age-adjusted prevalence,13.3,13.2,13.3,2099451
11193,TX,Irving,Age-adjusted prevalence,11.9,11.8,12.0,216290
11974,TX,Killeen,Age-adjusted prevalence,13.5,13.4,13.6,127921
12367,TX,Laredo,Age-adjusted prevalence,18.0,17.8,18.2,236091
12764,TX,League City,Age-adjusted prevalence,8.6,8.5,8.8,83560
12797,TX,Lewisville,Age-adjusted prevalence,10.6,10.4,10.7,95290
13251,TX,Longview,Age-adjusted prevalence,12.2,12.1,12.4,80455
14519,TX,Lubbock,Age-adjusted prevalence,11.6,11.5,11.7,229573
14784,TX,McAllen,Age-adjusted prevalence,15.9,15.7,16.2,129877
14799,TX,McKinney,Age-adjusted prevalence,9.2,9.1,9.4,131117
15263,TX,Mesquite,Age-adjusted prevalence,11.9,11.7,12.0,139824
15448,TX,Midland,Age-adjusted prevalence,10.4,10.2,10.5,111147
15855,TX,Mission,Age-adjusted prevalence,15.5,15.2,15.8,77058
15920,TX,Missouri City,Age-adjusted prevalence,10.9,10.7,11.1,67358
19583,TX,Odessa,Age-adjusted prevalence,12.2,12.0,12.3,99940
20494,TX,Pasadena,Age-adjusted prevalence,12.7,12.6,12.8,149043
20593,TX,Pearland,Age-adjusted prevalence,9.3,9.1,9.5,91252
20742,TX,Pharr,Age-adjusted prevalence,18.0,17.5,18.4,70400
21666,TX,Plano,Age-adjusted prevalence,8.6,8.5,8.7,259841
22610,TX,Richardson,Age-adjusted prevalence,8.8,8.7,9.0,99223
23146,TX,Round Rock,Age-adjusted prevalence,10.0,9.9,10.2,99887
23413,TX,San Angelo,Age-adjusted prevalence,11.4,11.3,11.6,93200
23635,TX,San Antonio,Age-adjusted prevalence,13.7,13.7,13.8,1327407
26362,TX,Sugar Land,Age-adjusted prevalence,9.3,9.1,9.4,78817
27502,TX,Tyler,Age-adjusted prevalence,12.5,12.3,12.6,96900
27874,TX,Waco,Age-adjusted prevalence,14.0,13.8,14.1,124805
28635,TX,Wichita Falls,Age-adjusted prevalence,12.4,12.3,12.6,104553

In [134]:
# Concat State and City name into a NEW column called StateAndCity:
df_diab_01 ['StateAndCity'] = df_diab_01['States'] + '_' + df_diab_01['City']
df_diab_01

C:\Users\dolly\AppData\Local\Temp\ipykernel_22104\294066596.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_diab_01 ['StateAndCity'] = df_diab_01['States'] + '_' + df_diab_01['City']

,States,City,AgeAdj_Prevalence,Diabetic,Low_Risk,Pre_Diabetic,Pop_Count,StateAndCity
5,TX,Abilene,Age-adjusted prevalence,11.5,11.4,11.7,117063,TX_Abilene
395,TX,Allen,Age-adjusted prevalence,8.5,8.3,8.7,84246,TX_Allen
470,TX,Amarillo,Age-adjusted prevalence,11.5,11.4,11.6,190695,TX_Amarillo
747,TX,Arlington,Age-adjusted prevalence,11.4,11.3,11.4,365438,TX_Arlington
1269,TX,Austin,Age-adjusted prevalence,9.7,9.7,9.8,790390,TX_Austin
1871,TX,Baytown,Age-adjusted prevalence,12.3,12.1,12.4,71802,TX_Baytown
1925,TX,Beaumont,Age-adjusted prevalence,13.8,13.7,14.0,118296,TX_Beaumont
2752,TX,Brownsville,Age-adjusted prevalence,18.3,18.0,18.4,175023,TX_Brownsville
2822,TX,Bryan,Age-adjusted prevalence,12.8,12.6,13.0,76201,TX_Bryan
3123,TX,Carrollton,Age-adjusted prevalence,10.4,10.3,10.5,119097,TX_Carrollton
5156,TX,College Station,Age-adjusted prevalence,10.0,9.8,10.2,93857,TX_College Station
5835,TX,Corpus Christi,Age-adjusted prevalence,13.5,13.5,13.6,305215,TX_Corpus Christi
6106,TX,Dallas,Age-adjusted prevalence,13.5,13.4,13.5,1197816,TX_Dallas
6566,TX,Denton,Age-adjusted prevalence,10.4,10.2,10.6,113383,TX_Denton
7208,TX,Edinburg,Age-adjusted prevalence,16.6,16.3,16.9,77100,TX_Edinburg
7340,TX,El Paso,Age-adjusted prevalence,15.0,14.9,15.1,649121,TX_El Paso
8421,TX,Fort Worth,Age-adjusted prevalence,12.8,12.7,12.8,741206,TX_Fort Worth
8627,TX,Frisco,Age-adjusted prevalence,8.0,7.9,8.2,116989,TX_Frisco
8790,TX,Garland,Age-adjusted prevalence,12.1,12.0,12.2,226876,TX_Garland
9087,TX,Grand Prairie,Age-adjusted prevalence,12.1,12.0,12.2,175396,TX_Grand Prairie
10649,TX,Houston,Age-adjusted prevalence,13.3,13.2,13.3,2099451,TX_Houston
11193,TX,Irving,Age-adjusted prevalence,11.9,11.8,12.0,216290,TX_Irving
11974,TX,Killeen,Age-adjusted prevalence,13.5,13.4,13.6,127921,TX_Killeen
12367,TX,Laredo,Age-adjusted prevalence,18.0,17.8,18.2,236091,TX_Laredo
12764,TX,League City,Age-adjusted prevalence,8.6,8.5,8.8,83560,TX_League City
12797,TX,Lewisville,Age-adjusted prevalence,10.6,10.4,10.7,95290,TX_Lewisville
13251,TX,Longview,Age-adjusted prevalence,12.2,12.1,12.4,80455,TX_Longview
14519,TX,Lubbock,Age-adjusted prevalence,11.6,11.5,11.7,229573,TX_Lubbock
14784,TX,McAllen,Age-adjusted prevalence,15.9,15.7,16.2,129877,TX_McAllen
14799,TX,McKinney,Age-adjusted prevalence,9.2,9.1,9.4,131117,TX_McKinney
15263,TX,Mesquite,Age-adjusted prevalence,11.9,11.7,12.0,139824,TX_Mesquite
15448,TX,Midland,Age-adjusted prevalence,10.4,10.2,10.5,111147,TX_Midland
15855,TX,Mission,Age-adjusted prevalence,15.5,15.2,15.8,77058,TX_Mission
15920,TX,Missouri City,Age-adjusted prevalence,10.9,10.7,11.1,67358,TX_Missouri City
19583,TX,Odessa,Age-adjusted prevalence,12.2,12.0,12.3,99940,TX_Odessa
20494,TX,Pasadena,Age-adjusted prevalence,12.7,12.6,12.8,149043,TX_Pasadena
20593,TX,Pearland,Age-adjusted prevalence,9.3,9.1,9.5,91252,TX_Pearland
20742,TX,Pharr,Age-adjusted prevalence,18.0,17.5,18.4,70400,TX_Pharr
21666,TX,Plano,Age-adjusted prevalence,8.6,8.5,8.7,259841,TX_Plano
22610,TX,Richardson,Age-adjusted prevalence,8.8,8.7,9.0,99223,TX_Richardson
23146,TX,Round Rock,Age-adjusted prevalence,10.0,9.9,10.2,99887,TX_Round Rock
23413,TX,San Angelo,Age-adjusted prevalence,11.4,11.3,11.6,93200,TX_San Angelo
23635,TX,San Antonio,Age-adjusted prevalence,13.7,13.7,13.8,1327407,TX_San Antonio
26362,TX,Sugar Land,Age-adjusted prevalence,9.3,9.1,9.4,78817,TX_Sugar Land
27502,TX,Tyler,Age-adjusted prevalence,12.5,12.3,12.6,96900,TX_Tyler
27874,TX,Waco,Age-adjusted prevalence,14.0,13.8,14.1,124805,TX_Waco
28635,TX,Wichita Falls,Age-adjusted prevalence,12.4,12.3,12.6,104553,TX_Wichita Falls

In [135]:
# DROPPING the states and city columns after concat:
df_diab_01 = df_diab_01.drop(columns=['States','City' ])
df_diab_01

,AgeAdj_Prevalence,Diabetic,Low_Risk,Pre_Diabetic,Pop_Count,StateAndCity
5,Age-adjusted prevalence,11.5,11.4,11.7,117063,TX_Abilene
395,Age-adjusted prevalence,8.5,8.3,8.7,84246,TX_Allen
470,Age-adjusted prevalence,11.5,11.4,11.6,190695,TX_Amarillo
747,Age-adjusted prevalence,11.4,11.3,11.4,365438,TX_Arlington
1269,Age-adjusted prevalence,9.7,9.7,9.8,790390,TX_Austin
1871,Age-adjusted prevalence,12.3,12.1,12.4,71802,TX_Baytown
1925,Age-adjusted prevalence,13.8,13.7,14.0,118296,TX_Beaumont
2752,Age-adjusted prevalence,18.3,18.0,18.4,175023,TX_Brownsville
2822,Age-adjusted prevalence,12.8,12.6,13.0,76201,TX_Bryan
3123,Age-adjusted prevalence,10.4,10.3,10.5,119097,TX_Carrollton
5156,Age-adjusted prevalence,10.0,9.8,10.2,93857,TX_College Station
5835,Age-adjusted prevalence,13.5,13.5,13.6,305215,TX_Corpus Christi
6106,Age-adjusted prevalence,13.5,13.4,13.5,1197816,TX_Dallas
6566,Age-adjusted prevalence,10.4,10.2,10.6,113383,TX_Denton
7208,Age-adjusted prevalence,16.6,16.3,16.9,77100,TX_Edinburg
7340,Age-adjusted prevalence,15.0,14.9,15.1,649121,TX_El Paso
8421,Age-adjusted prevalence,12.8,12.7,12.8,741206,TX_Fort Worth
8627,Age-adjusted prevalence,8.0,7.9,8.2,116989,TX_Frisco
8790,Age-adjusted prevalence,12.1,12.0,12.2,226876,TX_Garland
9087,Age-adjusted prevalence,12.1,12.0,12.2,175396,TX_Grand Prairie
10649,Age-adjusted prevalence,13.3,13.2,13.3,2099451,TX_Houston
11193,Age-adjusted prevalence,11.9,11.8,12.0,216290,TX_Irving
11974,Age-adjusted prevalence,13.5,13.4,13.6,127921,TX_Killeen
12367,Age-adjusted prevalence,18.0,17.8,18.2,236091,TX_Laredo
12764,Age-adjusted prevalence,8.6,8.5,8.8,83560,TX_League City
12797,Age-adjusted prevalence,10.6,10.4,10.7,95290,TX_Lewisville
13251,Age-adjusted prevalence,12.2,12.1,12.4,80455,TX_Longview
14519,Age-adjusted prevalence,11.6,11.5,11.7,229573,TX_Lubbock
14784,Age-adjusted prevalence,15.9,15.7,16.2,129877,TX_McAllen
14799,Age-adjusted prevalence,9.2,9.1,9.4,131117,TX_McKinney
15263,Age-adjusted prevalence,11.9,11.7,12.0,139824,TX_Mesquite
15448,Age-adjusted prevalence,10.4,10.2,10.5,111147,TX_Midland
15855,Age-adjusted prevalence,15.5,15.2,15.8,77058,TX_Mission
15920,Age-adjusted prevalence,10.9,10.7,11.1,67358,TX_Missouri City
19583,Age-adjusted prevalence,12.2,12.0,12.3,99940,TX_Odessa
20494,Age-adjusted prevalence,12.7,12.6,12.8,149043,TX_Pasadena
20593,Age-adjusted prevalence,9.3,9.1,9.5,91252,TX_Pearland
20742,Age-adjusted prevalence,18.0,17.5,18.4,70400,TX_Pharr
21666,Age-adjusted prevalence,8.6,8.5,8.7,259841,TX_Plano
22610,Age-adjusted prevalence,8.8,8.7,9.0,99223,TX_Richardson
23146,Age-adjusted prevalence,10.0,9.9,10.2,99887,TX_Round Rock
23413,Age-adjusted prevalence,11.4,11.3,11.6,93200,TX_San Angelo
23635,Age-adjusted prevalence,13.7,13.7,13.8,1327407,TX_San Antonio
26362,Age-adjusted prevalence,9.3,9.1,9.4,78817,TX_Sugar Land
27502,Age-adjusted prevalence,12.5,12.3,12.6,96900,TX_Tyler
27874,Age-adjusted prevalence,14.0,13.8,14.1,124805,TX_Waco
28635,Age-adjusted prevalence,12.4,12.3,12.6,104553,TX_Wichita Falls

In [136]:
df_diab_01.columns

Index(['AgeAdj_Prevalence', 'Diabetic', 'Low_Risk', 'Pre_Diabetic',
       'Pop_Count', 'StateAndCity'],
      dtype='object')

In [138]:
#Reorganize the columns
#Create a new list in the order that you want.
New_cols = ['StateAndCity','Diabetic', 'Pre_Diabetic', 'Low_Risk', 'Pop_Count']
df_diab_01 = df_diab_01[New_cols]
df_diab_01

df_diab_01.to_csv("New_Diabetes_X01.csv")

In [ ]:
df_diab_01.describe().T

,count,mean,std,min,25%,50%,75%,max
Diabetic,47.0,12.140426,2.549054,8.0,10.4,12.1,13.50,18.3
Pre_Diabetic,47.0,12.287234,2.565458,8.2,10.5,12.2,13.55,18.4
Pop_Count,47.0,262244.468085,387270.025670,67358.0,93528.5,118296.0,221583.00,2099451.0