#### Data Science Project - Machine Leaning.
###### Application: Death Rate Estimation. 
####### Model: Prediction number of death from stroke.

####### Data provided by https://data.cdc.gov/
Datasets: 500 Cities: Diagnosed diabetes among adults aged >=18 years

Dataset Files:  Diagnosedamong adults aged >=18 Years
Stroke,Diabetes, Heart Dissease, High Blood Pressure, High Cholesterol, and Obesity.

Question: Based on the risk factors, what is a person's chance of having stroke?

Y = (dependent variable) Stroke. 
X = (Indenpent variable) Diabetes, Heart Dissease, High Blood Pressure, High Cholesterol, and Obesity 
ML Algorithms = Will be focusing on supervised (multiple linear regression) numeric values.

In [60]:

# importing the libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as snsfrom
%matplotlib inline

In [61]:
# Reading, loading  datasets. 

df_db = pd.read_csv("diabetes.csv" )
df_ht_dis = pd.read_csv("heart_disease.csv")
df_hg_bld_pres = pd.read_csv("high_blood_pressure.csv")
df_ob = pd.read_csv("Obesity.csv")
df_stroke = pd.read_csv("Stroke.csv")

In [62]:
df_db.shape

(29006, 24)

In [ ]:
df_db.head().T

In [64]:
df_db.columns

Index(['Year', 'StateAbbr', 'StateDesc', 'CityName', 'GeographicLevel',
       'DataSource', 'Category', 'UniqueID', 'Measure', 'Data_Value_Unit',
       'DataValueTypeID', 'Data_Value_Type', 'Data_Value',
       'Low_Confidence_Limit', 'High_Confidence_Limit',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'PopulationCount',
       'GeoLocation', 'CategoryID', 'MeasureId', 'CityFIPS', 'TractFIPS',
       'Short_Question_Text'],
      dtype='object')

In [87]:
New_df_db = df_db.drop(columns=["Year", "StateDesc",  "GeoLocation", "GeographicLevel" ,"DataSource", "Category", "UniqueID", "Measure", "Data_Value_Unit", "DataValueTypeID", \
"Data_Value_Type", "Data_Value_Footnote", "Data_Value_Footnote_Symbol", "Data_Value_Footnote_Symbol","CategoryID", "TractFIPS", "Short_Question_Text", "DataSource", \
"Category", "UniqueID", "Measure", "Data_Value_Unit", "Data_Value_Type", "DataValueTypeID", "Data_Value_Footnote_Symbol", "Data_Value_Footnote_Symbol", \
"CategoryID", "TractFIPS","CityFIPS" ,"Short_Question_Text"])

In [88]:
New_df_db.shape

(29006, 7)

In [89]:
New_df_db.head()

,StateAbbr,CityName,Data_Value,Low_Confidence_Limit,High_Confidence_Limit,PopulationCount,MeasureId
0,CA,Inglewood,12.7,12.0,13.5,"2,472",DIABETES
1,AL,Huntsville,9.3,8.5,10.3,"4,387",DIABETES
2,AK,Anchorage,7.4,6.9,7.8,"4,993",DIABETES
3,AZ,Tempe,7.0,6.4,7.9,"2,225",DIABETES
4,AZ,Yuma,11.1,11.0,11.3,"93,064",DIABETES

In [92]:
New_df_db = New_df_db.rename(columns={'StateAbbr':'States', 'CityName':'City','Data_Value':'DeathPer100k','Low_Confidence_Limit':'LowConfidence', 'High_Confidence_Limit':'HighConfidence','PopulationCount':'Population','MeasureId':'Diseses' })

In [93]:
New_df_db.head()

,States,City,DeathPer100k,LowConfidence,HighConfidence,Population,Diseses
0,CA,Inglewood,12.7,12.0,13.5,"2,472",DIABETES
1,AL,Huntsville,9.3,8.5,10.3,"4,387",DIABETES
2,AK,Anchorage,7.4,6.9,7.8,"4,993",DIABETES
3,AZ,Tempe,7.0,6.4,7.9,"2,225",DIABETES
4,AZ,Yuma,11.1,11.0,11.3,"93,064",DIABETES

In [100]:
print(New_df_db.isna().sum())

States              0
City                2
DeathPer100k      794
LowConfidence     794
HighConfidence    794
Population          0
Diseses             0
dtype: int64

In [101]:
New_df_db.loc[New_df_db.duplicated()]

,States,City,DeathPer100k,LowConfidence,HighConfidence,Population,Diseses
329,AL,Birmingham,NaN,NaN,NaN,9,DIABETES
404,AL,Huntsville,NaN,NaN,NaN,4,DIABETES
777,AZ,Surprise,NaN,NaN,NaN,2,DIABETES
782,AZ,Tucson,NaN,NaN,NaN,2,DIABETES
1038,AZ,Tucson,NaN,NaN,NaN,3,DIABETES
...,...,...,...,...,...,...,...
27728,UT,Sandy,6.9,6.7,7.0,"87,461",DIABETES
28010,WA,Bellevue,NaN,NaN,NaN,9,DIABETES
28069,WA,Spokane,8.8,8.7,8.8,"208,916",DIABETES
28601,WA,Vancouver,NaN,NaN,NaN,2,DIABETES
29003,WA,Spokane,NaN,NaN,NaN,7,DIABETES

In [107]:
#Dropping NULL Values
No_Null_df_db = New_df_db[["City", "DeathPer100k", "LowConfidence", "HighConfidence", "Population","Diseses" ]].dropna()
No_Null_df_db

,City,DeathPer100k,LowConfidence,HighConfidence,Population,Diseses
0,Inglewood,12.7,12.0,13.5,"2,472",DIABETES
1,Huntsville,9.3,8.5,10.3,"4,387",DIABETES
2,Anchorage,7.4,6.9,7.8,"4,993",DIABETES
3,Tempe,7.0,6.4,7.9,"2,225",DIABETES
4,Yuma,11.1,11.0,11.3,"93,064",DIABETES
...,...,...,...,...,...,...
29000,Milwaukee,10.4,9.6,11.1,"4,365",DIABETES
29001,Milwaukee,3.6,3.3,3.9,"3,807",DIABETES
29002,Milwaukee,11.9,11.0,12.8,"2,658",DIABETES
29004,Green Bay,8.8,8.1,9.5,"4,097",DIABETES
29005,Milwaukee,13.5,12.8,14.2,"2,275",DIABETES

In [108]:
# Verifying no NULL values - Dataset is cleaned!
No_Null_df_db.loc[New_df_db.duplicated()]

,City,DeathPer100k,LowConfidence,HighConfidence,Population,Diseses
1709,Clovis,8.8,8.7,8.9,"95,631",DIABETES
5326,Oceanside,9.3,9.2,9.4,"167,086",DIABETES
5354,Pasadena,8.7,8.6,8.8,"137,122",DIABETES
6881,Santa Barbara,8.3,8.1,8.4,"88,410",DIABETES
6917,Vacaville,8.6,8.4,8.7,"92,428",DIABETES
15313,Flint,17.2,17.1,17.4,"102,434",DIABETES
15859,Gulfport,12.6,12.4,12.8,"67,793",DIABETES
20513,Winston-Salem,11.3,11.2,11.4,"229,617",DIABETES
22330,Salem,9.6,9.5,9.7,"154,637",DIABETES
26522,Midland,10.4,10.2,10.5,"111,147",DIABETES
26978,Plano,8.6,8.5,8.7,"259,841",DIABETES
27728,Sandy,6.9,6.7,7.0,"87,461",DIABETES
28069,Spokane,8.8,8.7,8.8,"208,916",DIABETES