#### Data Science Project - Machine Leaning.

Capstone: 
Y = (Predicted) Stroke. 
X = (Multiple Factors) Diabetes, Heart Dissease, High Blood Pressure, High Cholesterol, and Obesity 

ML Algorithms = Will be focusing on supervised (multiple linear regression) numeric values.

####### Data provided by https://data.cdc.gov/
Dataset Files:  Diabetes.cvs
Data Measure: 500 Cities: Diagnosed diabetes among adults aged >=18 years

First feature:  Number of diabetes population.

In [40]:

# importing the libraies
import numpy as np
import matplotlib.pyplot as plt
 
import pandas as pd
import seaborn as sns
import math 
#%metplotlib inline #

In [41]:
# Reading, loading  datasets. 
# NEW/updated - top 5 states with highest 
# diabetes rates.
df_CA_Dbt = pd.read_csv("CA_Diabetes.csv")
df_TX_Dbt = pd.read_csv("TX_Diabetes.csv")
df_FL_Dbt = pd.read_csv("FL_Diabetes.csv")
df_IL_Dbt = pd.read_csv("IL_Diabetes.csv")
df_NY_Dbt = pd.read_csv("NY_Diabetes.csv")

df_CA_Dbt.drop(df_CA_Dbt.filter(regex="Unnamed"), axis=1, inplace=True)
df_TX_Dbt.drop(df_TX_Dbt.filter(regex="Unnamed"), axis=1, inplace=True)
df_FL_Dbt.drop(df_FL_Dbt.filter(regex="Unnamed"), axis=1, inplace=True)
df_IL_Dbt.drop(df_IL_Dbt.filter(regex="Unnamed"), axis=1, inplace=True)
df_NY_Dbt.drop(df_NY_Dbt.filter(regex="Unnamed"), axis=1, inplace=True)

In [45]:
df_NY_Dbt

              NY_City  NY_PopByMM  NY_DeathPer100k
0         NY New York     8175133             10.9
1        NY Rochester        2580             13.6
2        NY Rochester        4430             12.3
3          NY Yonkers      195976             10.5
4     NY Mount Vernon        4502             12.6
...               ...         ...              ...
2475     NY Rochester        1915             16.6
2476     NY Rochester        3033             19.2
2477      NY Syracuse        6978              4.2
2478     NY Rochester        2963             11.3
2479      NY Syracuse        2983             14.6

[2480 rows x 3 columns]

Run statistic on the dataset

Create linear regression modles to predict the values/or death rate.