#### Data Science Project - Machine Leaning.

Capstone: 
Y = (Predicted) Stroke. 
X = (Multiple Factors) Diabetes, Heart Dissease, High Blood Pressure, High Cholesterol, and Obesity 

ML Algorithms = Will be focusing on supervised (multiple linear regression) numeric values.

####### Data provided by https://data.cdc.gov/
Dataset Files:  Diabetes.cvs
Data Measure: 500 Cities: Diagnosed diabetes among adults aged >=18 years

First feature:  Number of diabetes population.

In [1]:

# importing the libraies
import numpy as np
import matplotlib.pyplot as plt
 
import pandas as pd
import seaborn as sns
import math 
#%metplotlib inline #

In [2]:
# Reading, loading  datasets. 

df = pd.read_csv("500_Cities_Diagnosed_diabetes.csv" )

In [3]:
df.shape

(29006, 24)

In [ ]:
df.head().T

In [20]:
New_df = df.drop(columns=["Year", "StateDesc",  "GeoLocation", "GeographicLevel" ,"DataSource", "Category", "UniqueID", "Measure", "Data_Value_Unit", "DataValueTypeID", \
"Low_Confidence_Limit", "High_Confidence_Limit", "Data_Value_Footnote", "Data_Value_Footnote_Symbol", "Data_Value_Footnote_Symbol","CategoryID", "TractFIPS", "Short_Question_Text", "DataSource", \
"Category", "UniqueID", "Measure", "Data_Value_Unit","Data_Value",  "DataValueTypeID", "Data_Value_Footnote_Symbol", "MeasureId", "Data_Value_Footnote_Symbol", \
"CategoryID", "TractFIPS","CityFIPS" ,"Short_Question_Text"])

In [22]:
New_df.shape

(29006, 4)

In [23]:
New_df.head()

  StateAbbr CityName   Data_Value_Type PopulationCount
0        TX  Abilene  Crude prevalence           2,229
1        TX  Abilene  Crude prevalence           7,647
2        TX  Abilene  Crude prevalence           2,684
3        TX  Abilene  Crude prevalence           1,209
4        TX  Abilene  Crude prevalence           3,924

In [24]:
New_df = New_df.rename(columns={'StateAbbr':'States', 'CityName':'City', 'Data_Value_Type':'Age-adj_preval','PopulationCount':'PopCountByMM' })

In [28]:
New_df.head()

  States     City    Age-adj_preval PopCountByMM
0     TX  Abilene  Crude prevalence        2,229
1     TX  Abilene  Crude prevalence        7,647
2     TX  Abilene  Crude prevalence        2,684
3     TX  Abilene  Crude prevalence        1,209
4     TX  Abilene  Crude prevalence        3,924

In [30]:
df_diab = New_df.query('`Age-adj_preval` == "Age-adjusted prevalence"') 
#df_diab.to_csv("NewDataDiabetes.csv")

In [31]:
# Check for NULL/Missing values
print(df_diab.isna().sum())

States            0
City              1
Age-adj_preval    0
PopCountByMM      0
dtype: int64

In [ ]:
# Verify for NULL and dup. values
# No NULL values are found.
df_diab.loc[df_diab.duplicated()]

In [ ]:
#count number of records by each state.
df_diab['States'].value_counts()

In [39]:

#df_diabetes["Texa"] =
df_diab.query('`States` == "CA"')

      States          City           Age-adj_preval PopCountByMM
118       CA       Alameda  Age-adjusted prevalence       73,812
382       CA      Alhambra  Age-adjusted prevalence       83,089
507       CA       Anaheim  Age-adjusted prevalence      336,265
666       CA       Antioch  Age-adjusted prevalence      102,372
682       CA  Apple Valley  Age-adjusted prevalence       69,135
...      ...           ...                      ...          ...
27812     CA       Visalia  Age-adjusted prevalence      124,442
27859     CA         Vista  Age-adjusted prevalence       93,834
28294     CA   West Covina  Age-adjusted prevalence      106,098
28441     CA   Westminster  Age-adjusted prevalence       89,701
28499     CA      Whittier  Age-adjusted prevalence       85,331

[121 rows x 4 columns]

In [38]:
df_diab.index

Int64Index([    5,    72,   118,   131,   174,   208,   326,   382,   395,
              413,
            ...
            28668, 28713, 28752, 28815, 28858, 28862, 28883, 28944, 28972,
            29005],
           dtype='int64', length=501)