#### Data Science Project - Machine Leaning.

Capstone: 
Y = (Predicted) Stroke. 
X = (Multiple Factors) Diabetes, Heart Dissease, High Blood Pressure, High Cholesterol, and Obesity 

ML Algorithms = Will be focusing on supervised (multiple linear regression) numeric values.

####### Data provided by https://data.cdc.gov/
Dataset Files:  Diabetes.cvs
Data Measure: 500 Cities: Diagnosed diabetes among adults aged >=18 years

First feature:  Number of diabetes population.

In [245]:

# importing the libraies
import numpy as np
import matplotlib.pyplot as plt
 
import pandas as pd
import seaborn as sns
import math 
#%metplotlib inline #

In [246]:
# Reading, loading  datasets. 
# NEW/updated - top 5 states with highest 
# diabetes rates.
df_CA_Dbt = pd.read_csv("CA_Diabetes.csv")
df_TX_Dbt = pd.read_csv("TX_Diabetes.csv")
df_FL_Dbt = pd.read_csv("FL_Diabetes.csv")
df_IL_Dbt = pd.read_csv("IL_Diabetes.csv")
df_NY_Dbt = pd.read_csv("NY_Diabetes.csv")

df_CA_Dbt.drop(df_CA_Dbt.filter(regex="Unnamed"), axis=1, inplace=True)
df_TX_Dbt.drop(df_TX_Dbt.filter(regex="Unnamed"), axis=1, inplace=True)
df_FL_Dbt.drop(df_FL_Dbt.filter(regex="Unnamed"), axis=1, inplace=True)
df_IL_Dbt.drop(df_IL_Dbt.filter(regex="Unnamed"), axis=1, inplace=True)
df_NY_Dbt.drop(df_NY_Dbt.filter(regex="Unnamed"), axis=1, inplace=True)

In [247]:
df_CA_Dbt

               CA_City CA_PopByMM  CA_DiagPer100k
0         CA Inglewood      2,472            12.7
1           CA Antioch      5,038            12.1
2           CA Burbank      2,274             7.6
3            CA Folsom     72,203             7.1
4     CA Moreno Valley    193,365            10.7
...                ...        ...             ...
5476    CA West Covina        429            11.3
5477    CA West Covina      5,088             9.1
5478          CA Vista        277            16.7
5479    CA West Covina      5,394             9.9
5480        CA Visalia      4,910             9.9

[5481 rows x 3 columns]

In [248]:
df_CA_Dbt.count()

CA_City           5481
CA_PopByMM        5481
CA_DiagPer100k    5481
dtype: int64

In [249]:
# Checking for duplicate values. 
df_CA_Dbt.loc[df_CA_Dbt.duplicated(subset=['CA_City'])]

             CA_City CA_PopByMM  CA_DiagPer100k
18        CA Anaheim      5,061             9.1
20       CA Alhambra      4,255            10.7
21        CA Anaheim    336,265             9.9
22        CA Anaheim      3,886             9.5
23        CA Anaheim      6,488             9.1
...              ...        ...             ...
5476  CA West Covina        429            11.3
5477  CA West Covina      5,088             9.1
5478        CA Vista        277            16.7
5479  CA West Covina      5,394             9.9
5480      CA Visalia      4,910             9.9

[5360 rows x 3 columns]

In [250]:
# Sorted
df_CA_Dbt.sort_values(["CA_City", "CA_PopByMM", "CA_DiagPer100k"])

          CA_City CA_PopByMM  CA_DiagPer100k
153    CA Alameda      2,928             7.8
101    CA Alameda      3,183             8.4
140    CA Alameda      3,271             9.2
38     CA Alameda      3,646             7.8
72     CA Alameda      4,107             9.2
...           ...        ...             ...
5383  CA Whittier      6,780             8.5
5378  CA Whittier        638             8.8
5377  CA Whittier      7,238             9.3
5305  CA Whittier     85,331             9.3
5340  CA Whittier     85,331             9.4

[5481 rows x 3 columns]

In [251]:
# Change data type of CA_PopByMM to int.
df_CA_Dbt["CA_PopByMM"] = df_CA_Dbt["CA_PopByMM"].str.replace(',','').astype(int)
df_CA_Dbt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5481 entries, 0 to 5480
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CA_City         5481 non-null   object
 1   CA_PopByMM      5481 non-null   int32
 2   CA_DiagPer100k  5481 non-null   float64
dtypes: float64(1), int32(1), object(1)
memory usage: 107.2+ KB

In [252]:
df_CA_Dbt.query('CA_City == "CA Anaheim" ')

        CA_City  CA_PopByMM  CA_DiagPer100k
17   CA Anaheim        4848            11.3
18   CA Anaheim        5061             9.1
21   CA Anaheim      336265             9.9
22   CA Anaheim        3886             9.5
23   CA Anaheim        6488             9.1
..          ...         ...             ...
148  CA Anaheim        7474            10.9
151  CA Anaheim        1407            10.7
152  CA Anaheim        3529             9.1
154  CA Anaheim        6861             9.7
155  CA Anaheim        7141            11.5

[77 rows x 3 columns]

In [256]:
#df_CA_Dbt.query('CA_City == "CA Alameda" ') 
conditions = df_CA_Dbt(['CA_City'] == 'CA Alameda')
Data_Values = df_CA_Dbt(['CA_PopByMM'])
df_CA_Dbt['CA_Alameda'] = np.select(conditions, Data_Values)

TypeError: 'DataFrame' object is not callable

In [ ]:
df_CA_Dbt

Empty DataFrame
Columns: [CA_City, CA_PopByMM, CA_DiagPer100k, CA_Alameda]
Index: []

In [ ]:
# Hoding
df_CA_Dbt.query('CA_City == "CA Folsom" ')

Empty DataFrame
Columns: [CA_City, CA_PopByMM, CA_DiagPer100k]
Index: []

In [ ]:
df_CA_Dbt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77 entries, 17 to 155
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CA_City         77 non-null     object
 1   CA_PopByMM      77 non-null     int32
 2   CA_DiagPer100k  77 non-null     float64
dtypes: float64(1), int32(1), object(1)
memory usage: 2.1+ KB

In [ ]:
#Sum multiple columns when conditions are met.
df_CA_Dbt.query('CA_City == "CA Anaheim" ') 
df_CA_col_list = ['CA_PopByMM', 'CA_DiagPer100k']
df_CA_Dbt[df_CA_col_list].sum()

CA_PopByMM        1008759.0
CA_DiagPer100k        763.5
dtype: float64

Run statistic on the dataset

Create linear regression modles to predict the values/or death rate.