### Exercise
1. Create a complex data type
    1. Use a combination of at least two of these data structure in one variable
        1. list
        1. dictionary
        1. tuple
        1. set

1. Write two functions
    1. Requirements
        1. Use exception handling
    1. one function that reads a file from the complex data type
    1. one function that writes a file from the complex data type

In [2]:
children =["Andrew","Laura","Joe"]

In [3]:
print (children)
children.pop()
print (children)

['Andrew', 'Laura', 'Joe']
['Andrew', 'Laura']

In [4]:
print (children)
children.remove('Andrew')
print (children)

['Andrew', 'Laura']
['Laura']

In [6]:
#checking that input is an integer
'Laura' in children

True

In [10]:
8 in [1,2,3,4,5,6,7,8,9]

True

In [11]:
"7" in ["1","2","3","4","5","6","7","8","9","0"]

True

In [12]:
'1234567890' == ["1","2","3","4","5","6","7","8","9","0"]

False

In [23]:
[int(x) for x in '1234567890']

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [22]:

7 in [int(x) for x in '1234567890']

True

In [15]:
str(7) in '1234567890'

True

In [24]:
# With 3 rows and 4 columns
students = [["Joel", 85, 95, 70],
            ["Anne", 95, 100, 100],
            ["Mike", 77, 70, 80, 85]]
# With 3 rows and 3 columns
movies = [["The Holy Grail", 1975, 9.99],
          ["Life of Brian", 1979, 12.30],
          ["The Meaning of Life", 1983, 7.50]]

In [32]:
students[2][4]

85

In [28]:
type(students[2][4])

int

In [29]:
type(movies[1][0])

str

In [ ]:
'1234567890'

In [30]:
movies[1][0]

'Life of Brian'

In [33]:
# str to list
lob_list = movies[1][0].split(" ")
lob_list

['Life', 'of', 'Brian']

In [34]:
len(lob_list)

3

In [40]:
#list to str
" ".join(lob_list)

'Life dump char in here of dump char in here Brian'

In [38]:
students[1][3]

100

In [41]:
flick = []
#build a list
flick.append('Kundun')
flick.append(1997)
flick.append(4.7)
print(flick)
#adding list as child list to parent list
movies.append(flick)
movies

['Kundun', 1997, 4.7]

[['The Holy Grail', 1975, 9.99],
 ['Life of Brian', 1979, 12.3],
 ['The Meaning of Life', 1983, 7.5],
 ['Kundun', 1997, 4.7]]

In [42]:
lssimple =[1,2,7,3,2,2,2,2,None]
len(lssimple)

9

In [43]:
foo = lssimple[8]
type(foo)

NoneType

In [44]:
for r in range(0,9): print (lssimple[r])

1
2
7
3
2
2
2
2
None

In [45]:
lssimple.index(None)

8

In [47]:
lssimple[8]*3

6

In [49]:
lssimple.count(2)

5

In [50]:
None == None

True

In [51]:
lssimple

[1, 2, 7, 3, 2, 2, 2, 2, None]

In [55]:
print(lssimple.reverse())
print(lssimple)

None
[1, 2, 7, 3, 2, 2, 2, 2, None]

In [60]:
lssimplejr = [1, 2, 7, 3, 2, 2, 2, 2]
lssimplejr.sort(reverse=True)
lssimplejr

[7, 3, 2, 2, 2, 2, 2, 1]

In [ ]:
children

In [62]:
"Andrew".lower()

'andrew'

In [66]:
children =["Andrew","Laura","Joe"]
children.sort(key=str.lower)
children

['Andrew', 'Joe', 'Laura']

In [68]:
"A" < "a"

True

In [67]:
children =["andrew","Andrew","Laura","Joe"]
children.sort()
children

['Andrew', 'Joe', 'Laura', 'andrew']

In [ ]:
children =["Andrew","Laura","Joe"]
#default order ascending
children.sort(key=str.__len__,reverse = True)
children

In [69]:
lssimple.remove(None)
print(sum(lssimple))

21

In [70]:
lssimple

[1, 2, 2, 2, 2, 2, 3, 7]

In [71]:
# slicer syntax
#list[start_index:end_index:step]
fancy = [52,54,56,58,60,62]
print(fancy[0:2])
print(fancy[::-1])

[52, 54]
[62, 60, 58, 56, 54, 52]

In [81]:
print(fancy[-3:])

[58, 60, 62]

In [82]:
print(fancy[0:4:2])
print(fancy[:2])

[52, 56]
[52, 54]

## Adding and Extending Lists

In [92]:
chest

['scroll', 'pestle']

In [94]:
inv = ["staff","robe"]
chest = ["scroll","pestle"]

print(chest + inv)
print(inv + chest)

['scroll', 'pestle', 'staff', 'robe']
['staff', 'robe', 'scroll', 'pestle']

In [97]:
chest + inv

['scroll', 'pestle', 'staff', 'robe']

In [98]:
foo = inv.extend(chest)
print(foo)

None

In [100]:
inv.append("silver dagger")

In [101]:
inv

['staff', 'robe', 'scroll', 'pestle', 'silver dagger']

In [102]:
inv = ["staff","robe"]

In [103]:
#inv = inv + chest
inv += chest
inv

['staff', 'robe', 'scroll', 'pestle']

In [104]:
chest

['scroll', 'pestle']

In [105]:
chest[2]

IndexError: list index out of range

In [106]:
foobar

NameError: name 'foobar' is not defined

In [107]:
my_dict2 = {
    'e': [1,3]
    , 'b': "2"
    , 'c': 3
    , 'a':[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]}

In [108]:
my_dict2.keys()

dict_keys(['e', 'b', 'c', 'a'])

In [109]:
my_dict2.values()

dict_values([[1, 3], '2', 3, [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]])

In [110]:
my_dict2.items()

dict_items([('e', [1, 3]), ('b', '2'), ('c', 3), ('a', [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)])])

In [111]:
my_dict2['g'] = "foo"

In [126]:
my_dict2['a'][2]

[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]

In [129]:
type(my_dict2.get('t'))

NoneType

In [127]:
my_dict2['t']

KeyError: 't'

In [144]:
args= {"d_input":my_dict2, "keyname":{'t':1}}

In [151]:
sillytry(inv, 5)

end
string

'error!!!: index out of range'

In [141]:
my_dict2[(1,2)]

KeyError: (1, 2)

In [154]:
def sillytry(d_input=my_dict2, keyname='e'):
    #exception handling
    #try block
    try:
        #what we think might blow up
        value = d_input[keyname]
    except TypeError:
        #how we think might blow up
        value = 'error!!!: Bad TYPE'
    except KeyError:
        #how we think might blow up
        value = 'error!!!: invalid key'
    except IndexError:
        #how we think might blow up
        value = 'error!!!: index out of range'
    except : value = 'error!!! generic error'        
    finally:
        print('end')
    if type(value) == str:
        print("string")
    elif type(value) == int:
        print("int")
    else:
        print("other: {}".format(str(type(value))))
    return value
kwargs = {"d_input":my_dict2, "keyname":'e'}

In [152]:
"{},{}".format(*kwargs)

'd_input,keyname'

In [155]:
#sillytry(d_input=my_dict2, keyname='e')
sillytry(**kwargs)

end
other: <class 'list'>

[1, 3]

In [156]:
kwargs = {"d_input":my_dict2, "keyname":'7+f'}
print(sillytry(**kwargs))

end
string
error!!!: invalid key

In [157]:
print(sillytry(keyname='x'))

end
string
error!!!: invalid key

In [158]:
print(sillytry(keyname='b'))

end
string
2

In [159]:
print(sillytry(keyname='c'))

end
int
3

In [161]:
children

['Andrew', 'Joe', 'Laura', 'andrew']

In [160]:
children[4]

IndexError: list index out of range

In [162]:
my_dict2

{'e': [1, 3],
 'b': '2',
 'c': 3,
 'a': [(1, True),
  (1, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (3, False)],
 'g': 'foo'}

In [163]:
my_dict2.pop('a')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3, 'g': 'foo'}

In [165]:
my_dict2.pop('e')
my_dict2

{'b': '2', 'c': 3, 'g': 'foo'}

In [166]:
#my_dict2["h"]= 'newerdata'
my_dict2.setdefault('g','newerdata')
my_dict2

{'b': '2', 'c': 3, 'g': 'foo'}

In [167]:
my_dict2["f"]

KeyError: 'f'

In [168]:
value = my_dict2.get('f')
print(value is None)

True

In [169]:
type(my_dict2.get('f'))

NoneType

In [170]:
my_dict2.values()

dict_values(['2', 3, 'foo'])

In [171]:
my_dict2.keys()

dict_keys(['b', 'c', 'g'])

In [172]:
my_dict2.items()

dict_items([('b', '2'), ('c', 3), ('g', 'foo')])

In [173]:
my_dict2['e']

KeyError: 'e'

In [174]:
for k,v in my_dict2.items():
    print('key: {} value {}'.format(k,v))

key: b value 2
key: c value 3
key: g value foo

In [175]:
# for k,v in my_dict2.items():
#     print('key: {} value {}'.format(k,v))
    
d_sample = {'key: '+str(k)+' value '+str(v) for k,v in my_dict2.items()}
d_sample

{'key: b value 2', 'key: c value 3', 'key: g value foo'}

In [176]:
for d in d_sample:print(d)

key: c value 3
key: b value 2
key: g value foo

In [177]:
print(list(my_dict2))

['b', 'c', 'g']

In [179]:
contacts = {
    "Joel":{
               "address": "1500 Anystreet"
               ,"city": "San Francisco"
               ,"state": "California"
               ,"postalCode": "94110"
               ,"phone": "555-555-1111"
          },
    "Anne":{"address": "1000 Somestreet", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-2222"},
    "Ben": {"address": "1400 Another Street", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-4444"}
}

In [180]:
print(contacts.keys())
print(contacts.items())
print(contacts.values())

dict_keys(['Joel', 'Anne', 'Ben'])
dict_items([('Joel', {'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}), ('Anne', {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}), ('Ben', {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'})])
dict_values([{'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}, {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}, {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'}])

In [184]:
contacts['Ben']['address']

KeyError: 'SSN'

In [183]:
contacts.get('Ben').get('address')

In [185]:
contacts.get('Anne').get('email')

In [186]:
#writing data
members = ["John Cleese", "Eric Idle","Terry Jones"]
# "w"= overwite, "a" = append, "r" = read + "a" ASCII(default) or "b" for binary
with open("pythoneers.txt", "w") as file:
    file.write("members"+ "\n")
    for m in members:
        file.write(m + "\n")          # adds new line

In [189]:
!dir ../..

 Volume in drive C has no label.
 Volume Serial Number is 0CF2-974E

 Directory of c:\2023-02-DSI-WE\instructor

04/02/2023  12:43 PM    <DIR>          .
04/15/2023  04:24 PM    <DIR>          ..
04/15/2023  11:03 AM    <DIR>          py
               0 File(s)              0 bytes
               3 Dir(s)  159,823,810,560 bytes free

In [191]:
!head members.txt

members
John Cleese
Eric Idle
Terry Jones

In [192]:
#reading data - overparse
lst = []
with open("members.txt", "r") as file:
    for r in file.read():
        lst.append(r)
lst

['m',
 'e',
 'm',
 'b',
 'e',
 'r',
 's',
 '\n',
 'J',
 'o',
 'h',
 'n',
 ' ',
 'C',
 'l',
 'e',
 'e',
 's',
 'e',
 '\n',
 'E',
 'r',
 'i',
 'c',
 ' ',
 'I',
 'd',
 'l',
 'e',
 '\n',
 'T',
 'e',
 'r',
 'r',
 'y',
 ' ',
 'J',
 'o',
 'n',
 'e',
 's',
 '\n']

In [193]:
lst = []
with open("members.txt", "r") as file:
    lst = file.read().split("\n")
lst

['members', 'John Cleese', 'Eric Idle', 'Terry Jones', '']

In [194]:
lst[1:-1]

['John Cleese', 'Eric Idle', 'Terry Jones']

In [207]:
file

In [195]:
lst = []
with open("members.txt", "r") as file:
    for r in file.readlines():
        lst.append(r)
lst

['members\n', 'John Cleese\n', 'Eric Idle\n', 'Terry Jones\n']

In [201]:
lst = []
with open("members.txt", "r") as file:
    for r in file.readlines():
        lst.append(r.split("\n"))
lst

[['members', ''], ['John Cleese', ''], ['Eric Idle', ''], ['Terry Jones', '']]

In [202]:
[l[0] for l in lst[1:]]

['John Cleese', 'Eric Idle', 'Terry Jones']

In [199]:
[l.replace("\n","") for l in lst[1:]]

['John Cleese', 'Eric Idle', 'Terry Jones']

In [ ]:
!head members.txt

In [204]:
my_dict2

{'b': '2', 'c': 3, 'g': 'foo'}

In [203]:
list(my_dict2)

['b', 'c', 'g']

In [205]:
with open("my_dict2_items.tsv", "w") as file:
    for x in list(my_dict2):
        file.write(x+'\t'+str(my_dict2[x])+"\n")

In [208]:
!head my_dict2_items.tsv

b	2
c	3
g	foo

In [209]:
my_dict2

{'b': '2', 'c': 3, 'g': 'foo'}

In [210]:
import csv
with open("my_dict2_items.csv", "w",  newline="") as file:
    writer = csv.writer(file)
    for x in list(my_dict2):
#        file.write(x+'\t'+str(my_dict2[x])+"\n")        
        writer.writerow([str(x),str(my_dict2[x])])

In [211]:
!head my_dict2_items.csv

b,2
c,3
g,foo

In [212]:

with open("movies.csv", "w",  newline="") as file:
    writer = csv.writer(file)
    for x in movies:
#        file.write(x+'\t'+str(my_dict2[x])+"\n")        
        writer.writerow(x)

In [213]:
!head movies.csv

The Holy Grail,1975,9.99
Life of Brian,1979,12.3
The Meaning of Life,1983,7.5
Kundun,1997,4.7

In [233]:
with open("contacts.csv", "w",  newline="") as file:
    writer = csv.writer(file)
    k =["name"]
    for c in contacts["Joel"].keys(): k.append(c)
    writer.writerow(k)
    for c in contacts:
#        file.write(x+'\t'+str(my_dict2[x])+"\n") 
        k = []
        k.append(c)
        for t in contacts[c].values(): k.append(t)       
        writer.writerow(k)

In [232]:
k =["name"]
for c in contacts["Joel"].keys(): k.append(c)
k

['name', 'address', 'city', 'state', 'postalCode', 'phone']

In [226]:
for c in contacts:
    print(c)
    for t in contacts[c].values(): print(t)

Joel
1500 Anystreet
San Francisco
California
94110
555-555-1111
Anne
1000 Somestreet
Fresno
California
93704
125-555-2222
Ben
1400 Another Street
Fresno
California
93704
125-555-4444

In [234]:
!head contacts.csv

name,address,city,state,postalCode,phone
Joel,1500 Anystreet,San Francisco,California,94110,555-555-1111
Anne,1000 Somestreet,Fresno,California,93704,125-555-2222
Ben,1400 Another Street,Fresno,California,93704,125-555-4444

In [223]:
[k  for c in contacts for k in contacts[c].values()]

['1500 Anystreet',
 'San Francisco',
 'California',
 '94110',
 '555-555-1111',
 '1000 Somestreet',
 'Fresno',
 'California',
 '93704',
 '125-555-2222',
 '1400 Another Street',
 'Fresno',
 'California',
 '93704',
 '125-555-4444']