In [1]:
from openpyxl import load_workbook
import pandas as pd

#open Excel NG spot price file
fname = 'NG_spot_price.xlsx'

#read table to dataframe
NG_spot_df = pd.read_excel(fname, sheet_name = 'Data')
NG_spot_df.head()

        Date  Henry Hub Natural Gas Spot Price (Dollars per Million Btu)
0 1997-01-15                                               3.45
1 1997-02-15                                               2.15
2 1997-03-15                                               1.89
3 1997-04-15                                               2.03
4 1997-05-15                                               2.25

In [2]:
NG_spot_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316 entries, 0 to 315
Data columns (total 2 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Date                                                        316 non-null    datetime64[ns]
 1   Henry Hub Natural Gas Spot Price (Dollars per Million Btu)  316 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.1 KB

In [5]:
NG_spot_df['period'] = NG_spot_df['Date'] - pd.offsets.MonthBegin(1, normalize=True)
NG_spot_df = NG_spot_df.rename(columns = {"Henry Hub Natural Gas Spot Price (Dollars per Million Btu)":"NG_price"})
NG_spot_df = NG_spot_df[['period', 'NG_price']]
NG_spot_df.head()

      period  NG_price
0 1997-01-01      3.45
1 1997-02-01      2.15
2 1997-03-01      1.89
3 1997-04-01      2.03
4 1997-05-01      2.25

In [6]:
NG_spot_df.describe()

                              period    NG_price
count                            316  316.000000
mean   2010-02-14 20:03:02.278480896    4.235949
min              1997-01-01 00:00:00    1.630000
25%              2003-07-24 06:00:00    2.660000
50%              2010-02-15 00:00:00    3.605000
75%              2016-09-08 12:00:00    5.375000
max              2023-04-01 00:00:00   13.420000
std                              NaN    2.162403

In [7]:
csv_path = 'NG_price.csv'
with open(csv_path, 'w') as fout:
        NG_spot_df.to_csv(fout, index=False, lineterminator='\n')