### Exercise
1. Create a complex data type
    1. Use a combination of at least two of these data structure in one variable
        1. list
        1. dictionary
        1. tuple
        1. set

1. Write two functions
    1. Requirements
        1. Use exception handling
    1. one function that reads a file from the complex data type
    1. one function that writes a file from the complex data type

In [1]:
children =["Andrew","Laura","Joe"]

In [2]:
print (children)
children.pop()
print (children)

['Andrew', 'Laura', 'Joe']
['Andrew', 'Laura']

In [3]:
print (children)
children.remove('Andrew')
print (children)

['Andrew', 'Laura']
['Laura']

In [4]:
#checking that input is an integer
'Loura' in children

False

In [6]:
'7' in '1234567890'

True

In [7]:
# With 3 rows and 4 columns
students = [["Joel", 85, 95, 70],
            ["Anne", 95, 100, 100],
            ["Mike", 77, 70, 80, 85]]
# With 3 rows and 3 columns
movies = [["The Holy Grail", 1975, 9.99],
          ["Life of Brian", 1979, 12.30],
          ["The Meaning of Life", 1983, 7.50]]

In [9]:
students[2][4]

85

In [10]:
type(students)

list

In [11]:
type(movies[1][0])

str

In [12]:
movies[1][0]

'Life of Brian'

In [13]:
# str to list
lob_list = movies[1][0].split(" ")
lob_list

['Life', 'of', 'Brian']

In [14]:
#list to str
" ".join(lob_list)

'Life of Brian'

In [15]:
students[1][3]

100

In [16]:
flick = []
#build a list
flick.append('Kundun')
flick.append(1997)
flick.append(4.7)
print(flick)
#adding list as child list to parent list
movies.append(flick)
movies

['Kundun', 1997, 4.7]

[['The Holy Grail', 1975, 9.99],
 ['Life of Brian', 1979, 12.3],
 ['The Meaning of Life', 1983, 7.5],
 ['Kundun', 1997, 4.7]]

In [97]:
lssimple =[1,2,7,3,2,2,2,2,None]
len(lssimple)

9

In [103]:
foo = lssimple[8]
type(foo)

NoneType

In [101]:
for r in range(0,9): print (lssimple[r])

1
2
7
3
2
2
2
2
None

In [112]:
lssimple.index(None)

8

In [110]:
lssimple[8]*3

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [111]:
lssimple.count(None)

1

In [25]:
None == None

True

In [26]:
lssimple

[1, 2, 7, 3, 2, 2, 2, 2, None]

In [27]:
lssimple.reverse()
lssimple

[None, 2, 2, 2, 2, 3, 7, 2, 1]

In [28]:
children

['Laura']

In [29]:
children =["Andrew","Laura","Joe"]
children.sort(key=str.lower)
children

['Andrew', 'Joe', 'Laura']

In [30]:
children =["Andrew","Laura","Joe"]
#default order ascending
children.sort(key=str.__len__,reverse = True)
children

['Andrew', 'Laura', 'Joe']

In [31]:
lssimple.remove(None)
print(sum(lssimple))

21

In [32]:
lssimple

[2, 2, 2, 2, 3, 7, 2, 1]

In [35]:
# slicer syntax
#list[start_index:end_index:step]
fancy = [52,54,56,58,60,62]
print(fancy[0:2])
print(fancy[::-1])

[52, 54]
[62, 60, 58, 56, 54, 52]

In [36]:
print(fancy[0:4:2])
print(fancy[:2])

[52, 56]
[52, 54]

In [37]:
inv = ["staff","robe"]
chest = ["scroll","pestle"]

print(chest + inv)
print(inv + chest)

['scroll', 'pestle', 'staff', 'robe']
['staff', 'robe', 'scroll', 'pestle']

In [38]:
#inv = inv + chest
inv += chest
inv

['staff', 'robe', 'scroll', 'pestle']

In [39]:
chest

['scroll', 'pestle']

In [40]:
chest[2]

IndexError: list index out of range

In [41]:
foobar

NameError: name 'foobar' is not defined

In [42]:
my_dict2 = {'e': [1,3], 'b': "2", 'c': 3, 'a':[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]}

In [43]:
my_dict2.keys()

dict_keys(['e', 'b', 'c', 'a'])

In [44]:
my_dict2.values()

dict_values([[1, 3], '2', 3, [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]])

In [47]:
my_dict2.items()

dict_items([('e', [1, 3]), ('b', '2'), ('c', 3), ('a', [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]), ('g', 'foo')])

In [46]:
my_dict2['g'] = "foo"

In [48]:
my_dict2['t']

KeyError: 't'

In [49]:
def sillytry(d_input=my_dict2, keyname='e'):
    #exception handling
    #try block
    try:
        #what we think might blow up
        value = d_input[keyname]
    except TypeError:
        #how we think might blow up
        value = 'error!!!: Bad TYPE'
    except KeyError:
        #how we think might blow up
        value = 'error!!!: invalid key'
    except : value = 'error!!! generic error'        
    finally:
        print('end')
    if type(value) == str:
        print("string")
    elif type(value) == int:
        print("int")
    else:
        print("unknown")
    return value
kwargs = {"d_input":my_dict2, "keyname":'e'}

In [55]:
"{},{}".format(*kwargs)

'd_input,keyname'

In [57]:
#sillytry(d_input=my_dict2, keyname='e')
sillytry(**kwargs)

end
unknown

[1, 3]

In [58]:
kwargs = {"d_input":my_dict2, "keyname":'7+f'}
print(sillytry(**kwargs))

end
string
error!!!: invalid key

In [59]:
print(sillytry(keyname='x'))

end
string
error!!!: invalid key

In [60]:
print(sillytry(keyname='b'))

end
string
2

In [61]:
print(sillytry(keyname='c'))

end
int
3

In [62]:
children[4]

IndexError: list index out of range

In [63]:
my_dict2

{'e': [1, 3],
 'b': '2',
 'c': 3,
 'a': [(1, True),
  (1, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (3, False)],
 'g': 'foo'}

In [64]:
my_dict2.pop('a')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3, 'g': 'foo'}

In [65]:
my_dict2.pop()
my_dict2

TypeError: pop expected at least 1 argument, got 0

In [66]:
#my_dict2["h"]= 'newerdata'
my_dict2.setdefault('h','newerdata')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3, 'g': 'foo', 'h': 'newerdata'}

In [67]:
my_dict2["f"]

KeyError: 'f'

In [68]:
value = my_dict2.get('f')
print(value is None)

True

In [69]:
type(my_dict2.get('f'))

NoneType

In [70]:
my_dict2.values()

dict_values([[1, 3], '2', 3, 'foo', 'newerdata'])

In [71]:
my_dict2.keys()

dict_keys(['e', 'b', 'c', 'g', 'h'])

In [72]:
my_dict2.items()

dict_items([('e', [1, 3]), ('b', '2'), ('c', 3), ('g', 'foo'), ('h', 'newerdata')])

In [ ]:
my_dict2['e']

In [73]:
for k,v in my_dict2.items():
    print('key: {} value {}'.format(k,v))

key: e value [1, 3]
key: b value 2
key: c value 3
key: g value foo
key: h value newerdata

In [78]:
# for k,v in my_dict2.items():
#     print('key: {} value {}'.format(k,v))
    
d_sample = {'key: '+str(k)+' value '+str(v) for k,v in my_dict2.items()}
d_sample

{'key: b value 2',
 'key: c value 3',
 'key: e value [1, 3]',
 'key: g value foo',
 'key: h value newerdata'}

In [77]:
for d in d_sample:print(d)

key: e value [1, 3]
key: b value 2
key: c value 3
key: g value foo
key: h value newerdata

In [79]:
print(list(my_dict2))

['e', 'b', 'c', 'g', 'h']

In [80]:
contacts = {
    "Joel":{"address": "1500 Anystreet", "city": "San Francisco",
         "state": "California", "postalCode": "94110", 
         "phone": "555-555-1111"},
    "Anne":{"address": "1000 Somestreet", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-2222"},
    "Ben": {"address": "1400 Another Street", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-4444"}
}

In [81]:
print(contacts.keys())
print(contacts.items())
print(contacts.values())

dict_keys(['Joel', 'Anne', 'Ben'])
dict_items([('Joel', {'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}), ('Anne', {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}), ('Ben', {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'})])
dict_values([{'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}, {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}, {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'}])

In [82]:
contacts['Ben']['address']

'1400 Another Street'

In [83]:
contacts.get('Ben').get('address')

'1400 Another Street'

In [84]:
contacts.get('Anne').get('email')

In [85]:
#writing data
members = ["John Cleese", "Eric Idle","Terry Jones"]
# "w"= overwite, "a" = append, "r" = read = "a" ASCII or "b"
with open("members.txt", "w") as file:
    file.write("members"+ "\n")
    for m in members:
        file.write(m + "\n")          # adds new line

In [86]:
!head members.txt

members
John Cleese
Eric Idle
Terry Jones

In [87]:
#reading data - overparse
lst = []
with open("members.txt", "r") as file:
    for r in file.read():
        lst.append(r)
lst

['m',
 'e',
 'm',
 'b',
 'e',
 'r',
 's',
 '\n',
 'J',
 'o',
 'h',
 'n',
 ' ',
 'C',
 'l',
 'e',
 'e',
 's',
 'e',
 '\n',
 'E',
 'r',
 'i',
 'c',
 ' ',
 'I',
 'd',
 'l',
 'e',
 '\n',
 'T',
 'e',
 'r',
 'r',
 'y',
 ' ',
 'J',
 'o',
 'n',
 'e',
 's',
 '\n']

In [88]:
lst = []
with open("members.txt", "r") as file:
    lst = file.read().split("\n")
lst

['members', 'John Cleese', 'Eric Idle', 'Terry Jones', '']

In [89]:
lst = []
with open("members.txt", "r") as file:
    for r in file.readlines():
        lst.append(r)
lst

['members\n', 'John Cleese\n', 'Eric Idle\n', 'Terry Jones\n']

In [90]:
!head members.txt

members
John Cleese
Eric Idle
Terry Jones

In [91]:
list(my_dict2)

['e', 'b', 'c', 'g', 'h']

In [92]:
with open("my_dict2_items.tsv", "w") as file:
    for x in list(my_dict2):
        file.write(x+'\t'+str(my_dict2[x])+"\n")

In [93]:
!head my_dict2_items.tsv

e	[1, 3]
b	2
c	3
g	foo
h	newerdata

In [94]:
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3, 'g': 'foo', 'h': 'newerdata'}

In [95]:
import csv
with open("my_dict2_items.csv", "w",  newline="") as file:
    writer = csv.writer(file)
    for x in list(my_dict2):
#        file.write(x+'\t'+str(my_dict2[x])+"\n")        
        writer.writerow([str(x),str(my_dict2[x])])

In [96]:
!head my_dict2_items.csv

e,"[1, 3]"
b,2
c,3
g,foo
h,newerdata