## Exercise
Use code to create all of the following to accomplish one or more tasks:
1. list
1. set
1. tuple
1. dictionary
1. function

Extra credit using index of variables and comprehensions

In [54]:
'''
Four basic data structures in Python
Lists - writable, iterable, numeric indexed/subscriptable
Sets - read-only, iterable, not index
Tuples - read-only, iterable, numeric indexed/subscriptable
Dictionaries - writable, iterable key indexed/subscriptable
'''

{'apple': 1, 'bannana': 2, 'pear': 3, 'grape': 4}

In [2]:
siblings =["Jim","Janet","Laura","Joe"]
type(siblings)

list

In [40]:
siblings.append('Andrew')
siblings

list

In [4]:
len(siblings)

5

In [5]:
#Python is 0 indexed, R and SQL are 1 indexed
siblings[0]

'Jim'

In [6]:
#append is list as a queue FIFO - First On First Out
siblings.append("Elizabeth")
siblings

['Jim', 'Janet', 'Laura', 'Joe', 'Andrew', 'Elizabeth']

In [7]:
#pop is list as a stack LIFO - Last In First Out
kid = siblings.pop()
print(kid)
siblings

Elizabeth

['Jim', 'Janet', 'Laura', 'Joe', 'Andrew']

In [8]:
kid = siblings.pop(2)
print(kid)
siblings

Laura

['Jim', 'Janet', 'Joe', 'Andrew']

In [32]:
#example of iterating through a list
for person in siblings: print(person)

Joe

['Jim', 'Janet', 'Andrew']

In [21]:
for n in 'Name': print(n)

Jim
Janet
Joe
Andrew

In [29]:
kid[3]

N
a
m
e

In [33]:
siblings_tuple = ("Jim","Janet","Laura","Joe")
type(siblings_tuple)

IndexError: string index out of range

In [35]:
siblings_tuple

tuple

In [36]:
siblings_tuple[2]

('Jim', 'Janet', 'Laura', 'Joe')

In [15]:
siblings_tuple.append('Andrew')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
siblings_set ={"Jim","Janet","Laura","Joe","Andrew"}
type(siblings_set)

In [ ]:
people = {"Temi", "Brian", "Brandon","Jaquellous","Rebecca","Darian", "Andrew"}

In [ ]:
people & siblings_set

In [ ]:
people[1]

In [ ]:
people | siblings_set

In [ ]:
blist = [1,2,3,4,5,4,3,4,5,6]
set(blist)

In [ ]:
#dictionary  a key-value pair
d_sample = {"a":1 , "b":2}
type(d_sample)

In [ ]:
#Python comprehension for dictionary
d_people ={k:len(k) for k in people}

In [ ]:
d_people

In [ ]:
#dictionary built-in attributes
d_people.keys()

In [44]:
#dictionary built-in attributes
type(d_people.keys())

dict

In [ ]:
# list comprehension from dictionary
[d for d in d_people.keys()]

In [ ]:
type([d for d in d_people.keys()])

In [ ]:
d_people.values()

In [ ]:
# list comprehension from dictionary
[v for v in d_people.values()]

In [ ]:
# subscriptable/indexed assignment for update/insert
d_people["Jason"] = 9
d_people

In [ ]:
d_people["newKid"] = 9
d_people

In [ ]:
#sample function
def count_char(name):
    '''counts number of characters in input'''
    return len(name)

In [ ]:
# example of trying to use glocal variable as global
name

In [ ]:
count_char?

In [ ]:
count_char('Python')

# name = 'Python'

In [ ]:
int_strlen = count_char("how long is this sentence?")
int_strlen

In [ ]:
count_char('Python')

In [ ]:
# function with conditional code block
def fun_longerword(word1,word2):
    '''compares length of words and shows longer one'''
    len_w1 = len(word1)
    len_w2 = len(word2)
    if len_w1 < len_w2:
        print("{} is longer".format(word2))
    else:
        print("{} is longer".format(word1))

In [ ]:
fun_longerword(word2="eggs",word1="bacon")

In [ ]:
# **kwargs
# pointer
d_param = {"name":"Python"}

In [ ]:
type(d_param)

In [ ]:
count_char(**d_param)
#count_char(name='Python')

In [ ]:
print("hello "+kid)

In [ ]:
print(f"Hello {siblings}")

In [ ]:
print("Hello {0} {3} {2}".format(*siblings))

In [ ]:
def count_char2(name):
    return name, len(name)

In [ ]:
a = count_char2(**d_param)
a[0]

In [ ]:
type(a)

In [ ]:
var_out = count_char2(**d_param)
type(var_out)

In [ ]:
var_out

In [48]:
var_out[1]

In [49]:
nm, num = count_char2(**d_param)
print(nm)
print(num)

NameError: name 'd_param' is not defined