### Exercise
1. Create a complex data type
    1. Use a combination of at least two of these data structure in one variable
        1. list
        1. dictionary
        1. tuple
        1. set

1. Write two functions
    1. Requirements
        1. Use exception handling
    1. one function that reads a file from the complex data type
    1. one function that writes a file from the complex data type

In [1]:
children =["Andrew","Laura","Joe"]

In [17]:
children[0][3]

'r'

In [2]:
print (children)
children.pop()
print (children)

['Andrew', 'Laura', 'Joe']
['Andrew', 'Laura']

In [3]:
print (children)
children.remove('Andrew')
print (children)

['Andrew', 'Laura']
['Laura']

In [5]:
#checking that input is an integer
'Lara' in children

False

In [6]:
8 in [1,2,3,4,5,6,7,8,9]

True

In [7]:
"7" in ["1","2","3","4","5","6","7","8","9","0"]

True

In [8]:
'1234567890' == ["1","2","3","4","5","6","7","8","9","0"]

False

In [9]:
[int(x) for x in '1234567890']

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [10]:

7 in [int(x) for x in '1234567890']

True

In [14]:
7 in 1234567890

TypeError: argument of type 'int' is not iterable

In [13]:
7 in '1234567890'

TypeError: 'in <string>' requires string as left operand, not int

In [12]:
str(7) in '1234567890'

False

In [17]:
# With 3 rows and 4 columns
students = [["Joel", 85, 95, 70],
            ["Anne", 95, 100, 100],
            ["Mike", 77, 70, 80, 85]]
# With 3 rows and 3 columns
movies = [["The Holy Grail", 1975, 9.99],
          ["Life of Brian", 1979, 12.30],
          ["The Meaning of Life", 1983, 7.50]]

In [29]:
new_movies = [["The Holy Grail", 1975, 9.99],
          ["Life of Brian", 1979, 12.30],
          ["The Meaning of Life", 1983, 7.50],
          ["Star Wars", [1,2,3,4,5,6,7,8,9], 2019, 1000]]

In [37]:
" ".join([new_movies[n][0] for n in range(0,len(new_movies))])

'The Holy Grail Life of Brian The Meaning of Life Star Wars'

In [34]:
[str(x) for x in new_movies[3][1]]

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [35]:
" ".join([str(x) for x in new_movies[3][1]])

'1 2 3 4 5 6 7 8 9'

In [18]:
students[2][4]

85

In [19]:
type(students[2][4])

int

In [20]:
type(movies[1][0])

str

In [21]:
'1234567890'

'1234567890'

In [22]:
movies[1][0]

'Life of Brian'

In [23]:
# str to list
lob_list = movies[1][0].split(" ")
lob_list

['Life', 'of', 'Brian']

In [24]:
len(lob_list)

3

In [26]:
#list to str
" :) !! ".join(lob_list)

'Life :) !! of :) !! Brian'

In [27]:
students[1][3]

100

In [38]:
movies

[['The Holy Grail', 1975, 9.99],
 ['Life of Brian', 1979, 12.3],
 ['The Meaning of Life', 1983, 7.5]]

In [18]:
flick = []
#build a list
flick.append('Kundun')
flick.append(1997)
flick.append(4.7)
print(flick)
#adding list as child list to parent list
movies.append(flick)
movies

['Kundun', 1997, 4.7]

[['The Holy Grail', 1975, 9.99],
 ['Life of Brian', 1979, 12.3],
 ['The Meaning of Life', 1983, 7.5],
 ['Kundun', 1997, 4.7]]

In [40]:
lssimple =[1,2,7,3,2,2,2,2,None]
len(lssimple)

9

In [49]:
sum(lssimple)

21

In [43]:
foo = lssimple[8]
type(foo)

NoneType

In [44]:
for r in range(0,9): print (lssimple[r])

1
2
7
3
2
2
2
2
None

In [48]:
lssimple.pop(lssimple.index(None))

In [45]:
lssimple.index(None)

8

In [50]:
lssimple

[1, 2, 7, 3, 2, 2, 2, 2]

In [51]:
lssimple[8]*3

IndexError: list index out of range

In [53]:
lssimple.count(7)

1

In [54]:
None == None

True

In [55]:
lssimple

[1, 2, 7, 3, 2, 2, 2, 2]

In [56]:
print(lssimple.reverse())
print(lssimple)

None
[2, 2, 2, 2, 3, 7, 2, 1]

In [57]:
lssimplejr = [1, 2, 7, 3, 2, 2, 2, 2]
lssimplejr.sort(reverse=True)
lssimplejr

[7, 3, 2, 2, 2, 2, 2, 1]

In [58]:
children

['Laura']

In [59]:
"Andrew".lower()

'andrew'

In [60]:
children =["Andrew","Laura","Joe"]
children.sort(key=str.lower)
children

['Andrew', 'Joe', 'Laura']

In [61]:
"A" < "a"

True

In [62]:
children =["Andrew","Laura","Joe"]
children.sort(key= len)
children

['Joe', 'Laura', 'Andrew']

In [63]:
children =["Andrew","Laura","Joe"]
#default order ascending
children.sort(key=str.__len__,reverse = True)
children

['Andrew', 'Laura', 'Joe']

In [ ]:
lssimple.remove(None)
print(sum(lssimple))

In [ ]:
lssimple

In [65]:
# slicer syntax
#list[start_index:end_index:step]
fancy = [52,54,56,58,60,62]
print(fancy[0:2])
print(fancy[::-2])

[52, 54]
[62, 58, 54]

In [66]:
print(fancy[-3:])

[58, 60, 62]

In [67]:
print(fancy[0:4:2])
print(fancy[:2])

[52, 56]
[52, 54]

## Adding and Extending Lists

In [68]:
inv = ["staff","robe"]
chest = ["scroll","pestle"]

print(chest + inv)
print(inv + chest)

['scroll', 'pestle', 'staff', 'robe']
['staff', 'robe', 'scroll', 'pestle']

In [69]:
chest + inv

['scroll', 'pestle', 'staff', 'robe']

In [70]:
foo = inv.extend(chest)
print(foo)

None

In [72]:
chest

['scroll', 'pestle']

In [73]:
inv.append("silver dagger")

In [76]:
inv.append(chest)

In [83]:
inv.extend(movies)

In [84]:
inv

['staff',
 'robe',
 ['scroll', 'pestle'],
 'scroll',
 'pestle',
 ['The Holy Grail', 1975, 9.99],
 ['Life of Brian', 1979, 12.3],
 ['The Meaning of Life', 1983, 7.5],
 ['Kundun', 1997, 4.7]]

In [78]:
inv.extend(chest)

In [85]:
print("{} {} {}".format(*movies))

['The Holy Grail', 1975, 9.99] ['Life of Brian', 1979, 12.3] ['The Meaning of Life', 1983, 7.5]

In [79]:
inv

['staff', 'robe', ['scroll', 'pestle'], 'scroll', 'pestle']

In [75]:
inv = ["staff","robe"]

In [86]:
#inv = inv + chest
inv += chest
inv

['staff',
 'robe',
 ['scroll', 'pestle'],
 'scroll',
 'pestle',
 ['The Holy Grail', 1975, 9.99],
 ['Life of Brian', 1979, 12.3],
 ['The Meaning of Life', 1983, 7.5],
 ['Kundun', 1997, 4.7],
 'scroll',
 'pestle']

In [87]:
chest

['scroll', 'pestle']

In [88]:
chest[2]

IndexError: list index out of range

In [ ]:
foobar

In [7]:
my_dict2 = {
    'e': [1,3]
    , 'b': "2"
    , 'c': 3
    , 'a':[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]}

In [92]:
print("{} {} {}".format(*my_dict2))

e b c

In [98]:
print("{e} {b} {c}".format(**my_dict2))

[1, 3] 2 3

In [96]:
for d in my_dict2.values(): print(d)

[1, 3]
2
3
[(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]

In [90]:
my_dict2.keys()

dict_keys(['e', 'b', 'c', 'a'])

In [93]:
my_dict2.values()

dict_values([[1, 3], '2', 3, [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]])

In [94]:
my_dict2.items()

dict_items([('e', [1, 3]), ('b', '2'), ('c', 3), ('a', [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)])])

In [99]:
my_dict2['g'] = "foo"

In [100]:
my_dict2['a'][2]

(2, True)

In [102]:
type(my_dict2.get('t'))

NoneType

In [101]:
my_dict2['t']

KeyError: 't'

In [103]:
args= {"d_input":my_dict2, "keyname":{'t':1}}

In [104]:
sillytry(inv, 5)

NameError: name 'sillytry' is not defined

In [105]:
my_dict2[(1,2)]

KeyError: (1, 2)

In [106]:
def sillytry(d_input=my_dict2, keyname='e'):
    #exception handling
    #try block
    try:
        #what we think might blow up
        value = d_input[keyname]
        print("success")
    except TypeError:
        #how we think might blow up
        value = 'error!!!: Bad TYPE'
    except KeyError:
        #how we think might blow up
        value = 'error!!!: invalid key'
    except IndexError:
        #how we think might blow up
        value = 'error!!!: index out of range'
    except : value = 'error!!! generic error'        
    finally:
        print('end')
    if "error!!!:" not in str(value):        
        if type(value) == str:
            print("string")
        elif type(value) == int:
            print("int")
        else:
            print("other: {}".format(str(type(value))))
    return value
kwargs = {"d_input":my_dict2, "keyname":'e'}

In [107]:
"{},{}".format(*kwargs)

'd_input,keyname'

In [108]:
"{d_input},{keyname}".format(**kwargs)

"{'e': [1, 3], 'b': '2', 'c': 3, 'a': [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)], 'g': 'foo'},e"

In [109]:
#sillytry(d_input=my_dict2, keyname='e')
sillytry(**kwargs)

success
end
other: <class 'list'>

[1, 3]

In [110]:
kwargs = {"d_input":my_dict2, "keyname":'7+f'}
print(sillytry(**kwargs))

end
error!!!: invalid key

In [111]:
print(sillytry(keyname='x'))

end
error!!!: invalid key

In [112]:
print(sillytry(keyname='b'))

success
end
string
2

In [113]:
print(sillytry(keyname='c'))

success
end
int
3

In [115]:
print(sillytry(movies,20))

end
error!!!: index out of range

In [116]:
print(sillytry(movies,"a"))

end
error!!!: Bad TYPE

In [117]:
children

['Andrew', 'Laura', 'Joe']

In [118]:
children[4]

IndexError: list index out of range

In [119]:
my_dict2

{'e': [1, 3],
 'b': '2',
 'c': 3,
 'a': [(1, True),
  (1, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (3, False)],
 'g': 'foo'}

In [120]:
my_dict2.pop('a')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3, 'g': 'foo'}

In [121]:
my_dict2.pop('e')
my_dict2

{'b': '2', 'c': 3, 'g': 'foo'}

In [122]:
#my_dict2["h"]= 'newerdata'
my_dict2.setdefault('g','newerdata')
my_dict2

{'b': '2', 'c': 3, 'g': 'foo'}

In [123]:
my_dict2["f"]

KeyError: 'f'

In [124]:
value = my_dict2.get('f')
print(value is None)

True

In [125]:
type(my_dict2.get('f'))

NoneType

In [126]:
my_dict2.values()

dict_values(['2', 3, 'foo'])

In [127]:
my_dict2.keys()

dict_keys(['b', 'c', 'g'])

In [128]:
my_dict2.items()

dict_items([('b', '2'), ('c', 3), ('g', 'foo')])

In [129]:
my_dict2['e']

KeyError: 'e'

In [130]:
for k,v in my_dict2.items():
    print('key: {} value {}'.format(k,v))

key: b value 2
key: c value 3
key: g value foo

In [132]:
# for k,v in my_dict2.items():
#     print('key: {} value {}'.format(k,v))
    
d_sample = {'key: '+str(k)+' value '+str(v) for k,v in my_dict2.items()}
d_sample

{'key: b value 2', 'key: c value 3', 'key: g value foo'}

In [133]:
# for k,v in my_dict2.items():
#     print('key: {} value {}'.format(k,v))
    
d_sample = {"key": str(k)+' value '+str(v) for k,v in my_dict2.items()}
d_sample

{'key': 'g value foo'}

In [134]:
# for k,v in my_dict2.items():
#     print('key: {} value {}'.format(k,v))
    
d_sample = {"key"+ str(k) : ' value '+str(v) for k,v in my_dict2.items()}
d_sample

{'keyb': ' value 2', 'keyc': ' value 3', 'keyg': ' value foo'}

In [135]:
for d in d_sample:print(d)

keyb
keyc
keyg

In [136]:
print(list(my_dict2))

['b', 'c', 'g']

In [21]:
contacts = {
    "Joel":{
               "address": "1500 Anystreet"
               ,"city": "San Francisco"
               ,"state": "California"
               ,"postalCode": "94110"
               ,"phone": "555-555-1111"
          },
    "Anne":{"address": "1000 Somestreet", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-2222"},
    "Ben": {"address": "1400 Another Street", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-4444"}
}

In [138]:
print(contacts.keys())
print(contacts.items())
print(contacts.values())

dict_keys(['Joel', 'Anne', 'Ben'])
dict_items([('Joel', {'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}), ('Anne', {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}), ('Ben', {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'})])
dict_values([{'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}, {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}, {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'}])

In [139]:
contacts['Ben']['address']

'1400 Another Street'

In [140]:
contacts.get('Ben').get('address')

'1400 Another Street'

In [141]:
contacts.get('Anne').get('email')

In [142]:
#writing data
members = ["John Cleese", "Eric Idle","Terry Jones"]
# "w"= overwite, "a" = append, "r" = read + "a" ASCII(default) or "b" for binary
with open("pythoneers.txt", "w") as file:
    file.write("members"+ "\n")
    for m in members:
        file.write(m + "\n")          # adds new line

In [146]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 0CF2-974E

 Directory of c:\2023-02-DSI-WE\instructor\py\Core Python Lessons

04/23/2023  02:47 PM    <DIR>          .
04/23/2023  02:47 PM    <DIR>          ..
04/15/2023  04:24 PM    <DIR>          .ipynb_checkpoints
04/16/2023  11:09 AM               228 contacts.csv
04/15/2023  10:34 AM               364 Core Python.md
04/29/2023  04:57 PM            15,853 Lesson 01.ipynb
04/29/2023  04:57 PM            42,998 Lesson 02.ipynb
04/22/2023  02:48 PM            51,007 Lesson 03.ipynb
04/15/2023  10:34 AM                46 members.txt
04/16/2023  10:56 AM                98 movies.csv
04/16/2023  10:55 AM                17 my_dict2_items.csv
04/16/2023  10:50 AM                17 my_dict2_items.tsv
04/30/2023  02:32 PM                46 pythoneers.txt
04/23/2023  02:47 PM             1,400 test.ipynb
04/29/2023  04:57 PM                94 test.py
              12 File(s)        112,168 bytes
               3 Dir(s)  156,657,266,688 bytes free

In [147]:
!head pythoneers.txt

members
John Cleese
Eric Idle
Terry Jones

In [148]:
#reading data - overparse
lst = []
with open("members.txt", "r") as file:
    for r in file.read():
        lst.append(r)
lst

['m',
 'e',
 'm',
 'b',
 'e',
 'r',
 's',
 '\n',
 'J',
 'o',
 'h',
 'n',
 ' ',
 'C',
 'l',
 'e',
 'e',
 's',
 'e',
 '\n',
 'E',
 'r',
 'i',
 'c',
 ' ',
 'I',
 'd',
 'l',
 'e',
 '\n',
 'T',
 'e',
 'r',
 'r',
 'y',
 ' ',
 'J',
 'o',
 'n',
 'e',
 's',
 '\n']

In [149]:
#lst = []
with open("members.txt", "r") as file:
    lst2 = file.read().split("\n")
lst2

['members', 'John Cleese', 'Eric Idle', 'Terry Jones', '']

In [150]:
lst2[1:-1]

['John Cleese', 'Eric Idle', 'Terry Jones']

In [153]:
file = None

In [154]:
lst = []
with open("members.txt", "r") as file:
    for r in file.readlines():
        lst.append(r)
lst

['members\n', 'John Cleese\n', 'Eric Idle\n', 'Terry Jones\n']

In [157]:
lst = []
with open("members.txt", "r") as file:
    for r in file.readlines():
        lst.append(r.split("\n")[0])
lst[1:]

['John Cleese', 'Eric Idle', 'Terry Jones']

In [2]:
lst = []
with open("members.txt", "r") as file:
    for r in file.readlines():
        lst.append(r.split("\n"))
[l[0] for l in lst[1:]]

['John Cleese', 'Eric Idle', 'Terry Jones']

In [3]:
lst = []
with open("members.txt", "r") as file:
    for r in file.readlines():
        lst.append(r)
lst

['members\n', 'John Cleese\n', 'Eric Idle\n', 'Terry Jones\n']

In [4]:
[l.replace("\n","") for l in lst[1:]]

['John Cleese', 'Eric Idle', 'Terry Jones']

In [5]:
!head members.txt

members
John Cleese
Eric Idle
Terry Jones

In [8]:
my_dict2

{'e': [1, 3],
 'b': '2',
 'c': 3,
 'a': [(1, True),
  (1, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (3, False)]}

In [9]:
list(my_dict2)

['e', 'b', 'c', 'a']

In [10]:
with open("my_dict2_items.tsv", "w") as file:
    for x in list(my_dict2):
        file.write(x+'\t'+str(my_dict2[x])+"\n")

In [11]:
!head my_dict2_items.tsv

e	[1, 3]
b	2
c	3
a	[(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]

In [14]:
with open("my_dict2_items.csv", "w") as file:
    for x in list(my_dict2):
        file.write("\""+x+'\",\"'+str(my_dict2[x])+"\"\n")

In [ ]:
my_dict2

In [15]:
import csv
with open("my_dict2_items_python.csv", "w",  newline="") as file:
    writer = csv.writer(file)
    for x in list(my_dict2):
#        file.write(x+'\t'+str(my_dict2[x])+"\n")        
        writer.writerow([str(x),str(my_dict2[x])])

In [16]:
!head my_dict2_items_python.csv

e,"[1, 3]"
b,2
c,3
a,"[(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]"

In [19]:

with open("movies.csv", "w",  newline="") as file:
    writer = csv.writer(file)
    for x in movies:
#        file.write(x+'\t'+str(my_dict2[x])+"\n")        
        writer.writerow(x)

In [20]:
!head movies.csv

The Holy Grail,1975,9.99
Life of Brian,1979,12.3
The Meaning of Life,1983,7.5
Kundun,1997,4.7

In [22]:
contacts

{'Joel': {'address': '1500 Anystreet',
  'city': 'San Francisco',
  'state': 'California',
  'postalCode': '94110',
  'phone': '555-555-1111'},
 'Anne': {'address': '1000 Somestreet',
  'city': 'Fresno',
  'state': 'California',
  'postalCode': '93704',
  'phone': '125-555-2222'},
 'Ben': {'address': '1400 Another Street',
  'city': 'Fresno',
  'state': 'California',
  'postalCode': '93704',
  'phone': '125-555-4444'}}

In [24]:
with open("contacts.csv", "w",  newline="") as file:
    writer = csv.writer(file)
    header =["name"]
    for innerkeys in contacts["Joel"].keys(): header.append(innerkeys)
    writer.writerow(header)
    for outerkeys in contacts:
#        file.write(x+'\t'+str(my_dict2[x])+"\n") 
        dataline = []
        dataline.append(outerkeys)
        for t in contacts[outerkeys].values(): dataline.append(t)       
        writer.writerow(dataline)

In [25]:
! head contacts.csv

name,address,city,state,postalCode,phone
Joel,1500 Anystreet,San Francisco,California,94110,555-555-1111
Anne,1000 Somestreet,Fresno,California,93704,125-555-2222
Ben,1400 Another Street,Fresno,California,93704,125-555-4444

In [26]:
k =["name"]
for c in contacts["Joel"].keys(): k.append(c)
k

['name', 'address', 'city', 'state', 'postalCode', 'phone']

In [27]:
for c in contacts:
    print(c)
    for t in contacts[c].values(): print(t)

Joel
1500 Anystreet
San Francisco
California
94110
555-555-1111
Anne
1000 Somestreet
Fresno
California
93704
125-555-2222
Ben
1400 Another Street
Fresno
California
93704
125-555-4444

In [ ]:
!head contacts.csv

In [28]:
[k  for c in contacts for k in contacts[c].values()]

['1500 Anystreet',
 'San Francisco',
 'California',
 '94110',
 '555-555-1111',
 '1000 Somestreet',
 'Fresno',
 'California',
 '93704',
 '125-555-2222',
 '1400 Another Street',
 'Fresno',
 'California',
 '93704',
 '125-555-4444']