## Exercise
Use code to create all of the following to accomplish one or more tasks:
1. list
1. set
1. tuple
1. dictionary
1. function

Extra credit using index of variables and comprehensions


#### Four basic data structures in Python
|Data Type | Mutability | Subscriptability|Example|Use Cases
| ----------- | ----------- |----------- |-------|-------|
| Lists | writable|iterable, numeric indexed/subscriptable|`['item']`|General purpose inside function|
| Tuples|read-only| iterable, numeric indexed/subscriptable|`('item')`|General output of functions|
| Sets|read-only| iterable, not index|`{'item'}`|set based Venn diagram type operations|
| Dictionaries|writable| iterable key indexed/subscriptable|`{'KEY':'VALUE'}`| General input to functions |

In [ ]:
'''
Four basic data structures in Python
Lists - writable, iterable, numeric indexed/subscriptable
Sets - read-only, iterable, not index
Tuples - read-only, iterable, numeric indexed/subscriptable
Dictionaries - writable, iterable key indexed/subscriptable
'''

In [1]:
siblings =["Jim","Janet","Laura","Joe"]
type(siblings)

list

In [2]:
siblings.append('Andrew')
siblings

['Jim', 'Janet', 'Laura', 'Joe', 'Andrew']

In [3]:
len(siblings)

5

In [4]:
len?

Signature: len(obj, /)
Docstring: Return the number of items in a container.
Type:      builtin_function_or_method

In [5]:
#Python is 0 indexed, R and SQL are 1 indexed
siblings[0]

'Jim'

In [6]:
#append is list as a queue FIFO - First On First Out
siblings.append("Elizabeth")
siblings

['Jim', 'Janet', 'Laura', 'Joe', 'Andrew', 'Elizabeth']

In [7]:
#pop is list as a stack LIFO - Last In First Out
kid = siblings.pop() # same as kid = siblings.pop(len(siblings)-1)
print(kid)
siblings

Elizabeth

['Jim', 'Janet', 'Laura', 'Joe', 'Andrew']

In [8]:
kid = siblings.pop(2)
print(kid)
siblings

Laura

['Jim', 'Janet', 'Joe', 'Andrew']

In [84]:
potato_salad = d_people
# for item in list/tuple/set/dictionary: do some work with item
for item in siblings_set: print(item)

Janet
Joe
Jim
Laura
Andrew

In [85]:
people

{'Andrew', 'Brandon', 'Brian', 'Darian', 'Jaquellous', 'Rebecca', 'Temi'}

In [91]:
for item in people: print(item)

Brian
Temi
Darian
Andrew
Jaquellous
Brandon
Rebecca

In [92]:
k

NameError: name 'k' is not defined

In [98]:
d_people_new ={k: 'i' in k for k in people}
#k

In [99]:
d_people_new

{'Brian': True,
 'Temi': True,
 'Darian': True,
 'Andrew': False,
 'Jaquellous': False,
 'Brandon': False,
 'Rebecca': False}

In [88]:
#d_people ={k:len(k) for k in people}
dictionary_people = dict() # empty dictionary
for item in people: dictionary_people[item] = len(item) # item =
dictionary_people

{'Brian': 5,
 'Temi': 4,
 'Darian': 6,
 'Andrew': 6,
 'Jaquellous': 10,
 'Brandon': 7,
 'Rebecca': 7}

In [90]:
item

'Rebecca'

In [89]:
{item:len(item) for item in people}

{'Brian': 5,
 'Temi': 4,
 'Darian': 6,
 'Andrew': 6,
 'Jaquellous': 10,
 'Brandon': 7,
 'Rebecca': 7}

In [9]:
#example of iterating through a list
for person in siblings: print(person)

Jim
Janet
Joe
Andrew

In [10]:
for n in 'Name': print(n)

N
a
m
e

In [13]:
kid[3]

'r'

In [14]:
siblings_tuple = ("Jim","Janet","Laura","Joe")
type(siblings_tuple)

tuple

In [29]:
siblings_tuple

('Jim', 'Janet', 'Laura', 'Joe')

In [16]:
siblings_tuple[2]

'Laura'

In [20]:
siblings.index('Joe')

2

In [17]:
siblings_tuple.append('Andrew')

AttributeError: 'tuple' object has no attribute 'append'

In [21]:
siblings_set ={"Jim","Janet","Laura","Joe","Andrew"}
type(siblings_set)

set

In [22]:
people = {"Temi", "Brian", "Brandon","Jaquellous","Rebecca","Darian", "Andrew"}

In [23]:
# what is teh intersection between these two sets?
people & siblings_set

{'Andrew'}

In [24]:
people[1]

TypeError: 'set' object is not subscriptable

In [25]:
for p in people: print(p)

Brian
Temi
Darian
Andrew
Jaquellous
Brandon
Rebecca

In [26]:
# union of two sets
people | siblings_set

{'Andrew',
 'Brandon',
 'Brian',
 'Darian',
 'Janet',
 'Jaquellous',
 'Jim',
 'Joe',
 'Laura',
 'Rebecca',
 'Temi'}

In [ ]:
people.

In [27]:
blist = [1,2,3,4,5,4,3,4,5,6]
set(blist)

{1, 2, 3, 4, 5, 6}

In [28]:
#dictionary  a key-value pair
d_sample = {"a":1 , "b":2}
type(d_sample)

dict

In [30]:
list(siblings_tuple)

['Jim', 'Janet', 'Laura', 'Joe']

In [33]:
lol = [
    ["Jim",3]
    ]
type(lol)

list

In [34]:
# item and litem length
newl = []
#type(newl)
for s in siblings_tuple: 
    lol = []
    lol.append(s)
    lol.append(len(s))
    newl.append(lol)
newl

[['Jim', 3], ['Janet', 5], ['Laura', 5], ['Joe', 3]]

In [35]:
#python list comprehension
[[s, len(s)] for s in siblings_tuple]

[['Jim', 3], ['Janet', 5], ['Laura', 5], ['Joe', 3]]

In [37]:
#python tuple comprehension
for x in ([item, len(item)] for item in siblings_tuple): print(x)

['Jim', 3]
['Janet', 5]
['Laura', 5]
['Joe', 3]

In [38]:
people

{'Andrew', 'Brandon', 'Brian', 'Darian', 'Jaquellous', 'Rebecca', 'Temi'}

In [39]:
#Python comprehension for dictionary
d_people ={item:len(item) for item in people}

In [40]:
d_people

{'Brian': 5,
 'Temi': 4,
 'Darian': 6,
 'Andrew': 6,
 'Jaquellous': 10,
 'Brandon': 7,
 'Rebecca': 7}

In [42]:
d_people.values()

dict_values([5, 4, 6, 6, 10, 7, 7])

In [41]:
#dictionary built-in attributes
d_people.keys()

dict_keys(['Brian', 'Temi', 'Darian', 'Andrew', 'Jaquellous', 'Brandon', 'Rebecca'])

In [45]:
#dictionary built-in attributes
type(d_people.keys())

dict_keys

In [46]:
# list comprehension from dictionary
[d for d in d_people.keys()]

['Brian', 'Temi', 'Darian', 'Andrew', 'Jaquellous', 'Brandon', 'Rebecca']

In [47]:
type([d for d in d_people.keys()])

list

In [48]:
d_people.values()

dict_values([5, 4, 6, 6, 10, 7, 7])

In [49]:
# list comprehension from dictionary
[v for v in d_people.values()]

[5, 4, 6, 6, 10, 7, 7]

In [64]:
vlist = [v for v in d_people.values()]
klist = [d for d in d_people.keys()]
print(vlist)
print(klist)

[5, 4, 6, 6, 10, 7, 7, None, 7, 3]
['Brian', 'Temi', 'Darian', 'Andrew', 'Jaquellous', 'Brandon', 'Rebecca', 'Jason', 'newKid', 'Charlie']

In [66]:
set(klist)

{'Andrew',
 'Brandon',
 'Brian',
 'Charlie',
 'Darian',
 'Jaquellous',
 'Jason',
 'Rebecca',
 'Temi',
 'newKid'}

In [65]:
{klist[x]:vlist[x] for x in range(0,len(vlist))}

{'Brian': 5,
 'Temi': 4,
 'Darian': 6,
 'Andrew': 6,
 'Jaquellous': 10,
 'Brandon': 7,
 'Rebecca': 7,
 'Jason': None,
 'newKid': 7,
 'Charlie': 3}

In [55]:
unk_dct = {1:None,2:None}

In [63]:
unk_dct = {1,2}
{u:None for u in unk_dct}

{1: None, 2: None}

In [53]:
# subscriptable/indexed assignment for update/insert
d_people["Jason"] = None
d_people

{'Brian': 5,
 'Temi': 4,
 'Darian': 6,
 'Andrew': 6,
 'Jaquellous': 10,
 'Brandon': 7,
 'Rebecca': 7,
 'Jason': None,
 'newKid': 7}

In [56]:
type(d_people["Jason"])

NoneType

In [61]:
d_people["Charlie"] = 3
d_people

{'Brian': 5,
 'Temi': 4,
 'Darian': 6,
 'Andrew': 6,
 'Jaquellous': 10,
 'Brandon': 7,
 'Rebecca': 7,
 'Jason': None,
 'newKid': 7,
 'Charlie': 3}

In [59]:
type(None)

NoneType

In [58]:
type(0)

int

In [57]:
type('')

str

In [52]:
d_people["newKid"] = 7
d_people

{'Brian': 5,
 'Temi': 4,
 'Darian': 6,
 'Andrew': 6,
 'Jaquellous': 10,
 'Brandon': 7,
 'Rebecca': 7,
 'Jason': 9,
 'newKid': 7}

In [74]:
output = d_people.get("Brandoon")
None == output

True

In [100]:
#sample function
# count_char is name of function
# name is argument/parameter/input
def count_char(name):
    '''counts number of characters in input'''
    return len(name)

In [101]:
# example of trying to use global variable as global
name

NameError: name 'name' is not defined

In [102]:
count_char?

Signature: count_char(name)
Docstring: counts number of characters in input
File:      c:\users\andre\appdata\local\temp\ipykernel_96384\4107394483.py
Type:      function

In [103]:
count_char('Python')

# name = 'Python'

6

In [104]:
int_strlen = count_char("how long is this sentence?")
int_strlen

26

In [ ]:
count_char('Python')

In [110]:
# function with conditional code block
def fun_longerword(word1,word2):
    '''compares length of words and shows longer one'''
    len_w1 = len(word1)
    len_w2 = len(word2)
    if len_w1 < len_w2:
        print("{} is longer".format(word2))
    elif len_w1 > len_w2:    
        print("{} is longer".format(word1))
    else:
        print("{} is the same length as {}".format(word1,word2))

In [117]:
fun_longerword(word2="bacon",word1="juice")

juice is the same length as bacon

In [124]:
siblings_tuple

('Jim', 'Janet', 'Laura', 'Joe')

In [127]:
print("person: {} {} {} {}".format(siblings_tuple[3],siblings_tuple[2],siblings_tuple[1],siblings_tuple[0]))

person: Joe Laura Janet Jim

In [133]:
print("person: {} ".format(siblings_tuple))

person: ('Jim', 'Janet', 'Laura', 'Joe')

In [134]:
#pointer to a tuple
print("person: {3} {2} {1} {0}".format(*siblings_tuple))

person: Joe Laura Janet Jim

In [140]:
#pointer to a set
print("person: {} {} {} {}".format(*people))

person: Brian Temi Darian Andrew

In [138]:
#pointer to a list
print("person: {} {} {} {}".format(*siblings))

person: Jim Janet Joe Andrew

In [141]:
#raw dictionary in format
print("person: {}".format(d_people))

person: {'Brian': 5, 'Temi': 4, 'Darian': 6, 'Andrew': 6, 'Jaquellous': 10, 'Brandon': 7, 'Rebecca': 7}

In [142]:
#pointer to a dictionary
print("person: {} {} {} {}".format(*d_people))

person: Brian Temi Darian Andrew

In [143]:
#pointer to a dictionary: subscriptable?
print("person: {3} {2} {1} {0}".format(*d_people))

person: Andrew Darian Temi Brian

In [146]:
print("person: {Andrew} {Darian}".format(**d_people))

person: 6 6

In [130]:
type(siblings)

list

In [151]:
# **kwargs
# pointer
d_param = {"name":"Aren't dictionaries awesome?!?!?"}

In [148]:
type(d_param)

dict

In [149]:
count_char(name='Python')

6

In [152]:
count_char(**d_param)
#count_char(name='Python')

32

In [153]:
print("hello "+kid)

hello Laura

In [154]:
print(f"Hello {siblings}")

Hello ['Jim', 'Janet', 'Joe', 'Andrew']

In [155]:
print("Hello {0} {3} {2}".format(*siblings))

Hello Jim Andrew Joe

In [156]:
def count_char2(name):
    return name, len(name)

In [157]:
d_param

{'name': "Aren't dictionaries awesome?!?!?"}

In [158]:
a = count_char2(**d_param)
a[0]

"Aren't dictionaries awesome?!?!?"

In [160]:
a[1]

32

In [159]:
type(a)

tuple

In [161]:
var_out = count_char2(**d_param)
type(var_out)

tuple

In [162]:
var_out

("Aren't dictionaries awesome?!?!?", 32)

In [163]:
var_out[1]

32

In [164]:
nm, num = count_char2(**d_param)
print(nm)
print(num)

Aren't dictionaries awesome?!?!?
32