## Exercise
Use code to create all of the following to accomplish one or more tasks:
1. list
1. set
1. tuple
1. dictionary
1. function

Extra credit using index of variables and comprehensions


#### Four basic data structures in Python
|Data Type | Mutability | Subscriptability|Example|Use Cases
| ----------- | ----------- |----------- |-------|-------|
| Lists | writable|iterable, numeric indexed/subscriptable|`['item']`|General purpose inside function|
| Tuples|read-only| iterable, numeric indexed/subscriptable|`('item')`|General output of functions|
| Sets|writable| iterable, not index|`{'item'}`|set based Venn diagram type operations|
| Dictionaries|writable| iterable key indexed/subscriptable|`{'KEY':'VALUE'}`| General input to functions |

|Header1|Header2|
|---|---|
|[foo](https://www.databricks.com)|bar|

In [ ]:
'''
Four basic data structures in Python
Lists - writable, iterable, numeric indexed/subscriptable
Sets - read-only, iterable, not index
Tuples - read-only, iterable, numeric indexed/subscriptable
Dictionaries - writable, iterable key indexed/subscriptable
'''

In [7]:
siblings =["Jim","Janet","Laura","Joe"]
type(siblings)

list

In [8]:
siblings.append('Andrew')
siblings

['Jim', 'Janet', 'Laura', 'Joe', 'Andrew']

In [9]:
len(siblings)

5

Signature: len(obj, /)
Docstring: Return the number of items in a container.
Type:      builtin_function_or_method

In [12]:
#Python is 0 indexed, R and SQL are 1 indexed
siblings[1]

'Janet'

In [13]:
#append is list as a queue FIFO - First On First Out
siblings.append("Elizabeth")
siblings

['Jim', 'Janet', 'Laura', 'Joe', 'Andrew', 'Elizabeth']

In [14]:
#pop is list as a stack LIFO - Last In First Out
kid = siblings.pop() # same as kid = siblings.pop(len(siblings)-1)
print(kid)
siblings

Elizabeth

['Jim', 'Janet', 'Laura', 'Joe', 'Andrew']

In [15]:
siblings.index('Laura')

2

In [ ]:
kid = siblings.pop(2)
print(kid)
siblings

In [17]:
# potato_salad = d_people
# for item in list/tuple/set/dictionary: do some work with item
for i in siblings: # for block
    print(i)        # code executed in for block

Jim
Janet
Laura
Joe
Andrew

In [ ]:
people

In [ ]:
for item in people: print(item)

In [ ]:
k

In [ ]:
d_people_new ={k: 'i' in k for k in people}
#k

In [ ]:
d_people_new

In [ ]:
#d_people ={k:len(k) for k in people}
dictionary_people = dict() # empty dictionary
for item in people: dictionary_people[item] = len(item) # item =
dictionary_people

In [ ]:
item

In [ ]:
{item:len(item) for item in people}

In [18]:
#example of iterating through a list
for person in siblings: print(person)

Jim
Janet
Laura
Joe
Andrew

In [19]:
for n in 'Name': print(n)

N
a
m
e

In [20]:
kid[3]

'z'

In [21]:
siblings_tuple = ("Jim","Janet","Laura","Joe")
type(siblings_tuple)

tuple

In [22]:
siblings_tuple

('Jim', 'Janet', 'Laura', 'Joe')

In [23]:
siblings_tuple[2]

'Laura'

In [25]:
siblings_tuple.index('Joe')

3

In [ ]:
siblings_tuple

In [26]:
siblings_tuple.append('Andrew')

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
siblings.append("Joe")
siblings

['Jim', 'Janet', 'Laura', 'Joe', 'Andrew', 'Joe']

In [29]:
set(siblings)

{'Andrew', 'Janet', 'Jim', 'Joe', 'Laura'}

In [27]:
siblings_set ={"Jim","Janet","Laura","Joe","Andrew"}
type(siblings_set)

set

In [30]:
people = {"Temi", "Brian", "Brandon","Jaquellous","Rebecca","Darian", "Andrew"}

In [33]:
# what is the intersection between these two sets?
people & siblings_set

{'Andrew'}

In [31]:
people[1]

TypeError: 'set' object is not subscriptable

In [32]:
for p in people: print(p)

Jaquellous
Temi
Brandon
Rebecca
Darian
Brian
Andrew

In [36]:
# union of two sets
people | siblings_set

{'Andrew',
 'Brandon',
 'Brian',
 'Darian',
 'Janet',
 'Jaquellous',
 'Jim',
 'Joe',
 'Laura',
 'Rebecca',
 'Temi',
 'Tom'}

In [35]:
people.add("Tom")

In [ ]:
blist = [1,2,3,4,5,4,3,4,5,6]
set(blist)

In [37]:
#dictionary  a key-value pair
d_sample = {"a":1 , "b":2}
type(d_sample)

dict

In [38]:
list(siblings_tuple)

['Jim', 'Janet', 'Laura', 'Joe']

In [39]:
lol = [
    ["Jim",3]
    ]
type(lol)

list

In [40]:
# item and litem length
newl = []
#type(newl)
for s in siblings_tuple: 
    lol = []
    lol.append(s)
    lol.append(len(s))
    newl.append(lol)
newl

[['Jim', 3], ['Janet', 5], ['Laura', 5], ['Joe', 3]]

In [41]:
#python list comprehension
[[s, len(s)] for s in siblings_tuple]

[['Jim', 3], ['Janet', 5], ['Laura', 5], ['Joe', 3]]

In [42]:
#python tuple comprehension
for x in ([item, len(item)] for item in siblings_tuple): print(x)

['Jim', 3]
['Janet', 5]
['Laura', 5]
['Joe', 3]

In [43]:
people

{'Andrew',
 'Brandon',
 'Brian',
 'Darian',
 'Jaquellous',
 'Rebecca',
 'Temi',
 'Tom'}

In [44]:
#Python comprehension for dictionary
d_people ={item:len(item) for item in people}

In [45]:
d_people

{'Jaquellous': 10,
 'Temi': 4,
 'Brandon': 7,
 'Rebecca': 7,
 'Darian': 6,
 'Brian': 5,
 'Tom': 3,
 'Andrew': 6}

In [46]:
d_people.values()

dict_values([10, 4, 7, 7, 6, 5, 3, 6])

In [47]:
#dictionary built-in attributes
d_people.keys()

dict_keys(['Jaquellous', 'Temi', 'Brandon', 'Rebecca', 'Darian', 'Brian', 'Tom', 'Andrew'])

In [48]:
#dictionary built-in attributes
type(d_people.keys())

dict_keys

In [49]:
# list comprehension from dictionary
[d for d in d_people.keys()]

['Jaquellous',
 'Temi',
 'Brandon',
 'Rebecca',
 'Darian',
 'Brian',
 'Tom',
 'Andrew']

In [50]:
type([d for d in d_people.keys()])

list

In [51]:
d_people.values()

dict_values([10, 4, 7, 7, 6, 5, 3, 6])

In [52]:
# list comprehension from dictionary
[v for v in d_people.values()]

[10, 4, 7, 7, 6, 5, 3, 6]

In [53]:
vlist = [v for v in d_people.values()]
klist = [d for d in d_people.keys()]
print(vlist)
print(klist)

[10, 4, 7, 7, 6, 5, 3, 6]
['Jaquellous', 'Temi', 'Brandon', 'Rebecca', 'Darian', 'Brian', 'Tom', 'Andrew']

In [54]:
set(klist)

{'Andrew',
 'Brandon',
 'Brian',
 'Darian',
 'Jaquellous',
 'Rebecca',
 'Temi',
 'Tom'}

In [57]:
for r in range(0,len(vlist)): print (r)

0
1
2
3
4
5
6
7

In [58]:
{klist[x]:vlist[x] for x in range(0,len(vlist))}

{'Jaquellous': 10,
 'Temi': 4,
 'Brandon': 7,
 'Rebecca': 7,
 'Darian': 6,
 'Brian': 5,
 'Tom': 3,
 'Andrew': 6}

In [59]:
unk_dct = {1:None,2:None}

In [60]:
unk_dct = {1,2}
{u:None for u in unk_dct}

{1: None, 2: None}

In [62]:
# subscriptable/indexed assignment for update/insert
d_people["Jason"] = 7
d_people

{'Jaquellous': 10,
 'Temi': 4,
 'Brandon': 7,
 'Rebecca': 7,
 'Darian': 6,
 'Brian': 5,
 'Tom': 3,
 'Andrew': 6,
 'Jason': 7}

In [63]:
type(d_people["Jason"])

int

In [64]:
d_people["Charlie"] = 3
d_people

{'Jaquellous': 10,
 'Temi': 4,
 'Brandon': 7,
 'Rebecca': 7,
 'Darian': 6,
 'Brian': 5,
 'Tom': 3,
 'Andrew': 6,
 'Jason': 7,
 'Charlie': 3}

In [66]:
print(siblings)
foo = siblings.reverse()
print(siblings)
print(type(foo))

['Jim', 'Janet', 'Laura', 'Joe', 'Andrew', 'Joe']
['Joe', 'Andrew', 'Joe', 'Laura', 'Janet', 'Jim']
<class 'NoneType'>

In [67]:
type(None)

NoneType

In [68]:
type(0)

int

In [69]:
type('')

str

In [70]:
d_people["newKid"] = 7
d_people

{'Jaquellous': 10,
 'Temi': 4,
 'Brandon': 7,
 'Rebecca': 7,
 'Darian': 6,
 'Brian': 5,
 'Tom': 3,
 'Andrew': 6,
 'Jason': 7,
 'Charlie': 3,
 'newKid': 7}

In [71]:
d_people["Brandoon"]

KeyError: 'Brandoon'

In [72]:
output = d_people.get("Brandoon")
None == output

True

In [73]:
#sample function
# count_char is name of function
# name is argument/parameter/input
def count_char(name):
    '''counts number of characters in input'''
    return len(name)

In [74]:
# example of trying to use global variable as global
name

NameError: name 'name' is not defined

In [75]:
count_char?

Signature: count_char(name)
Docstring: counts number of characters in input
File:      c:\users\andre\appdata\local\temp\ipykernel_87640\4107394483.py
Type:      function

In [76]:
count_char('Python')

# name = 'Python'

6

In [77]:
int_strlen = count_char("how long is this sentence?")
int_strlen

26

In [78]:
count_char('Python')

6

In [79]:
# function with conditional code block
def fun_longerword(word1,word2):
    '''compares length of words and shows longer one'''
    len_w1 = len(word1)
    len_w2 = len(word2)
    if len_w1 < len_w2:
        print("{} is longer".format(word2))
    elif len_w1 > len_w2:    
        print("{} is longer".format(word1))
    else:
        print("{} is the same length as {}".format(word1,word2))

In [82]:
fun_longerword(word2="bacon",word1="pancakes")

pancakes is longer

In [83]:
siblings_tuple

('Jim', 'Janet', 'Laura', 'Joe')

In [84]:
print("person: {} {} {} {}".format(siblings_tuple[3],siblings_tuple[2],siblings_tuple[1],siblings_tuple[0]))

person: Joe Laura Janet Jim

In [85]:
print("person: {} ".format(siblings_tuple))

person: ('Jim', 'Janet', 'Laura', 'Joe')

In [86]:
#pointer to a tuple
print("person: {3} {2} {1} {0}".format(*siblings_tuple))

person: Joe Laura Janet Jim

In [87]:
#pointer to a set
print("person: {} {} {} {}".format(*people))

person: Jaquellous Temi Brandon Rebecca

In [91]:
#pointer to a list
print("person: {2} {1} {3} {0}".format(*siblings))

person: Joe Andrew Laura Joe

In [89]:
#raw dictionary in format
print("person: {}".format(d_people))

person: {'Jaquellous': 10, 'Temi': 4, 'Brandon': 7, 'Rebecca': 7, 'Darian': 6, 'Brian': 5, 'Tom': 3, 'Andrew': 6, 'Jason': 7, 'Charlie': 3, 'newKid': 7}

In [93]:
for d in d_people.items(): print(d)

('Jaquellous', 10)
('Temi', 4)
('Brandon', 7)
('Rebecca', 7)
('Darian', 6)
('Brian', 5)
('Tom', 3)
('Andrew', 6)
('Jason', 7)
('Charlie', 3)
('newKid', 7)

In [94]:
#pointer to a dictionary
print("person: {} {} {} {}".format(*d_people))

person: Jaquellous Temi Brandon Rebecca

In [95]:
#pointer to a dictionary: subscriptable?
print("person: {3} {2} {1} {0}".format(*d_people))

person: Rebecca Brandon Temi Jaquellous

In [97]:
print("person: {Rebecca} {Temi}".format(**d_people))

person: 7 4

In [98]:
type(siblings)

list

In [99]:
# **kwargs
# pointer
d_param = {"name":"Aren't dictionaries awesome?!?!?"}

In [100]:
type(d_param)

dict

In [101]:
count_char("Python")

6

In [104]:
fun_longerword(word2="python",word1="c++")

python is longer

In [ ]:
count_char(name='Python')

In [106]:
d_param2={"word1":"python", "word2":"scala v 1.2"}
fun_longerword(**d_param2)

scala v 1.2 is longer

In [105]:
count_char(**d_param)
#count_char(name='Python')

32

In [107]:
print("hello "+kid)

hello Elizabeth

In [108]:
print(f"Hello {siblings}")

Hello ['Joe', 'Andrew', 'Joe', 'Laura', 'Janet', 'Jim']

In [109]:
print("Hello {0} {3} {2}".format(*siblings))

Hello Joe Laura Joe

In [110]:
def count_char2(name):
    return name, len(name)

In [111]:
d_param

{'name': "Aren't dictionaries awesome?!?!?"}

In [112]:
a = count_char2(**d_param)
a[0]

"Aren't dictionaries awesome?!?!?"

In [113]:
a[1]

32

In [114]:
type(a)

tuple

In [115]:
var_out = count_char2(**d_param)
type(var_out)

tuple

In [116]:
var_out

("Aren't dictionaries awesome?!?!?", 32)

In [117]:
var_out[1]

32

In [118]:
nm, num = count_char2(**d_param)
print(nm)
print(num)

Aren't dictionaries awesome?!?!?
32